<template>
    <component :is="component"></component>
</template>

<script>
    import {mapGetters} from "vuex";

    import Dashboard from '@/views/pages/Dashboard';

    export default {
        name: "Dashboard",
        computed: {
            ...mapGetters({
                isSuperAdmin: 'Auth/isSuperAdmin',
            }),
            component()
            {
                return Dashboard;
            }
        },
    }
</script>

<style scoped>

</style>