<template>
    <component :is="component"></component>
</template>

<script>
    import {mapGetters} from "vuex";

    import Employees from '@/views/pages/Employees';
    import SA_Employees from '@/views/pages/SuperAdmin/Employees';

    export default {
        name: "Employees",
        computed: {
            ...mapGetters({
                isSuperAdmin: 'Auth/isSuperAdmin',
            }),
            component()
            {
                if (this.isSuperAdmin)
                {
                    return SA_Employees;
                }
                else
                {
                    return Employees;
                }
            }
        },
    }
</script>

<style scoped>

</style>