<template>
    <component :is="component"></component>
</template>

<script>
    import {mapGetters} from "vuex";

    import UserProfile from '@/views/pages/UserProfile';
    import A_UserProfile from '@/views/pages/Admin/UserProfile';
    import SA_UserProfile from '@/views/pages/SuperAdmin/UserProfile';

    export default {
        name: "UserProfile",
        computed: {
            ...mapGetters({
                userActionPermissions: 'Auth/getUserActionPermissions',
                isSuperAdmin: 'Auth/isSuperAdmin',
            }),
            canUpdateEmployeesProfiles() {
                return this.userActionPermissions
                    .some(permission => permission.includes('employee.create') || permission.includes('employee.update'));
            },
            component() {
                if (this.isSuperAdmin)
                {
                    return SA_UserProfile;
                }
                else if (this.canUpdateEmployeesProfiles)
                {
                    return A_UserProfile;
                }
                else
                {
                    return UserProfile;
                }
            }
        },
    }
</script>

<style scoped>

</style>