@import '~vuetify/src/components/VChip/_variables'

.v-chip
    @each $name, $size in $icon-sizes
        &.v-size--#{$name}

            .v-avatar
                height: #{map-get($size, 'height')}px !important
                width: #{map-get($size, 'height')}px !important
                font-size: #{map-get($size, 'font-size')}px !important
