//title

.v-time-picker-title__center
    .v-time-picker-title
        justify-content: center

.v-time-picker-actions__center
    .v-picker__actions.v-card__actions
        align-self: center
        width: 100%

.v-time-picker__body_hide
    .v-picker__body
        display: none

.v-time-picker__actions_hide
    .v-picker__actions
        display: none

.v-time-picker__in_card
    box-shadow: none

.v-time-picker-card-title
    justify-content: center
    padding-bottom: 0
    color: white


.v-time-picker__readonly__disabled
    .v-picker__title__btn, .v-time-picker-title__time span
        opacity: 0.6

.v-time-picker__readonly__active
    .v-picker__title__btn, .v-time-picker-title__time span
        opacity: 1

.v-time-picker-card-title__readonly__disabled
    opacity: 0.6

.v-time-picker-card-title__readonly__active
    opacity: 1

.v-time-picker-card
    .v-progress-linear
        background: rgba(255, 255, 255, 0.50)
        height: 6px!important

.v-time-picker-row__none
    display: block
    flex-wrap: nowrap
    -webkit-box-flex: 0
    flex: none
    margin-right: 0
    margin-left: 0
