<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                            class="py-0"
                    >
                        <v-container
                                fluid
                        >
                            <v-card
                                    :color="'info lighten-2'"
                            >
                                <v-card-title>
                                    Available Annual Paid Leave Days
                                </v-card-title>
                                <v-data-table
                                        :headers="availablePaidLeaveDays.table.headers"
                                        :items="availablePaidLeaveDays.table.items"
                                        :items-per-page="-1"
                                        item-key="id"
                                        :search="availablePaidLeaveDays.table.search"
                                        :custom-filter="searchEntry"
                                        multi-sort
                                        :sort-by="['year', 'name']"
                                        :sort-desc="[true, false]"
                                        class="elevation-1"
                                >
                                    <template v-slot:top>
                                        <v-toolbar flat>
                                            <v-text-field
                                                    v-model="availablePaidLeaveDays.table.search"
                                                    append-icon="mdi-magnify"
                                                    label="Search"
                                                    single-line
                                                    hide-details
                                                    class="mx-4"
                                                    style="width: 100%"
                                            ></v-text-field>
                                            <v-divider
                                                    class="mx-4"
                                                    inset
                                                    vertical
                                            ></v-divider>
                                            <v-spacer></v-spacer>
                                            <v-dialog v-model="availablePaidLeaveDays.modal.state" max-width="500px">
                                                <template v-slot:activator="{ on }">
                                                    <v-btn @click="openAvailablePaidLeaveDaysModal" color="info" dark class="mb-2"
                                                           v-on="on">
                                                        <v-icon left>mdi-plus</v-icon>
                                                        <span>New Record</span>
                                                    </v-btn>
                                                </template>
                                                <v-card>
                                                    <v-card-title>
                                                        <span class="headline">{{ availablePaidLeaveDays.modal.title }}</span>
                                                    </v-card-title>

                                                    <v-card-text>
                                                        <v-container>
                                                            <v-row>
                                                                <v-col cols="12" sm="12" md="12" lg="12" xl="12" class="d-flex">
                                                                    <v-autocomplete
                                                                            v-model="availablePaidLeaveDays.modal.user_id"
                                                                            :disabled="availablePaidLeaveDays.modal.disableUserField"
                                                                            :items="employees"
                                                                            item-value="id"
                                                                            item-text="name"
                                                                            outlined
                                                                            label="Name"
                                                                    ></v-autocomplete>
                                                                </v-col>
                                                                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                                                                    <v-text-field outlined
                                                                                  :disabled="availablePaidLeaveDays.modal.disableYearField"
                                                                                  type="number"
                                                                                  min="1"
                                                                                  :max="parseInt($moment().format('YYYY'))"
                                                                                  step="1"
                                                                                  v-model="availablePaidLeaveDays.modal.year"
                                                                                  label="Year"></v-text-field>
                                                                </v-col>
                                                                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                                                                    <v-text-field outlined
                                                                                  type="number"
                                                                                  min="1"
                                                                                  step="1"
                                                                                  v-model="availablePaidLeaveDays.modal.days"
                                                                                  label="Days"></v-text-field>
                                                                </v-col>

                                                                <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                                                                    <v-dialog
                                                                            ref="expireAtModal"
                                                                            v-model="availablePaidLeaveDays.modal.expire_at.modalState"
                                                                            :return-value.sync="availablePaidLeaveDays.modal.expire_at.value"
                                                                            :max-width="300"
                                                                    >
                                                                        <template v-slot:activator="{ on }">
                                                                            <v-text-field
                                                                                    outlined
                                                                                    v-model="availablePaidLeaveDays.modal.expire_at.value"
                                                                                    label="Expire At"
                                                                                    readonly
                                                                                    v-on="on"
                                                                            ></v-text-field>
                                                                        </template>
                                                                        <v-date-picker
                                                                                ref="datePicker"
                                                                                :first-day-of-week="1"
                                                                                v-model="availablePaidLeaveDays.modal.expire_at.value"
                                                                                :min="$moment().add(1, 'days').format(dateMomentFormat)"
                                                                                @change="saveDate"
                                                                        ></v-date-picker>
                                                                    </v-dialog>
                                                                </v-col>
                                                            </v-row>
                                                        </v-container>
                                                    </v-card-text>

                                                    <v-card-actions>
                                                        <v-spacer></v-spacer>
                                                        <v-btn color="blue darken-1" text
                                                               @click="closeAvailablePaidLeaveDaysModal">
                                                            <v-icon left>mdi-arrow-left</v-icon>
                                                            Cancel
                                                        </v-btn>
                                                        <v-btn color="blue darken-1" text
                                                               @click="handleAction(availablePaidLeaveDays.modal.actionFunc)">
                                                            <v-icon left>{{ availablePaidLeaveDays.modal.saveButtonIcon }}
                                                            </v-icon>
                                                            {{ availablePaidLeaveDays.modal.saveButtonText }}
                                                        </v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-dialog>
                                        </v-toolbar>
                                    </template>
                                    <template v-slot:item.expires_at="{ item }">
                                        <template v-if="item.local_name !== 'Unknown'">
                                            {{$moment(item.expires_at).format(dateMomentFormat)}}
                                        </template>
                                    </template>
                                    <template v-slot:item.actions="{ item }">
                                        <div class="v-item-group theme--light v-btn-toggle--borderless">
                                            <v-btn @click="openAvailablePaidLeaveDaysModal(item)" color="info">
                                                <v-icon left color="white">mdi-pencil</v-icon>
                                                <span class="hidden-sm-and-down">Edit</span>
                                            </v-btn>
                                        </div>
                                    </template>
                                </v-data-table>
                            </v-card>
                        </v-container>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    export default {
        name: "AvailablePaidLeaveDays",
        async created()
        {
            await this.getAvailablePaidLeaveDaysEntries();
            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        async mounted()
        {

        },
        computed: {

        },
        data() {
            return {
                display: false,

                dateMomentFormat: 'YYYY-MM-DD',

                availablePaidLeaveDays: {
                    table: {
                        headers: [
                            {
                                text: 'Employee Name',
                                align: 'start',
                                value: 'user.name',
                            },
                            {
                                text: 'Year',
                                align: 'start',
                                value: 'year',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                value: 'days',
                            },
                            {
                                text: 'Expire At',
                                align: 'start',
                                value: 'expires_at',
                            },
                            {
                                text: 'Actions',
                                align: 'start',
                                sortable: false,
                                value: 'actions',
                            },
                        ],
                        items: [],
                        search: '',
                    },
                    modal: {
                        state: false,
                        title: '',
                        actionFunc: '',
                        saveButtonIcon: '',
                        saveButtonText: '',
                        oldRecord: null,

                        id: '',
                        user_id: '',
                        year: '',
                        days: '',
                        expire_at: {
                            value: '',
                            modalState: false,
                        },

                        disableUserField: false,
                        disableYearField: false,
                    },
                    types: [],
                },

                employees: [],
            }
        },
        methods: {
            getAvailablePaidLeaveDaysEntries()
            {
                return new Promise((resolve, reject) => {
                    this.$axios.api.get('/api/available-paid-leave-days/get')
                        .then(async response => {
                            this.availablePaidLeaveDays.table.items = response.data.availablePaidLeaveDays;
                            this.employees = response.data.employees;

                            resolve();
                        });
                });
            },
            searchEntry(value, search, item) {
                return value != null &&
                    search != null &&
                    typeof value === 'string' &&
                    value.toString().toLowerCase().indexOf(search) !== -1
            },
            openAvailablePaidLeaveDaysModal(item) {
                if (Object.prototype.hasOwnProperty.call(item, 'id')) {
                    this.availablePaidLeaveDays.modal.oldRecord = item;
                    this.availablePaidLeaveDays.modal.title = 'Edit Record';
                    this.availablePaidLeaveDays.modal.actionFunc = 'updateRecord';
                    this.availablePaidLeaveDays.modal.saveButtonIcon = 'mdi-content-save';
                    this.availablePaidLeaveDays.modal.saveButtonText = 'Update';

                    this.availablePaidLeaveDays.modal.id = item.id;
                    this.availablePaidLeaveDays.modal.user_id = item.user_id;
                    this.availablePaidLeaveDays.modal.year = item.year;
                    this.availablePaidLeaveDays.modal.days = item.days;
                    this.availablePaidLeaveDays.modal.expire_at.value = this.$moment(item.expires_at).format(this.dateMomentFormat);

                    this.availablePaidLeaveDays.modal.disableUserField = true;
                    this.availablePaidLeaveDays.modal.disableYearField = true;
                } else {
                    this.availablePaidLeaveDays.modal.oldRecord = null;
                    this.availablePaidLeaveDays.modal.title = 'Add Record';
                    this.availablePaidLeaveDays.modal.actionFunc = 'addNewRecord';
                    this.availablePaidLeaveDays.modal.saveButtonIcon = 'mdi-plus';
                    this.availablePaidLeaveDays.modal.saveButtonText = 'Add';

                    this.availablePaidLeaveDays.modal.id = '';
                    this.availablePaidLeaveDays.modal.user_id = '';
                    // this.availablePaidLeaveDays.modal.year = '';
                    this.availablePaidLeaveDays.modal.year = parseInt(this.$moment().format('YYYY'));
                    // this.availablePaidLeaveDays.modal.days = '';
                    this.availablePaidLeaveDays.modal.days = 1;
                    this.availablePaidLeaveDays.modal.expire_at.value = '';

                    this.availablePaidLeaveDays.modal.disableUserField = false;
                    this.availablePaidLeaveDays.modal.disableYearField = false;
                }

                this.availablePaidLeaveDays.modal.state = true;
            },
            closeAvailablePaidLeaveDaysModal() {
                this.availablePaidLeaveDays.modal.state = false;
                this.availablePaidLeaveDays.modal.title = '';
                this.availablePaidLeaveDays.modal.actionFunc = '';
                this.availablePaidLeaveDays.modal.saveButtonIcon = '';
                this.availablePaidLeaveDays.modal.saveButtonText = '';
                this.availablePaidLeaveDays.modal.oldRecord = null;
                this.availablePaidLeaveDays.modal.id = '';
                this.availablePaidLeaveDays.modal.user_id = '';
                this.availablePaidLeaveDays.modal.year = '';
                this.availablePaidLeaveDays.modal.days = '';
                this.availablePaidLeaveDays.modal.expire_at.value = '';

                this.availablePaidLeaveDays.modal.disableUserField = false;
                this.availablePaidLeaveDays.modal.disableYearField = false;
            },
            saveDate(date) {
                this.$refs.expireAtModal.save(date);
            },
            handleAction(actionFunc) {
                this[actionFunc]();
            },
            addNewRecord() {
                if (this.availablePaidLeaveDays.modal.user_id === '') {
                    this.$swal.fire({
                        title: 'An User Must Be Selected!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.availablePaidLeaveDays.modal.year)) {
                    this.$swal.fire({
                        title: 'The Year Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                const recordExists = this.availablePaidLeaveDays.table.items.find(r => ((r.year === parseInt(this.availablePaidLeaveDays.modal.year)) && (r.user_id === parseInt(this.availablePaidLeaveDays.modal.user_id))));
                if (recordExists) {
                    this.$swal.fire({
                        title: 'A Record For The Selected User From That Year Already Exists!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.availablePaidLeaveDays.modal.days)) {
                    this.$swal.fire({
                        title: 'The Days Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.availablePaidLeaveDays.modal.expire_at.value)) {
                    this.$swal.fire({
                        title: 'The Expire At Date Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                this.$swal.fire({
                    title: 'Adding Record',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    user_id: this.availablePaidLeaveDays.modal.user_id,
                    year: this.availablePaidLeaveDays.modal.year,
                    days: this.availablePaidLeaveDays.modal.days,
                    expires_at: this.availablePaidLeaveDays.modal.expire_at.value,
                };

                this.$axios.api.post('api/available-paid-leave-days/create', payload)
                    .then(response => {
                        if (response.status === this.CT.HTTP_OK) {
                            let newRecord = response.data.entry;

                            this.availablePaidLeaveDays.table.items.push(newRecord);
                            this.closeAvailablePaidLeaveDaysModal();

                            this.$swal.fire({
                                title: 'Record Added!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    });
            },
            updateRecord() {
                if (this.availablePaidLeaveDays.modal.user_id === '') {
                    this.$swal.fire({
                        title: 'An User Must Be Selected!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.availablePaidLeaveDays.modal.year)) {
                    this.$swal.fire({
                        title: 'The Year Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                let indexUpdatedRecord = this.availablePaidLeaveDays.table.items
                    .map(d => d.id)
                    .indexOf(this.availablePaidLeaveDays.modal.id)
                ;
                let recordsWithoutSelf = this.availablePaidLeaveDays.table.items.slice();
                recordsWithoutSelf.splice(indexUpdatedRecord, 1);
                const recordExists = recordsWithoutSelf.find(r => ((r.year === parseInt(this.availablePaidLeaveDays.modal.year)) && (r.user_id === parseInt(this.availablePaidLeaveDays.modal.user_id))));
                if (recordExists) {
                    this.$swal.fire({
                        title: 'A Record For The Selected User From That Year Already Exists!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.availablePaidLeaveDays.modal.days)) {
                    this.$swal.fire({
                        title: 'The Days Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.availablePaidLeaveDays.modal.expire_at.value)) {
                    this.$swal.fire({
                        title: 'The Expire At Date Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                this.$swal.fire({
                    title: 'Updating Record',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    id: this.availablePaidLeaveDays.modal.id,
                    user_id: this.availablePaidLeaveDays.modal.user_id,
                    year: this.availablePaidLeaveDays.modal.year,
                    days: this.availablePaidLeaveDays.modal.days,
                    expires_at: this.availablePaidLeaveDays.modal.expire_at.value,
                };

                this.$axios.api.post('api/available-paid-leave-days/update', payload)
                    .then(response => {
                        if (response.status === this.CT.HTTP_OK) {
                            let updatedRecord = response.data.entry;

                            let indexUpdatedRecord = this.availablePaidLeaveDays.table.items
                                .map(d => d.id)
                                .indexOf(updatedRecord.id)
                            ;

                            this.availablePaidLeaveDays.table.items.splice(indexUpdatedRecord, 1, updatedRecord);
                            this.closeAvailablePaidLeaveDaysModal();

                            this.$swal.fire({
                                title: 'Record Updated!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    });
            },
        },
        watch: {
            'availablePaidLeaveDays.modal.year': function (newVal, oldVal) {
                const year = parseInt(this.$moment().format('YYYY'));

                if (typeof newVal === 'number' && (newVal % 1) === 0)
                {
                    newVal = newVal.toString();
                }

                newVal = newVal.replace(/^0+/, '');
                this.availablePaidLeaveDays.modal.year = newVal;

                if (newVal === '' || newVal === 0)
                {
                    newVal = year;
                    this.availablePaidLeaveDays.modal.year = newVal;
                }

                if (newVal > year)
                {
                    newVal = year;
                    this.availablePaidLeaveDays.modal.year = newVal;
                }
            },
            'availablePaidLeaveDays.modal.days': function (newVal, oldVal) {
                if (typeof newVal === 'number' && (newVal % 1) === 0)
                {
                    newVal = newVal.toString();
                }

                newVal = newVal.replace(/^0+/, '');
                this.availablePaidLeaveDays.modal.days = newVal;

                if (newVal === '' || newVal === 0)
                {
                    newVal = '1';
                    this.availablePaidLeaveDays.modal.days = newVal;
                }
            },
        }
    }
</script>

<style scoped>

</style>