<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-card
                >
                    <v-card-title class="title">
                        API Config
                    </v-card-title>
                    <v-card-text class="pb-0">
                        <v-row>
                            <v-col
                                    cols="12"
                                    sm="12"
                                    md="12"
                                    lg="12"
                                    xl="12"
                                    class="pb-0"
                            >
                                <v-card-subtitle class="pb-3">
                                    Token Lifetime
                                </v-card-subtitle>
                                <v-divider
                                        class="mx-3"
                                >
                                </v-divider>
                            </v-col>
                            <v-col
                                    cols="12"
                                    sm="6"
                                    md="6"
                                    lg="6"
                                    xl="6"
                                    class="pb-0"
                            >
                                <v-text-field
                                        v-model="apiConfig.token_lifetime.value"
                                        label="Timeframe"
                                        type="number"
                                        min="1"
                                        step="1"
                                        outlined
                                ></v-text-field>
                            </v-col>
                            <v-col
                                    cols="12"
                                    sm="6"
                                    md="6"
                                    lg="6"
                                    xl="6"
                                    class="pb-0"
                            >
                                <v-select
                                        v-model="apiConfig.token_lifetime.units"
                                        :items="token_lifetime_units"
                                        label="Units"
                                        outlined
                                ></v-select>
                            </v-col>
                            <v-col
                                    cols="12"
                                    sm="12"
                                    md="12"
                                    lg="12"
                                    xl="12"
                                    class="pb-0"
                            >
                                <v-card-subtitle class="pb-3">
                                    Country
                                </v-card-subtitle>
                                <v-divider
                                        class="mx-3"
                                >
                                </v-divider>
                            </v-col>
                            <v-col
                                    cols="12"
                                    sm="12"
                                    md="12"
                                    lg="12"
                                    xl="12"
                                    class="pb-0"
                            >
                                <v-autocomplete
                                        v-model="apiConfig.country"
                                        :items="countries"
                                        item-text="country"
                                        item-value="code"
                                        outlined
                                        label="Country"
                                ></v-autocomplete>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                                color="success"
                                @click="updateConfig"
                        >
                            Update
                            <v-icon right>mdi-content-save</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    export default {
        name: "Config",
        async created()
        {
            await this.getApiConfig();
            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        computed: {
        },
        data() {
            return {
                display: false,

                apiConfig: {
                    token_lifetime: {
                        value: '',
                        units: '',
                    },
                    country: '',
                },
                countries: [],

                token_lifetime_units: [
                    'minute',
                    'hour',
                    'day',
                    'week',
                    'month'
                ],
            }
        },
        methods: {
            getApiConfig()
            {
                return new Promise( (resolve, reject) => {
                    this.$axios.api.get('api/config/get')
                        .then(response => {
                            this.apiConfig = response.data.config;
                            this.countries = response.data.supportedCountries;

                            let tokenLifetimeSplit = this.apiConfig.token_lifetime.split(' ');

                            this.$set(this.apiConfig, 'token_lifetime', {});
                            this.$set(this.apiConfig.token_lifetime, 'value', parseInt(tokenLifetimeSplit[0]));
                            this.$set(this.apiConfig.token_lifetime, 'units', tokenLifetimeSplit[1]);

                            resolve();
                        });
                });
            },
            updateConfig()
            {
                this.$swal.fire({
                    title: 'Updating API Config',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    token_lifetime: this.apiConfig.token_lifetime.value + ' ' + this.apiConfig.token_lifetime.units,
                    country: this.apiConfig.country,
                };

                this.$axios.api.post('/api/config/update', payload)
                    .then( async (response) => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            await this.$store.dispatch('Auth/refreshApiConfig');
                            this.$swal.fire({
                                title: 'API Config Updated!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    });
            }
        },
        watch: {
            'apiConfig.token_lifetime.value': {
                immediate: true,
                deep: true,
                handler(newVal, oldVal) {
                    if (typeof newVal === 'number' && (newVal % 1) === 0)
                    {
                        newVal = newVal.toString();
                    }

                    newVal = newVal.replace(/^0+/, '');

                    if (newVal === '' || newVal === 0)
                    {
                        newVal = '1';
                    }

                    let selectedUnit = this.apiConfig.token_lifetime.units;

                    if (newVal === '1')
                    {
                        for (let token_lifetime_unit_index in this.token_lifetime_units)
                        {
                            let token_lifetime_unit = this.token_lifetime_units[token_lifetime_unit_index];


                            if (token_lifetime_unit[token_lifetime_unit.length - 1] === 's')
                            {
                                let singularTokenLifetimeUnit = token_lifetime_unit.substring(0, token_lifetime_unit.length - 1);

                                if (token_lifetime_unit === selectedUnit)
                                {
                                    this.apiConfig.token_lifetime.units = singularTokenLifetimeUnit;
                                    this.$set(this.apiConfig.token_lifetime, 'units', singularTokenLifetimeUnit);
                                }

                                this.token_lifetime_units.splice(token_lifetime_unit_index, 1, singularTokenLifetimeUnit);
                            }
                        }
                    }
                    else
                    {
                        for (let token_lifetime_unit_index in this.token_lifetime_units)
                        {
                            let token_lifetime_unit = this.token_lifetime_units[token_lifetime_unit_index];

                            if (token_lifetime_unit[token_lifetime_unit.length - 1] !== 's')
                            {
                                let pluralTokenLifetimeUnit = token_lifetime_unit + 's';

                                if (token_lifetime_unit === selectedUnit)
                                {
                                    this.apiConfig.token_lifetime.units = pluralTokenLifetimeUnit;
                                    this.$set(this.apiConfig.token_lifetime, 'units', pluralTokenLifetimeUnit);
                                }
                                this.token_lifetime_units.splice(token_lifetime_unit_index, 1, token_lifetime_unit + 's');
                            }
                        }
                    }

                    this.$set(this.apiConfig.token_lifetime, 'value', newVal);
                    return newVal;
                },
            }
        }
    }
</script>

<style scoped>
    .custom-row-height {
        max-height: 130px !important;
    }
</style>