<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                            class="py-0"
                    >
                        <v-card
                        >
                            <v-row>
                                <v-col
                                        :cols="12"
                                        :sm="12"
                                        :md="12"
                                        :lg="12"
                                        :xl="12"
                                >
                                    <v-list
                                            class="text-center"
                                    >
                                        <v-subheader class="justify-center">
                                            Departments Hierarchy
                                        </v-subheader>
                                        <draggable v-model="departments">
                                            <template v-for="department in departments">
                                                <v-list-item :key="department.index" class="custom-cursor">
                                                    <v-list-item-content>
                                                        <v-list-item-title v-html="'#' + department.index + ' ' + department.name"></v-list-item-title>
                                                    </v-list-item-content>
                                                </v-list-item>
                                            </template>
                                        </draggable>
                                    </v-list>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="success" text @click="updateDepartmentsHierarchy">
                                            <v-icon left>mdi-content-save</v-icon>
                                            Save Changes
                                        </v-btn>
                                    </v-card-actions>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    export default {
        name: "DepartmentsHierarchy",
        async created()
        {
            await this.getDepartments();

            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        data() {
            return {
                display: false,

                departments: [],
            }
        },
        methods: {
            getDepartments()
            {
                return new Promise( (resolve, reject) => {
                    this.$axios.api.get('/api/department/hierarchy/get')
                        .then( response => {
                            this.departments = response.data.departments;
                            resolve();
                        });
                });
            },
            updateDepartmentsHierarchy()
            {
                this.$swal.fire({
                    title: 'Saving Changes',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                let departmentsHierarchy = this.departments
                    .slice()
                    .map(department => ({ id: department.id, department_id: department.id, index: department.index}));

                const payload = {
                    departments: departmentsHierarchy,
                };

                this.$axios.api.post('/api/department/hierarchy/update', payload)
                    .then(response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.$swal.fire({
                                title: 'Departments Hierarchy Updated!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })
            }
        },
        watch: {
            departments: {
                deep: true,
                handler: function (newVal, oldVal) {
                    let index = 1;
                    for (let key in newVal)
                    {
                        this.$set(this.departments[key], 'index', index);
                        index++;
                    }
                },
            }
        }
    }
</script>

<style scoped>
    .custom-cursor:hover {
        cursor: pointer;
    }
</style>