<template>
    <v-container
            fluid
    >
        <v-layout
                align-center
                justify-center
                v-if="display"
        >
            <v-flex
                    cols12
                    sm12
                    md12
                    lg12
                    xl12
            >
                <v-card
                        class="mx-auto elevation-12"
                        :min-height="cardHeight"
                        :min-width="cardMinWidth"
                        :max-width="cardMaxWidth"
                >
                    <v-card-title class="title font-weight-regular justify-space-between">
                        <span>{{ stepTitle }}</span>
                        <v-avatar
                                color="primary lighten-2"
                                class="subheading white--text ml-auto"
                                size="24"
                                v-text="step"
                        ></v-avatar>
                    </v-card-title>

                    <v-window v-model="step">
                        <v-window-item :value="1">
                            <v-card-text>
                                <v-row>
                                    <v-col
                                            cols="12"
                                            sm="6"
                                            md="6"
                                            lg="6"
                                            xl="6"
                                    >
                                        <v-text-field
                                                v-model="config[step - 1].value"
                                                label="Timeframe"
                                                type="number"
                                                min="1"
                                                step="1"
                                                outlined
                                        ></v-text-field>
                                    </v-col>
                                    <v-col
                                            cols="12"
                                            sm="6"
                                            md="6"
                                            lg="6"
                                            xl="6"
                                    >
                                        <v-select
                                                v-model="config[step - 1].units"
                                                :items="token_lifetime_units"
                                                label="Units"
                                                outlined
                                        ></v-select>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-window-item>

                        <v-window-item :value="2">
                            <v-card-text>
                                <v-row>
                                    <v-col
                                            cols="12"
                                            sm="12"
                                            md="12"
                                            lg="12"
                                            xl="12"
                                    >
                                        <v-autocomplete
                                                v-model="selectedCountry"
                                                :items="countries"
                                                item-text="country"
                                                item-value="code"
                                                outlined
                                                label="Country"
                                        ></v-autocomplete>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-window-item>

                        <v-card-subtitle>
                            Don't worry! All of these options can be changed anytime you wish.
                        </v-card-subtitle>
                    </v-window>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-btn
                                @click="goTo('logout')"
                                text
                        >
                            Logout
                            <v-icon right>mdi-logout-variant</v-icon>
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn
                                :disabled="step === 1"
                                text
                                @click="step--"
                        >
                            <v-icon left>mdi-arrow-left</v-icon>
                            Back
                            <template v-if="step > 1">
                                ({{step - 1}})
                            </template>
                        </v-btn>
                        <template v-if="step < steps">
                            <v-btn
                                    :disabled="step === steps"
                                    color="primary"
                                    depressed
                                    @click="step++"
                            >
                                Next
                                <template v-if="step < steps">
                                    ({{step + 1}})
                                </template>
                                <v-icon right>mdi-arrow-right</v-icon>
                            </v-btn>
                        </template>
                        <template v-else>
                            <v-btn
                                    color="success"
                                    depressed
                                    @click="saveConfig"
                            >
                                Save
                                <v-icon right>mdi-content-save</v-icon>
                            </v-btn>
                        </template>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "InitializeApi",
        async mounted() {
            this.$swal.fire({
                title: 'Retrieving Options',
                icon: 'info',
                showCancelButton: false,
                showConfirmButton: false,
                allowEnterKey: false,
                allowEscapeKey: false,
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    this.$swal.showLoading()
                },
            });

            await this.getApiConfig();
            await this.initDefaultLegalHolidays();

            this.$swal.close();

            this.display = true;
        },
        computed: {
            stepTitle() {
                return this.config[this.step - 1].text;
            },
            cardHeight() {
                let height = this.$vuetify.breakpoint.height;

                switch (this.$vuetify.breakpoint.name) {
                    case 'xs':
                        height = Math.round(height / 2);
                        break;
                    case 'sm':
                    case 'md':
                    case 'lg':
                    case 'xl':
                        height = 0;
                        break;
                }

                return height;
            },
            cardMinWidth() {
                let width = this.$vuetify.breakpoint.width;

                switch (this.$vuetify.breakpoint.name) {
                    case 'xs':
                    case 'sm':
                        width = 0;
                        break;
                    case 'md':
                    case 'lg':
                    case 'xl':
                        width = Math.round(width / 2);
                        break;
                }

                return width;
            },
            cardMaxWidth() {
                let width = this.$vuetify.breakpoint.width;

                switch (this.$vuetify.breakpoint.name) {
                    case 'xs':
                    case 'sm':
                        break;
                    case 'md':
                    case 'lg':
                    case 'xl':
                        width = Math.round(width / 2);
                        break;
                }

                return width;
            },
            tokenLifetimeValue() {
                if (this.config[0] !== undefined)
                {
                    return this.config[0].value;
                }
                else
                {
                    return 0;
                }
            },
        },
        data() {
            return {
                display: false,

                steps: null,
                step: 1,

                config: [],

                token_lifetime_units: [
                    'minute',
                    'hour',
                    'day',
                    'week',
                    'month'
                ],

                countries: [],
                selectedCountry: null,
            }
        },
        methods: {
            getApiConfig()
            {
                return new Promise( (resolve, reject) => {
                    this.$axios.api.get('api/config/get-default')
                        .then(response => {
                            this.config = response.data.config;

                            this.steps = this.config.length;

                            let tokenLifetimeSplit = this.config[0].value.split(' ');
                            this.config[0].value = parseInt(tokenLifetimeSplit[0]);
                            this.config[0].units = tokenLifetimeSplit[1];

                            this.countries = response.data.supportedCountries;
                            this.selectedCountry = this.config[1].value;

                            resolve();
                        })
                });
            },
            initDefaultLegalHolidays()
            {
                return new Promise( (resolve, reject) => {
                    this.$axios.api.get('api/legal-holiday/initialize-default')
                        .then(response => {
                            resolve();
                        })
                });
            },
            saveConfig()
            {
                this.$swal.fire({
                    title: 'Saving Selections',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    token_lifetime: this.config[0].value + " "  + this.config[0].units,
                    country: this.selectedCountry,
                };

                this.$axios.api.post('/api/config/update', payload)
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.$swal.fire({
                                title: 'Config Registered!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            }).then( value => {
                                this.$swal.fire({
                                    title: 'You are being redirected to the main page',
                                    icon: 'info',
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    allowEnterKey: false,
                                    allowEscapeKey: false,
                                    allowOutsideClick: false,
                                    onBeforeOpen: () => {
                                        this.$swal.showLoading()
                                    },
                                })
                                this.$store.dispatch('Auth/logout')
                                    .then( async response => {
                                        const temporaryCredentials = this.$store.getters['Auth/getTemporaryCredentials'];
                                        await this.$store.dispatch('Auth/getApiClients');

                                        this.$axios.api
                                            .post('/api/oauth/auth/login', temporaryCredentials)
                                            .then( authResponse => {
                                                this.$store.dispatch('Auth/authenticate', authResponse.data)
                                                    .then( storeAuthResponse => {
                                                        this.$store.dispatch('Auth/deleteTemporaryCredentials')
                                                            .then( _ => {
                                                                this.goTo('employees', true);
                                                            })
                                                    })
                                            })
                                    });
                            });
                        }
                    });
            }
        },
        watch: {
            tokenLifetimeValue: function (newVal, oldVal) {
                let selectedUnit = this.config[0].units;

                if (newVal === '1')
                {
                    for (let token_lifetime_unit_index in this.token_lifetime_units)
                    {
                        let token_lifetime_unit = this.token_lifetime_units[token_lifetime_unit_index];


                        if (token_lifetime_unit[token_lifetime_unit.length - 1] === 's')
                        {
                            let singularTokenLifetimeUnit = token_lifetime_unit.substring(0, token_lifetime_unit.length - 1);

                            if (token_lifetime_unit === selectedUnit)
                            {
                                this.config[0].units = singularTokenLifetimeUnit;
                            }

                            this.token_lifetime_units.splice(token_lifetime_unit_index, 1, singularTokenLifetimeUnit);
                        }
                    }
                }
                else
                {
                    for (let token_lifetime_unit_index in this.token_lifetime_units)
                    {
                        let token_lifetime_unit = this.token_lifetime_units[token_lifetime_unit_index];

                        if (token_lifetime_unit[token_lifetime_unit.length - 1] !== 's')
                        {
                            let pluralTokenLifetimeUnit = token_lifetime_unit + 's';

                            if (token_lifetime_unit === selectedUnit)
                            {
                                this.config[0].units = pluralTokenLifetimeUnit;
                            }
                            this.token_lifetime_units.splice(token_lifetime_unit_index, 1, token_lifetime_unit + 's');
                        }
                    }
                }
            },
        }
    }
</script>

<style scoped>

</style>