<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                            class="py-0"
                    >
                        <v-card
                        >
                            <v-row>
                                <template v-for="(departmentPositions, key) in positions">
                                    <v-col
                                            :cols="12"
                                            :sm="12"
                                            :md="4"
                                            :lg="4"
                                            :xl="4"
                                            class="py-0"
                                            :key="'department_id_' + departmentPositions[0].department_id"
                                    >
                                        <v-subheader class="justify-center">
                                            {{departmentPositions[0].department_name}}
                                        </v-subheader>
                                        <v-list
                                                class="text-center"
                                        >
                                            <draggable v-model="positions[key]">
                                                <template v-for="departmentPosition in departmentPositions">
                                                    <v-list-item :key="'department_id_' + departmentPosition.department_id + '_position_id_' + departmentPosition.index" class="custom-cursor">
                                                        <v-list-item-content>
                                                            <v-list-item-title v-html="'#' + departmentPosition.index + ' ' + departmentPosition.name"></v-list-item-title>
                                                        </v-list-item-content>
                                                    </v-list-item>
                                                </template>
                                            </draggable>
                                        </v-list>
                                    </v-col>
                                </template>
                            </v-row>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="success" text @click="updatePositionsHierarchy">
                                    <v-icon left>mdi-content-save</v-icon>
                                    Save Changes
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    export default {
        name: "PositionsHierarchy",
        async created()
        {
            await this.getPositions();

            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        async mounted()
        {

        },
        computed: {

        },
        data() {
            return {
                display: false,

                positions: [],
            }
        },
        methods: {
            getPositions()
            {
                return new Promise( (resolve, reject) => {
                    this.$axios.api.get('/api/position/hierarchy/get')
                        .then( response => {
                            this.positions = response.data.positions;
                            resolve();
                        });
                });
            },
            updatePositionsHierarchy()
            {
                this.$swal.fire({
                    title: 'Saving Changes',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                let positionsHierarchy = [];

                for (let departmentPositions of this.positions)
                {
                    let mappedPositions = departmentPositions
                        .slice()
                        .map(position => ({ id: position.id, index: position.index}));

                    positionsHierarchy = positionsHierarchy.concat(mappedPositions);
                }

                const payload = {
                    positions: positionsHierarchy,
                };

                this.$axios.api.post('/api/position/hierarchy/update', payload)
                    .then(response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.$swal.fire({
                                title: 'Positions Hierarchy Updated!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })
            }
        },
        watch: {
            positions: {
                deep: true,
                handler: function (newVal, oldVal) {
                    let index;
                    for (let departmentKey in newVal)
                    {
                        index = 1;
                        for (let positionKey in newVal[departmentKey])
                        {
                            this.$set(this.positions[departmentKey][positionKey], 'index', index);
                            index++;
                        }
                    }
                },
            }
        }
    }
</script>

<style scoped>
    .custom-cursor:hover {
        cursor: pointer;
    }
</style>