<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                            class="py-0"
                    >
                        <v-container
                                fluid
                        >
                            <v-form
                                    v-model="validForm"
                            >
                                <v-row>
                                    <v-col
                                            :cols="12"
                                            :sm="12"
                                            :md="12"
                                            :lg="12"
                                            :xl="12"
                                            class="py-0"
                                    >
                                        <v-text-field
                                                v-model="password"
                                                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                                :type="showPassword ? 'text' : 'password'"
                                                :rules="[rules.notEmpty, rules.minLength]"
                                                name="input-10-1"
                                                label="Password"
                                                hint="At least 6 characters"
                                                counter
                                                outlined
                                                @click:append="showPassword = !showPassword"
                                        ></v-text-field>
                                        <v-text-field
                                                v-model="confirmPassword"
                                                :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                                :type="showConfirmPassword ? 'text' : 'password'"
                                                name="input-10-1"
                                                label="Confirm Password"
                                                hint="At least 6 characters"
                                                counter
                                                outlined
                                                @click:append="showConfirmPassword = !showConfirmPassword"
                                        ></v-text-field>


                                        <v-btn
                                                :disabled="!validForm"
                                                block
                                                color="success"
                                                class="mr-4"
                                                @click="updateProfile"
                                        >
                                            Update Profile
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-container>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    export default {
        name: "user-profile",
        async created() {
            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        computed: {
        },
        data() {
            return {
                display: false,

                validForm: false,

                password: '',
                showPassword: false,
                confirmPassword: '',
                showConfirmPassword: false,

                rules: {
                    notEmpty: p => (p.length !== 0 && p.trim().length !== 0) || "Password must not be empty.",
                    minLength: p => p.length >= 6 || "Min 6 characters.",
                }
            }
        },
        methods: {
            async updateProfile()
            {
                if (this.Validators.emptyString(this.password))
                {
                    this.$swal.fire({
                        title: 'Password Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEnterKey: false,
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                if (this.password.length < 6)
                {
                    this.$swal.fire({
                        title: 'Password Must Have At Least 6 Characters!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEnterKey: false,
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                if (this.password !== this.confirmPassword)
                {
                    this.$swal.fire({
                        title: "Passwords don't match!",
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEnterKey: false,
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                this.$swal.fire({
                    title: 'Updating Password',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    password: this.password,
                };

                this.$axios.api.post('/api/user-profile/update', payload)
                    .then( async (response) => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            await this.$swal.fire({
                                title: 'Password Updated!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })
            },
        },
        watch: {
        },
    }
</script>

<style scoped>

</style>