<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display === 2"
                    class="py-0"
            >
                <v-row>
                    <clocking-time-pickers
                            :col-offset="{
                        cols: 12,
                        sm: 12,
                        md: 12,
                        lg: 12,
                        xl: 12,
                    }"
                            @loaded="display++"
                    >
                    </clocking-time-pickers>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                    >
                        <v-data-table
                                fixed-header
                                :headers="headers"
                                :items="clockings"
                                :items-per-page="15"
                                item-key="id"
                                class="elevation-1 pa-6"
                                calculate-widths
                                :mobile-breakpoint="0"
                        >
                            <template v-slot:item="props">
                                <tr>
                                    <td class="text-start">{{ props.item.clock_in_date }}</td>
                                    <td class="text-start">{{ props.item.clock_in_time }}</td>
                                    <td class="text-start">{{ props.item.clock_out_date }}</td>
                                    <td class="text-start">{{ props.item.clock_out_time }}</td>
                                    <td class="text-start">{{ props.item.time }}</td>
                                </tr>
                            </template>
                            <template v-slot:top>
                                <v-container fluid>
                                    <v-row>
                                        <v-col
                                                :cols="12"
                                                :sm="4"
                                                :md="4"
                                                :lg="4"
                                                :xl="4"
                                        >
                                            <v-row class="pa-2">
                                                <v-layout>
                                                    <v-flex xs12>
                                                        <v-autocomplete
                                                                autocomplete="disabled"
                                                                :items="filters.year.list"
                                                                v-model="filters.year.value"
                                                                chips
                                                                small-chips
                                                                clearable
                                                                hide-selected
                                                                outlined
                                                                multiple
                                                                label="Year"
                                                                @change="onFilterChange('year')"
                                                        >
                                                            <template
                                                                    slot="selection"
                                                                    slot-scope="data"
                                                            >
                                                                <v-chip
                                                                        v-bind="data.attrs"
                                                                        :input-value="data.selected"
                                                                        close
                                                                        class="chip--select-multi"
                                                                        @click:close="removeFromSelected(data.item, 'year')"
                                                                >
                                                                    {{ data.item }}
                                                                </v-chip>
                                                            </template>
                                                        </v-autocomplete>
                                                    </v-flex>
                                                </v-layout>
                                            </v-row>
                                        </v-col>
                                        <v-col
                                                :cols="12"
                                                :sm="4"
                                                :md="4"
                                                :lg="4"
                                                :xl="4"
                                        >
                                            <v-row class="pa-2">
                                                <v-layout>
                                                    <v-flex xs12>
                                                        <v-autocomplete
                                                                autocomplete="disabled"
                                                                :items="filters.month.list"
                                                                v-model="filters.month.value"
                                                                chips
                                                                small-chips
                                                                clearable
                                                                hide-selected
                                                                outlined
                                                                multiple
                                                                label="Month"
                                                                @change="onFilterChange('month')"
                                                        >
                                                            <template
                                                                    slot="selection"
                                                                    slot-scope="data"
                                                            >
                                                                <v-chip
                                                                        v-bind="data.attrs"
                                                                        :input-value="data.selected"
                                                                        close
                                                                        class="chip--select-multi"
                                                                        @click:close="removeFromSelected(data.item, 'month')"
                                                                >
                                                                    {{ data.item }}
                                                                </v-chip>
                                                            </template>
                                                        </v-autocomplete>
                                                    </v-flex>
                                                </v-layout>

                                            </v-row>
                                        </v-col>
                                        <v-col
                                                :cols="12"
                                                :sm="4"
                                                :md="4"
                                                :lg="4"
                                                :xl="4"
                                        >
                                            <v-row class="pa-2">
                                                <v-layout>
                                                    <v-flex xs12>
                                                        <v-autocomplete
                                                                autocomplete="disabled"
                                                                :items="filters.day.list"
                                                                v-model="filters.day.value"
                                                                chips
                                                                small-chips
                                                                clearable
                                                                hide-selected
                                                                outlined
                                                                multiple
                                                                label="Day"
                                                                @change="onFilterChange('day')"
                                                        >
                                                            <template
                                                                    slot="selection"
                                                                    slot-scope="data"
                                                            >
                                                                <v-chip
                                                                        v-bind="data.attrs"
                                                                        :input-value="data.selected"
                                                                        close
                                                                        class="chip--select-multi"
                                                                        @click:close="removeFromSelected(data.item, 'day')"
                                                                >
                                                                    {{ data.item }}
                                                                </v-chip>
                                                            </template>
                                                        </v-autocomplete>
                                                    </v-flex>
                                                </v-layout>
                                            </v-row>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="display < 2"></loading-spinner>
    </div>
</template>

<script>

    import ClockingTimePickers from "@/components/ClockingTimePickers";

    export default {
        name: "Clocking",
        components: {
            ClockingTimePickers
        },
        async created() {
            await this.getUserClockings();
            this.display++;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        data() {
            return {
                display: 0,

                clockings: [],
                filters: {
                    year: {
                        initialList: [],
                        list: [],
                        value: [],
                    },
                    month: {
                        initialList: [],
                        list: [],
                        value: [],
                    },
                    day: {
                        initialList: [],
                        list: [],
                        value: [],
                    },
                },
                filtersKeys: [],
            }
        },
        computed: {
            headers() {
                return [
                    {
                        text: 'ID',
                        value: 'id',
                        class: ['d-none'],
                    },
                    {
                        text: 'Clock In Date',
                        value: 'clock_in_date',
                    },
                    {
                        text: 'Clock In Time',
                        value: 'clock_in_time',
                    },
                    {
                        text: 'Clock Out Date',
                        value: 'clock_out_date',
                    },
                    {
                        text: 'Clock Out Time',
                        value: 'clock_out_time',
                    },
                    {
                        text: 'Time',
                        value: 'time',
                    },
                    {
                        text: 'Year',
                        value: 'year',
                        filter: this.yearFilter,
                        class: ['d-none'],
                    },
                    {
                        text: 'Month',
                        value: 'month',
                        filter: this.monthFilter,
                        class: ['d-none'],
                    },
                    {
                        text: 'Day',
                        value: 'day',
                        filter: this.dayFilter,
                        class: ['d-none'],
                    },
                ]
            },
        },
        methods: {
            getUserClockings()
            {
                return this.$axios.api.get('/api/clocking/get')
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.clockings = response.data.clockings;

                            this.filters.year.initialList = response.data.filters.year;
                            this.filters.year.list = response.data.filters.year;

                            this.filters.month.initialList = response.data.filters.month;
                            this.filters.month.list = response.data.filters.month;

                            this.filters.day.initialList = response.data.filters.day;
                            this.filters.day.list = response.data.filters.day;

                            this.filtersKeys = Object.keys(response.data.filters);
                        }
                    })
            },
            yearFilter(value) {
                if (this.filters.year.value.length === 0) {
                    return true;
                }

                return this.filters.year.value.includes(value);
            },
            monthFilter(value) {
                if (this.filters.month.value.length === 0) {
                    return true;
                }

                return this.filters.month.value.includes(value.trim());
            },
            dayFilter(value) {
                if (this.filters.day.value.length === 0) {
                    return true;
                }

                return this.filters.day.value.includes(value.trim());
            },
            onFilterChange() {
                for (let filter of this.filtersKeys) {
                    this.updateFilterOptions(filter);
                }
            },
            updateFilterOptions(filter) {
                let filtersValues = this.getAllFiltersVariablesByType('value');
                let filtersToUpdate = this.getFiltersToUpdate(filter);
                let rows = this.clockings.slice();

                for (let filterToUpdate of filtersToUpdate) {
                    let filterValue = filtersValues[filterToUpdate];
                    rows = rows.filter(r => filterValue.includes(r[filterToUpdate]));
                }

                let availableOptions = rows.map(r => r[filter])
                    .filter((v, i, o) => o.indexOf(v) === i)
                ;
                let selectedOptions = this.getFilterVariableByName(filter, 'value');

                let union = availableOptions.concat(selectedOptions)
                    .filter((v, i, o) => o.indexOf(v) === i)
                ;
                this.setFilterVariableByName(filter, 'list', union);
            },
            getFiltersToUpdate(filter) {
                let filtersToUpdate = this.filtersKeys.slice();
                let indexFilterToRemove = filtersToUpdate.indexOf(filter);
                if (indexFilterToRemove > -1) {
                    filtersToUpdate.splice(indexFilterToRemove, 1);
                }

                return filtersToUpdate;
            },
            getFilterVariableByName(name, variable) {
                return this.filters[name][variable];
            },
            setFilterVariableByName(name, variable, value) {
                this.filters[name][variable] = value.slice();
            },
            getAllFiltersVariablesByType(type) {
                let response = {};

                for (let filter of this.filtersKeys) {
                    let filterValues = this.getFilterVariableByName(filter, type);
                    if (filterValues.length === 0) {
                        let filterOptionsList = this.getFilterVariableByName(filter, 'initialList');
                        filterValues = filterOptionsList.slice();
                    }
                    response[filter] = filterValues;
                }

                return response;
            },
            removeFromSelected(item, filter) {
                let filterValue = this.getFilterVariableByName(filter, 'value');
                const index = filterValue.indexOf(item);
                if (index >= 0)
                {
                    filterValue.splice(index, 1);
                }
                this.setFilterVariableByName(filter, 'value', filterValue);
                this.onFilterChange();
            },


        },
    }
</script>

<style lang="sass">
    @import '@/styles/sass/VChipFilter'
</style>

<style scoped>

</style>