<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display === 2"
                    class="py-0"
            >
                <v-row>
                    <clocking-time-pickers
                            :col-offset="{
                    cols: 12,
                    sm: 12,
                    md: 12,
                    lg: 12,
                    xl: 12,
                }"
                            @loaded="display++"
                    >
                    </clocking-time-pickers>
                </v-row>
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                    >
                        <v-card
                                v-if="display === 2"
                        >
                            <v-tabs
                                    v-model="legalHolidaysActiveTab"
                                    background-color="transparent"
                                    grow
                            >

                                <v-tab
                                        v-for="legalHolidayType in legalHolidaysTypes"
                                        :key="legalHolidayType"
                                        :href="`#legalHolidaysTab-${legalHolidayType}`"
                                >
                                    {{ legalHolidayType }}
                                </v-tab>
                            </v-tabs>

                            <v-tabs-items v-model="legalHolidaysActiveTab">
                                <v-tab-item
                                        v-for="legalHolidayType in legalHolidaysTypes"
                                        :key="legalHolidayType"
                                        :value="`legalHolidaysTab-${legalHolidayType}`"
                                >
                                    <v-simple-table>
                                        <template v-slot:default>
                                            <thead>
                                            <tr>
                                                <th class="text-left">Legal Holiday Name</th>
                                                <th class="text-left">Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr
                                                    v-for="legalHoliday in legalHolidays[legalHolidayType]"
                                                    :key="legalHoliday.name"
                                                    :class="{'passed': Helpers.isDateBefore(legalHoliday.date, $moment.now())}"
                                            >
                                                <template v-if="legalHoliday.local_name === 'Unknown'">
                                                    <td>{{ legalHoliday.fallback_name }}</td>
                                                </template>
                                                <template v-else>
                                                    <td>{{ legalHoliday.local_name }}</td>
                                                </template>
                                                <td>{{ legalHoliday.dateFormatted }}</td>
                                            </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-tab-item>
                            </v-tabs-items>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="display < 2"></loading-spinner>
    </div>
</template>

<script>
    import ClockingTimePickers from "@/components/ClockingTimePickers";
    import {mapGetters} from "vuex";

    export default {
        name: "Dashboard",
        components: {
            ClockingTimePickers
        },
        async created() {
            await this.getLegalHolidays();
            this.display++;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        computed: {
            ...mapGetters({
                apiCountryCode: 'Auth/getApiCountryCode',
            }),
        },
        data() {
            return {
                display: 0,

                legalHolidays: [],
                legalHolidaysTypes: [],
                legalHolidaysActiveTab: null,
            }
        },
        methods: {
            getLegalHolidays() {
                const query = {
                    country_code: this.apiCountryCode,
                };
                return this.$axios.api.get('/api/legal-holiday/get', {params: query})
                    .then(response => {
                        if (response.status === this.CT.HTTP_OK) {
                            this.legalHolidays = response.data.legalHolidays;
                            this.legalHolidaysTypes = Object.keys(this.legalHolidays);
                        }
                    })
            },
            checkLegalHolidayPassed(date) {
                const parsedDate = this.$moment(date);
                const now = this.$moment().startOf('day');

                return now > parsedDate;
            }
        }
    }
</script>

<style scoped>
    .passed {
        text-decoration: line-through;
    }
</style>