<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                    >
                        <v-card
                                v-if="display"
                        >
                            <v-tabs
                                    v-model="activeTab"
                                    background-color="transparent"
                                    grow
                            >
                                <v-tab
                                        :active-class="'primary--text text--lighten-2'"
                                        :href="`#${departments.active.tabHref}`"
                                >
                                    Active Departments
                                </v-tab>
                                <v-tab
                                        :active-class="'error--text text--lighten-2'"
                                        :href="`#${departments.deleted.tabHref}`"
                                >
                                    Deleted Departments
                                </v-tab>
                                <v-tabs-slider
                                        :color="activeTabClass"
                                >
                                </v-tabs-slider>
                                <v-tabs-items v-model="activeTab">
                                    <v-tab-item
                                            :value="`${departments.active.tabHref}`"
                                    >
                                        <v-container
                                                fluid
                                        >
                                            <v-card
                                                    :color="'info lighten-2'"
                                            >
                                                <v-card-title>
                                                    Active Departments
                                                </v-card-title>
                                                <v-data-table
                                                        :headers="departments.active.table.headers"
                                                        :items="departments.active.table.items"
                                                        :items-per-page="10"
                                                        item-key="name"
                                                        :search="departments.active.table.search"
                                                        :custom-filter="searchDepartment"
                                                        class="elevation-1"
                                                >
                                                    <template v-slot:top>
                                                        <v-toolbar flat>
                                                            <v-text-field
                                                                    v-model="departments.active.table.search"
                                                                    append-icon="mdi-magnify"
                                                                    label="Search Department"
                                                                    single-line
                                                                    hide-details
                                                                    class="mx-4"
                                                                    style="width: 100%"
                                                            ></v-text-field>
                                                            <v-divider
                                                                    class="mx-4"
                                                                    inset
                                                                    vertical
                                                            ></v-divider>
                                                            <v-spacer></v-spacer>
                                                            <!--                                                    <v-btn @click="openDepartmentModal" color="info" dark class="mb-2">-->
                                                            <!--                                                        <v-icon left>mdi-plus</v-icon>-->
                                                            <!--                                                        <span>New Department</span>-->
                                                            <!--                                                    </v-btn>-->
                                                            <v-dialog v-model="departmentModal.state" max-width="500px">
                                                                <template v-slot:activator="{ on }">
                                                                    <v-btn @click="openDepartmentModal" color="info"
                                                                           dark class="mb-2" v-on="on">
                                                                        <v-icon left>mdi-plus</v-icon>
                                                                        <span>New Department</span>
                                                                    </v-btn>
                                                                </template>
                                                                <v-card>
                                                                    <v-card-title>
                                                                        <span class="headline">{{ departmentModal.title }}</span>
                                                                    </v-card-title>

                                                                    <v-card-text>
                                                                        <v-container>
                                                                            <v-row>
                                                                                <v-col cols="12" sm="12" md="12" lg="12"
                                                                                       xl="12">
                                                                                    <v-text-field
                                                                                            v-model="departmentModal.name"
                                                                                            label="Name"></v-text-field>
                                                                                </v-col>
                                                                            </v-row>
                                                                        </v-container>
                                                                    </v-card-text>

                                                                    <v-card-actions>
                                                                        <v-spacer></v-spacer>
                                                                        <v-btn color="blue darken-1" text
                                                                               @click="closeDepartmentModal">
                                                                            <v-icon left>mdi-arrow-left</v-icon>
                                                                            Cancel
                                                                        </v-btn>
                                                                        <!--                                                                <v-btn color="blue darken-1" text @click="addNewDepartment">-->
                                                                        <v-btn color="blue darken-1" text
                                                                               @click="handleAction(departmentModal.actionFunc)">
                                                                            <v-icon left>{{
                                                                                departmentModal.saveButtonIcon }}
                                                                            </v-icon>
                                                                            {{ departmentModal.saveButtonText }}
                                                                        </v-btn>
                                                                    </v-card-actions>
                                                                </v-card>
                                                            </v-dialog>
                                                        </v-toolbar>
                                                    </template>
                                                    <template v-slot:item.actions="{ item }">
                                                        <div class="v-item-group theme--light v-btn-toggle--borderless">
                                                            <v-btn @click="openDepartmentModal(item)" color="info">
                                                                <v-icon left color="white">mdi-pencil</v-icon>
                                                                <span class="hidden-sm-and-down">Edit</span>
                                                            </v-btn>
                                                            <v-divider
                                                                    class="mx-1"
                                                                    inset
                                                                    vertical
                                                            ></v-divider>
                                                            <v-btn @click="deleteDepartment(item)" color="error">
                                                                <v-icon left color="white">mdi-delete</v-icon>
                                                                <span class="hidden-sm-and-down">Delete</span>
                                                            </v-btn>
                                                        </div>
                                                    </template>
                                                </v-data-table>
                                            </v-card>
                                        </v-container>
                                    </v-tab-item>
                                    <v-tab-item
                                            :value="`${departments.deleted.tabHref}`"
                                    >
                                        <v-container
                                                fluid
                                        >
                                            <v-card
                                                    :color="'error lighten-2'"
                                            >
                                                <v-card-title>
                                                    Deleted Departments
                                                </v-card-title>
                                                <v-data-table
                                                        :headers="departments.deleted.table.headers"
                                                        :items="departments.deleted.table.items"
                                                        :items-per-page="10"
                                                        item-key="name"
                                                        :search="departments.deleted.table.search"
                                                        :custom-filter="searchDepartment"
                                                        class="elevation-1"
                                                >
                                                    <template v-slot:top>
                                                        <v-row>
                                                            <v-col
                                                                    :cols="12"
                                                                    :sm="12"
                                                                    :md="12"
                                                                    :lg="12"
                                                                    :xl="12"
                                                            >
                                                                <v-text-field
                                                                        v-model="departments.deleted.table.search"
                                                                        append-icon="mdi-magnify"
                                                                        label="Search Department"
                                                                        single-line
                                                                        hide-details
                                                                        class="mx-4"
                                                                ></v-text-field>
                                                            </v-col>
                                                        </v-row>
                                                    </template>
                                                    <template v-slot:item.actions="{ item }">
                                                        <div class="v-item-group theme--light v-btn-toggle--borderless v-btn-toggle--rounded">
                                                            <v-btn @click="restoreDeletedDepartment(item)" color="info">
                                                                <v-icon left color="white">mdi-delete-restore</v-icon>
                                                                <span class="hidden-sm-and-down">Restore</span>
                                                            </v-btn>
                                                        </div>
                                                    </template>
                                                </v-data-table>
                                            </v-card>
                                        </v-container>
                                    </v-tab-item>
                                </v-tabs-items>
                            </v-tabs>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    export default {
        name: "departments",
        async created() {
            await this.init();

            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        data() {
            return {
                display: false,

                ignore: '',

                activeTab: '',
                activeTabClass: 'primary--text text--lighten-2',

                departmentModal: {
                    state: false,
                    title: '',
                    name: '',
                    oldDepartment: null,
                    actionFunc: '',
                    saveButtonText: '',
                    saveButtonIcon: '',
                },

                departments: {
                    active: {
                        table: {
                            headers: [
                                {
                                    text: 'Name',
                                    align: 'start',
                                    value: 'name',
                                },
                                {
                                    text: 'Actions',
                                    align: 'start',
                                    sortable: false,
                                    value: 'actions',
                                },
                            ],
                            items: [],
                            search: '',
                        },
                        tabHref: 'activeDepartmentsTabHref',
                    },
                    deleted: {
                        table: {
                            headers: [
                                {
                                    text: 'Name',
                                    align: 'start',
                                    value: 'name',
                                },
                                {
                                    text: 'Actions',
                                    align: 'start',
                                    sortable: false,
                                    value: 'actions',
                                },
                            ],
                            items: [],
                            search: '',
                        },
                        tabHref: 'deletedDepartmentsTabHref',
                    },
                },
            }
        },
        methods: {
            async init() {
                await this.getDepartments();

                return new Promise((resolve, reject) => {
                    resolve();
                });
            },
            getDepartments() {
                return this.$axios.api.get('api/department/get-all')
                    .then(response => {
                        if (response.status === this.CT.HTTP_OK) {
                            this.departments.active.table.items = response.data.departments.active;
                            this.departments.deleted.table.items = response.data.departments.deleted;
                        }
                    })
            },
            searchDepartment(value, search, item) {
                return value != null &&
                    search != null &&
                    typeof value === 'string' &&
                    value.toString().toLowerCase().indexOf(search) !== -1
            },
            openDepartmentModal(item) {
                if (Object.getOwnPropertyDescriptor(item, 'name')) {
                    this.departmentModal.name = item.name;
                    this.departmentModal.oldDepartment = item;
                    this.departmentModal.title = 'Edit Department';
                    this.departmentModal.actionFunc = 'updateDepartment';
                    this.departmentModal.saveButtonIcon = 'mdi-content-save';
                    this.departmentModal.saveButtonText = 'Update';

                } else {
                    this.departmentModal.name = '';
                    this.departmentModal.oldDepartment = null;
                    this.departmentModal.title = 'Add Department';
                    this.departmentModal.actionFunc = 'addNewDepartment';
                    this.departmentModal.saveButtonIcon = 'mdi-plus';
                    this.departmentModal.saveButtonText = 'Add';
                }
                this.departmentModal.state = true;
            },
            closeDepartmentModal() {
                this.departmentModal.state = false;
                this.departmentModal.name = '';
                this.departmentModal.oldDepartment = null;
            },
            handleAction(actionFunc) {
                this[actionFunc]();
            },
            addNewDepartment() {
                if (this.departmentModal.name.length === 0 || this.departmentModal.name.trim().length === 0) {
                    this.$swal.fire({
                        title: 'Department Name Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                this.$swal.fire({
                    title: 'Adding New Department',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    name: this.departmentModal.name,
                }

                this.$axios.api.post('api/department/create', payload)
                    .then(response => {
                        if (response.status === this.CT.HTTP_OK) {
                            let newDepartment = response.data.department;

                            this.departments.active.table.items.push(newDepartment);
                            this.closeDepartmentModal();

                            this.$swal.fire({
                                title: 'Department Added!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })

            },
            updateDepartment() {
                if (this.departmentModal.name.length === 0 || this.departmentModal.name.trim().length === 0) {
                    this.$swal.fire({
                        title: 'Department Name Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                this.$swal.fire({
                    title: 'Updating Department',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    id: this.departmentModal.oldDepartment.id,
                    name: this.departmentModal.name,
                }

                this.$axios.api.post('api/department/update', payload)
                    .then(response => {
                        if (response.status === this.CT.HTTP_OK) {
                            let updatedDepartment = response.data.department;

                            let indexUpdatedDepartment = this.departments.active.table.items
                                .map(d => d.id)
                                .indexOf(payload.id)
                            ;
                            this.departments.active.table.items[indexUpdatedDepartment].name = updatedDepartment.name;

                            this.closeDepartmentModal();

                            this.$swal.fire({
                                title: 'Department Updated!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })
            },
            async deleteDepartment(department) {
                const title = 'Are you sure you want to delete department ' + department.name + '?';

                let answer = await this.$swal.fire({
                    title: title,
                    icon: 'warning',
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonText: 'Yes',
                    confirmButtonColor: 'red',
                    focusConfirm: false,
                    focusCancel: false,
                }).then((result) => {
                    if (result.value) {
                        this.$swal.fire({
                            title: 'Deleting Department',
                            icon: 'info',
                            showCancelButton: false,
                            showConfirmButton: false,
                            allowEnterKey: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            onBeforeOpen: () => {
                                this.$swal.showLoading()
                            },
                        });

                        return true;
                    } else {
                        return false;
                    }
                });

                if (answer === false) {
                    return;
                }

                const payload = {
                    id: department.id,
                }

                this.$axios.api.post('api/department/delete', payload)
                    .then(response => {
                        if (response.status === this.CT.HTTP_OK) {
                            let indexDeletedDepartment = this.departments.active.table.items
                                .map(d => d.id)
                                .indexOf(payload.id)
                            ;
                            this.departments.active.table.items.splice(indexDeletedDepartment, 1);
                            this.departments.deleted.table.items.push(department);

                            this.$swal.fire({
                                title: 'Department Deleted!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })
            },
            async restoreDeletedDepartment(department) {
                const title = 'Are you sure you want to restore department ' + department.name + '?';

                let answer = await this.$swal.fire({
                    title: title,
                    icon: 'warning',
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonText: 'Yes',
                }).then((result) => {
                    if (result.value) {
                        this.$swal.fire({
                            title: 'Restoring Department',
                            icon: 'info',
                            showCancelButton: false,
                            showConfirmButton: false,
                            allowEnterKey: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            onBeforeOpen: () => {
                                this.$swal.showLoading()
                            },
                        });

                        return true;
                    } else {
                        return false;
                    }
                });

                if (answer === false) {
                    return;
                }

                const payload = {
                    id: department.id,
                }

                this.$axios.api.post('api/department/restore', payload)
                    .then(response => {
                        if (response.status === this.CT.HTTP_OK) {
                            let restoredDepartment = response.data.department;

                            let indexRestoredDepartment = this.departments.deleted.table.items
                                .map(d => d.id)
                                .indexOf(restoredDepartment.id)
                            ;
                            this.departments.deleted.table.items.splice(indexRestoredDepartment, 1);
                            this.departments.active.table.items.push(restoredDepartment);

                            this.$swal.fire({
                                title: 'Department Restored!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })
            },
        },
        watch: {
            'activeTab': function (newVal, oldVal) {
                switch (newVal) {
                    case this.departments.active.tabHref:
                        this.activeTabClass = 'primary--text text--lighten-2';
                        break;
                    case this.departments.deleted.tabHref:
                        this.activeTabClass = 'error--text text--lighten-2';
                        break;
                }
            },
        },
    }
</script>

<style scoped>

</style>