<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                    >
                        <v-card
                                v-if="display"
                        >
                            <v-tabs
                                    v-model="activeTab"
                                    background-color="transparent"
                                    grow
                            >
                                <v-tab
                                        :active-class="'primary--text text--lighten-2'"
                                        :href="`#${employees.active.tabHref}`"
                                >
                                    Active Employees
                                </v-tab>
                                <v-tabs-slider
                                        :color="activeTabClass"
                                >
                                </v-tabs-slider>
                                <v-tabs-items v-model="activeTab">
                                    <v-tab-item
                                            :value="`${employees.active.tabHref}`"
                                    >
                                        <v-container
                                                fluid
                                        >
                                            <v-card
                                                    :color="'info lighten-2'"
                                            >
                                                <v-card-title>
                                                    Active Employees
                                                </v-card-title>
                                                <v-data-table
                                                        :headers="employees.active.table.headers"
                                                        :items="employees.active.table.items"
                                                        :items-per-page="10"
                                                        item-key="name"
                                                        :search="employees.active.table.search"
                                                        :custom-filter="searchEmployee"
                                                        class="elevation-1"
                                                >
                                                    <template v-slot:top>
                                                        <v-toolbar flat>
                                                            <v-text-field
                                                                    v-model="employees.active.table.search"
                                                                    append-icon="mdi-magnify"
                                                                    label="Search Employee"
                                                                    single-line
                                                                    hide-details
                                                                    class="mx-4"
                                                                    style="width: 100%"
                                                            ></v-text-field>
                                                            <v-divider
                                                                    class="mx-4"
                                                                    inset
                                                                    vertical
                                                            ></v-divider>
                                                            <v-spacer></v-spacer>
                                                            <v-dialog v-model="employeeModal.state" max-width="500px">
                                                                <template v-slot:activator="{ on }">
                                                                    <v-btn @click="openEmployeeModal" color="info" dark class="mb-2" v-on="on">
                                                                        <v-icon left>mdi-plus</v-icon>
                                                                        <span>New Employee</span>
                                                                    </v-btn>
                                                                </template>
                                                                <v-card>
                                                                    <v-card-title>
                                                                        <span class="headline">{{ employeeModal.title }}</span>
                                                                    </v-card-title>

                                                                    <v-card-text>
                                                                        <v-container>
                                                                            <v-row>
                                                                                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                                                                                    <v-text-field outlined v-model="employeeModal.name" label="Name"></v-text-field>
                                                                                </v-col>
                                                                                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                                                                                    <v-text-field outlined v-model="employeeModal.email" label="Email"></v-text-field>
                                                                                </v-col>
                                                                                <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                                                                                    <v-text-field outlined disabled v-model="employeeModal.role.name" label="Role"></v-text-field>
                                                                                </v-col>
                                                                                <v-col cols="12" sm="12" md="6" lg="6" xl="6" class="d-flex">
                                                                                    <v-select
                                                                                            v-model="employeeModal.department"
                                                                                            :items="departments"
                                                                                            item-text="name"
                                                                                            item-value="id"
                                                                                            label="Department"
                                                                                            outlined
                                                                                    ></v-select>
                                                                                </v-col>
                                                                                <v-col cols="12" sm="12" md="6" lg="6" xl="6" class="d-flex">
                                                                                    <v-select
                                                                                            v-model="employeeModal.position"
                                                                                            :items="positions"
                                                                                            item-text="name"
                                                                                            item-value="id"
                                                                                            label="Position"
                                                                                            outlined
                                                                                    ></v-select>
                                                                                </v-col>
                                                                                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                                                                                    <v-text-field outlined v-model="employeeModal.phone" label="Phone Number"></v-text-field>
                                                                                </v-col>
                                                                                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                                                                                    <v-dialog
                                                                                            ref="birthdayModal"
                                                                                            v-model="employeeModal.birthday.modalState"
                                                                                            :return-value.sync="employeeModal.birthday.date"
                                                                                            :max-width="300"
                                                                                    >
                                                                                        <template v-slot:activator="{ on }">
                                                                                            <v-text-field
                                                                                                    outlined
                                                                                                    v-model="employeeModal.birthday.date"
                                                                                                    label="Birthday date"
                                                                                                    readonly
                                                                                                    v-on="on"
                                                                                            ></v-text-field>
                                                                                        </template>
                                                                                        <v-date-picker
                                                                                                ref="birthdayDatePicker"
                                                                                                :first-day-of-week="1"
                                                                                                v-model="employeeModal.birthday.date"
                                                                                                :max="new Date().toISOString().substr(0, 10)"
                                                                                                @change="saveBirthdayDate"
                                                                                        ></v-date-picker>
                                                                                    </v-dialog>
                                                                                </v-col>
                                                                            </v-row>
                                                                        </v-container>
                                                                    </v-card-text>

                                                                    <v-card-actions>
                                                                        <v-spacer></v-spacer>
                                                                        <v-btn color="blue darken-1" text @click="closeEmployeeModal">
                                                                            <v-icon left>mdi-arrow-left</v-icon>
                                                                            Cancel
                                                                        </v-btn>
                                                                        <v-btn color="blue darken-1" text @click="handleAction(employeeModal.actionFunc)">
                                                                            <v-icon left>{{ employeeModal.saveButtonIcon }}</v-icon>
                                                                            {{ employeeModal.saveButtonText }}
                                                                        </v-btn>
                                                                    </v-card-actions>
                                                                </v-card>
                                                            </v-dialog>
                                                        </v-toolbar>
                                                    </template>
                                                    <template v-slot:item.actions="{ item }">
                                                        <div class="v-item-group theme--light v-btn-toggle--borderless">
                                                            <v-btn @click="openEmployeeModal(item)" color="info">
                                                                <v-icon left color="white">mdi-pencil</v-icon>
                                                                <span class="hidden-sm-and-down">Edit</span>
                                                            </v-btn>
                                                        </div>
                                                    </template>
                                                </v-data-table>
                                            </v-card>
                                        </v-container>
                                    </v-tab-item>
                                </v-tabs-items>
                            </v-tabs>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    export default {
        name: "employees",
        async created()
        {
            await this.init();

            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        data() {
            return {
                display: false,

                activeTab: '',
                activeTabClass: 'primary--text text--lighten-2',

                dateMomentFormat: 'YYYY-MM-DD',

                employeeModal: {
                    state: false,
                    title: '',
                    actionFunc: '',
                    saveButtonIcon: '',
                    saveButtonText: '',
                    oldEmployee: null,

                    id: '',
                    name: '',
                    email: '',
                    role: '',
                    department: '',
                    position: '',
                    phone: '',
                    birthday: {
                        date: '',
                        modalState: false,
                    },
                },

                employees: {
                    active: {
                        table: {
                            headers: [
                                {
                                    text: 'Name',
                                    align: 'start',
                                    value: 'name',
                                },
                                {
                                    text: 'Email',
                                    align: 'start',
                                    value: 'email',
                                },
                                {
                                    text: 'Role',
                                    align: 'start',
                                    value: 'role.name',
                                },
                                {
                                    text: 'Department',
                                    align: 'start',
                                    value: 'department.name',
                                },
                                {
                                    text: 'Position',
                                    align: 'start',
                                    value: 'position.name',
                                },
                                {
                                    text: 'Phone Number',
                                    align: 'start',
                                    value: 'profile.phone',
                                },
                                {
                                    text: 'Birthday',
                                    align: 'start',
                                    value: 'birthday',
                                },
                                {
                                    text: 'Joined Date',
                                    align: 'start',
                                    value: 'joined_date',
                                },
                                {
                                    text: 'Actions',
                                    align: 'start',
                                    sortable: false,
                                    value: 'actions',
                                },
                            ],
                            items: [],
                            search: '',
                        },
                        tabHref: 'activeEmployeesTabHref'
                    },
                    deleted: [],
                },
                positions: [],
                departments: [],

                defaultRole: null,
                defaultDepartment: null,
                defaultPosition: null,
            }
        },
        methods: {
            async init() {
                await this.getEmployees();

                return new Promise( (resolve, reject) => {
                    resolve();
                });
            },
            getEmployees()
            {
                return this.$axios.api.get('api/employee/get-all')
                    .then( response => {
                        this.employees.active.table.items = response.data.employees.active;
                        this.employees.deleted = response.data.employees.deleted;

                        this.positions = response.data.positions;
                        this.departments = response.data.departments;

                        this.defaultRole = response.data.defaults.role;
                        this.defaultDepartment = response.data.defaults.department;
                        this.defaultPosition = response.data.defaults.position;
                    });
            },
            searchEmployee(value, search, item)
            {
                return value != null &&
                    search != null &&
                    typeof value === 'string' &&
                    value.toString().toLowerCase().indexOf(search) !== -1
            },
            openEmployeeModal(item)
            {
                if (Object.getOwnPropertyDescriptor(item, 'name'))
                {
                    this.employeeModal.oldEmployee = item;
                    this.employeeModal.title = 'Edit Employee';
                    this.employeeModal.actionFunc = 'updateEmployee';
                    this.employeeModal.saveButtonIcon = 'mdi-content-save';
                    this.employeeModal.saveButtonText = 'Update';

                    this.employeeModal.id = item.id;
                    this.employeeModal.name = item.name;
                    this.employeeModal.email = item.email;
                    this.employeeModal.role = item.role;
                    this.employeeModal.department = item.department.id;
                    this.employeeModal.position = item.position.id;
                    this.employeeModal.phone = item.profile.phone;
                    this.employeeModal.birthday.date = this.$moment(item.profile.birthday).format(this.dateMomentFormat);
                }
                else
                {
                    this.employeeModal.oldEmployee = null;
                    this.employeeModal.title = 'Add Employee';
                    this.employeeModal.actionFunc = 'addNewEmployee';
                    this.employeeModal.saveButtonIcon = 'mdi-plus';
                    this.employeeModal.saveButtonText = 'Add';

                    this.employeeModal.name = '';
                    this.employeeModal.email = '';
                    this.employeeModal.role = this.defaultRole;
                    this.employeeModal.department = this.defaultDepartment.id;
                    this.employeeModal.position = this.defaultPosition.id;
                    this.employeeModal.phone = '';
                    this.employeeModal.birthday.date = '';
                }

                this.employeeModal.state = true;
            },
            closeEmployeeModal()
            {
                this.employeeModal.state = false;
                this.employeeModal.title = '';
                this.employeeModal.actionFunc = '';
                this.employeeModal.saveButtonIcon = '';
                this.employeeModal.saveButtonText = '';
                this.employeeModal.oldEmployee = null;
                this.employeeModal.id = '';
                this.employeeModal.name = '';
                this.employeeModal.email = '';
                this.employeeModal.role = '';
                this.employeeModal.department = '';
                this.employeeModal.position = '';
                this.employeeModal.birthday = {
                    date: '',
                    modalState: false,
                };
            },
            saveBirthdayDate(date)
            {
                this.$refs.birthdayModal.save(date);
            },
            handleAction(actionFunc)
            {
                this[actionFunc]();
            },
            addNewEmployee()
            {
                if (this.Validators.emptyString(this.employeeModal.name))
                {
                    this.$swal.fire({
                        title: 'Employee Name Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.employeeModal.email))
                {
                    this.$swal.fire({
                        title: 'Employee Email Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                if (this.Validators.validateEmail(this.employeeModal.email))
                {
                    this.$swal.fire({
                        title: 'Invalid Employee Email Format!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                if (this.Validators.exists(this.employees.active.table.items, null, 'email', this.employeeModal.email))
                {
                    this.$swal.fire({
                        title: 'Employee Email Is Already Taken!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                if (this.Validators.exists(this.employees.deleted, null, 'email', this.employeeModal.email))
                {
                    this.$swal.fire({
                        title: 'Employee Email Already Belongs To A Deleted Employee!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.employeeModal.phone))
                {
                    this.$swal.fire({
                        title: 'Employee Phone Number Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                const validatePhoneNumber = this.Validators.validatePhoneNumber(this.employeeModal.phone);
                if (validatePhoneNumber.error === true)
                {
                    let errorTitle;
                    switch (validatePhoneNumber.type)
                    {
                        case 'invalid_phone_number':
                            errorTitle = 'Invalid Employee Phone Number!';
                            break;
                        case 'not_a_phone_number':
                            errorTitle = 'The Employee Phone Number Is Not A Phone Number!';
                            break;
                        default:
                            errorTitle = 'Invalid Employee Phone Number!';
                            break;
                    }

                    this.$swal.fire({
                        title: errorTitle,
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                let formattedPhoneNumber = this.Helpers.formatPhoneNumber(this.employeeModal.phone);
                if (this.Validators.exists(this.employees.active.table.items, 'profile', 'phone', formattedPhoneNumber))
                {
                    this.$swal.fire({
                        title: 'Employee Phone Number Is Already In Use!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                if (this.Validators.exists(this.employees.deleted, 'profile', 'phone', formattedPhoneNumber))
                {
                    this.$swal.fire({
                        title: 'Employee Phone Number Is Already In Use By A Deleted Employee!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.employeeModal.birthday.date))
                {
                    this.$swal.fire({
                        title: 'Employee Birthday Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                this.$swal.fire({
                    title: 'Adding New Employee',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    name: this.employeeModal.name,
                    email: this.employeeModal.email,
                    department_id: this.employeeModal.department,
                    position_id: this.employeeModal.position,
                    phone: formattedPhoneNumber,
                    birthday: this.employeeModal.birthday.date,
                }

                this.$axios.api.post('api/employee/create', payload)
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            let newEmployee = response.data.employee;

                            this.employees.active.table.items.push(newEmployee);
                            this.closeEmployeeModal();

                            this.$swal.fire({
                                title: 'Employee Added!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })

            },
            updateEmployee()
            {
                if (this.Validators.emptyString(this.employeeModal.name))
                {
                    this.$swal.fire({
                        title: 'Employee Name Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.employeeModal.email))
                {
                    this.$swal.fire({
                        title: 'Employee Email Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                if (this.Validators.validateEmail(this.employeeModal.email))
                {
                    this.$swal.fire({
                        title: 'Invalid Employee Email Format!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                let indexUpdatedEmployee = this.employees.active.table.items
                    .map(d => d.id)
                    .indexOf(this.employeeModal.id)
                ;
                let employeesWithoutSelf = this.employees.active.table.items.slice();
                employeesWithoutSelf.splice(indexUpdatedEmployee, 1);
                if (this.Validators.exists(employeesWithoutSelf, null, 'email', this.employeeModal.email))
                {
                    this.$swal.fire({
                        title: 'Employee Email Is Already Taken!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                if (this.Validators.exists(this.employees.deleted, null, 'email', this.employeeModal.email))
                {
                    this.$swal.fire({
                        title: 'Employee Email Already Belongs To A Deleted Employee!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.employeeModal.phone))
                {
                    this.$swal.fire({
                        title: 'Employee Phone Number Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                const validatePhoneNumber = this.Validators.validatePhoneNumber(this.employeeModal.phone);
                if (validatePhoneNumber.error === true)
                {
                    let errorTitle;
                    switch (validatePhoneNumber.type)
                    {
                        case 'invalid_phone_number':
                            errorTitle = 'Invalid Employee Phone Number!';
                            break;
                        case 'not_a_phone_number':
                            errorTitle = 'The Employee Phone Number Is Not A Phone Number!';
                            break;
                        default:
                            errorTitle = 'Invalid Employee Phone Number!';
                            break;
                    }

                    this.$swal.fire({
                        title: errorTitle,
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                let formattedPhoneNumber = this.Helpers.formatPhoneNumber(this.employeeModal.phone);
                if (this.Validators.exists(employeesWithoutSelf, 'profile', 'phone', formattedPhoneNumber))
                {
                    this.$swal.fire({
                        title: 'Employee Phone Number Is Already In Use!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                if (this.Validators.exists(this.employees.deleted, 'profile', 'phone', formattedPhoneNumber))
                {
                    this.$swal.fire({
                        title: 'Employee Phone Number Is Already In Use By A Deleted Employee!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.employeeModal.birthday.date))
                {
                    this.$swal.fire({
                        title: 'Employee Birthday Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                this.$swal.fire({
                    title: 'Updating Employee',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    user_id: this.employeeModal.id,
                    name: this.employeeModal.name,
                    email: this.employeeModal.email,
                    department_id: this.employeeModal.department,
                    position_id: this.employeeModal.position,
                    phone: formattedPhoneNumber,
                    birthday: this.employeeModal.birthday.date,
                }

                this.$axios.api.post('api/employee/update', payload)
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            let updatedEmployee = response.data.employee;

                            let indexUpdatedEmployee = this.employees.active.table.items
                                .map(d => d.id)
                                .indexOf(updatedEmployee.id)
                            ;

                            this.employees.active.table.items.splice(indexUpdatedEmployee, 1, updatedEmployee);

                            this.closeEmployeeModal();

                            this.$swal.fire({
                                title: 'Employee Updated!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })

            },
        },
        watch: {
            'activeTab': function (newVal, oldVal) {
                switch (newVal)
                {
                    case this.employees.active.tabHref:
                        this.activeTabClass = 'primary--text text--lighten-2';
                        break;
                }
            },
            'employeeModal.birthday.modalState' (val) {
                val && setTimeout(() => (this.$refs.birthdayDatePicker.activePicker = 'YEAR'))
            },
        }
    }
</script>

<style scoped>

</style>