<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                    >
                        <v-container
                                fluid
                        >
                            <v-card
                                    :color="'info lighten-2'"
                            >
                                <v-card-title>
                                    Legal Holidays from {{apiCountry}}
                                </v-card-title>
                                <v-data-table
                                        :headers="legalHolidays.table.headers"
                                        :items="legalHolidays.table.items"
                                        :items-per-page="-1"
                                        item-key="id"
                                        :search="legalHolidays.table.search"
                                        :custom-filter="searchLegalHoliday"
                                        :custom-sort="sortTable"
                                        :sort-by="['dateFormatted']"
                                        :sort-desc="[false]"
                                        class="elevation-1"
                                >
                                    <template v-slot:top>
                                        <v-toolbar flat>
                                            <v-text-field
                                                    v-model="legalHolidays.table.search"
                                                    append-icon="mdi-magnify"
                                                    label="Search Holiday"
                                                    single-line
                                                    hide-details
                                                    class="mx-4"
                                                    style="width: 100%"
                                            ></v-text-field>
                                            <v-divider
                                                    class="mx-4"
                                                    inset
                                                    vertical
                                            ></v-divider>
                                            <v-spacer></v-spacer>
                                            <v-dialog v-model="legalHolidays.modal.state" max-width="500px">
                                                <template v-slot:activator="{ on }">
                                                    <v-btn @click="openLegalHolidayModal" color="info" dark class="mb-2"
                                                           v-on="on">
                                                        <v-icon left>mdi-plus</v-icon>
                                                        <span>New Legal Holiday</span>
                                                    </v-btn>
                                                </template>
                                                <v-card>
                                                    <v-card-title>
                                                        <span class="headline">{{ legalHolidays.modal.title }}</span>
                                                    </v-card-title>

                                                    <v-card-text>
                                                        <v-container>
                                                            <v-row>
                                                                <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                                                                    <v-text-field outlined
                                                                                  v-model="legalHolidays.modal.name"
                                                                                  label="Name"></v-text-field>
                                                                </v-col>
                                                                <v-col cols="12" sm="12" md="6" lg="6" xl="6">
                                                                    <v-dialog
                                                                            ref="dateModal"
                                                                            v-model="legalHolidays.modal.date.modalState"
                                                                            :return-value.sync="legalHolidays.modal.date.value"
                                                                            :max-width="300"
                                                                    >
                                                                        <template v-slot:activator="{ on }">
                                                                            <v-text-field
                                                                                    outlined
                                                                                    v-model="legalHolidays.modal.date.value"
                                                                                    label="Date"
                                                                                    readonly
                                                                                    v-on="on"
                                                                            ></v-text-field>
                                                                        </template>
                                                                        <v-date-picker
                                                                                ref="datePicker"
                                                                                v-model="legalHolidays.modal.date.value"
                                                                                :first-day-of-week="1"
                                                                                :max="$moment().endOf('year').format(dateMomentFormat)"
                                                                                :min="$moment().startOf('year').format(dateMomentFormat)"
                                                                                @change="saveDate"
                                                                        ></v-date-picker>
                                                                    </v-dialog>
                                                                </v-col>
                                                                <v-col cols="12" sm="12" md="6" lg="6" xl="6"
                                                                       class="d-flex">
                                                                    <v-autocomplete
                                                                            v-model="legalHolidays.modal.type"
                                                                            :items="legalHolidays.types"
                                                                            outlined
                                                                            label="Type"
                                                                    ></v-autocomplete>
                                                                </v-col>
                                                            </v-row>
                                                        </v-container>
                                                    </v-card-text>

                                                    <v-card-actions>
                                                        <v-spacer></v-spacer>
                                                        <v-btn color="blue darken-1" text
                                                               @click="closeLegalHolidayModal">
                                                            <v-icon left>mdi-arrow-left</v-icon>
                                                            Cancel
                                                        </v-btn>
                                                        <v-btn color="blue darken-1" text
                                                               @click="handleAction(legalHolidays.modal.actionFunc)">
                                                            <v-icon left>{{ legalHolidays.modal.saveButtonIcon }}
                                                            </v-icon>
                                                            {{ legalHolidays.modal.saveButtonText }}
                                                        </v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-dialog>
                                        </v-toolbar>
                                    </template>
                                    <template v-slot:item.name="{ item }">
                                        <template v-if="item.local_name !== 'Unknown'">
                                            <!--                                        <v-card-text>{{item.local_name}}</v-card-text>-->
                                            {{item.local_name}}
                                        </template>
                                        <template v-else>
                                            <!--                                        <v-card-text>{{item.fallback_name}}</v-card-text>-->
                                            {{item.fallback_name}}
                                        </template>
                                    </template>
                                    <template v-slot:item.actions="{ item }">
                                        <div class="v-item-group theme--light v-btn-toggle--borderless">
                                            <v-btn @click="openLegalHolidayModal(item)" color="info">
                                                <v-icon left color="white">mdi-pencil</v-icon>
                                                <span class="hidden-sm-and-down">Edit</span>
                                            </v-btn>
                                            <v-divider
                                                    class="mx-1"
                                                    inset
                                                    vertical
                                            ></v-divider>
                                            <v-btn @click="deleteLegalHoliday(item)" color="error">
                                                <v-icon left color="white">mdi-delete</v-icon>
                                                <span class="hidden-sm-and-down">Delete</span>
                                            </v-btn>
                                        </div>
                                    </template>
                                </v-data-table>
                            </v-card>
                        </v-container>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "LegalHolidays",
        async created() {
            await this.getLegalHolidays();

            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        computed: {
            ...mapGetters({
                apiCountryCode: 'Auth/getApiCountryCode',
                apiCountry: 'Auth/getApiCountry',
            }),
        },
        data() {
            return {
                display: false,

                dateMomentFormat: 'YYYY-MM-DD',

                legalHolidays: {
                    table: {
                        headers: [
                            {
                                text: 'Name',
                                align: 'start',
                                value: 'name',
                            },
                            {
                                text: 'Date',
                                align: 'start',
                                value: 'dateFormatted',
                            },
                            {
                                text: 'Type',
                                align: 'start',
                                value: 'type',
                            },
                            {
                                text: 'Actions',
                                align: 'start',
                                sortable: false,
                                value: 'actions',
                            },
                        ],
                        items: [],
                        search: '',
                    },
                    modal: {
                        state: false,
                        title: '',
                        actionFunc: '',
                        saveButtonIcon: '',
                        saveButtonText: '',
                        oldLegalHoliday: null,

                        id: '',
                        name: '',
                        date: {
                            value: '',
                            modalState: false,
                        },
                        type: '',
                    },
                    types: [],
                },
            }
        },
        methods: {
            getLegalHolidays() {
                return new Promise((resolve, reject) => {
                    const query = {
                        country_code: this.apiCountryCode,
                    };
                    this.$axios.api.get('/api/legal-holiday/get', {params: query})
                        .then(async response => {
                            this.legalHolidays.types = Object.keys(response.data.legalHolidays);
                            this.legalHolidays.table.items = Object.keys(response.data.legalHolidays)
                                .reduce(function (holidays, type) {
                                    return holidays.concat(response.data.legalHolidays[type]);
                                }, []);

                            resolve();
                        });
                });
            },
            sortTable(items, index, isDesc) {
                if (index.length > 0) {
                    if (index[0] === 'dateFormatted') {
                        if (isDesc.length > 0) {
                            items = items.sort((a, b) => {
                                //sort asc
                                if (isDesc[0] === false) {
                                    return (a.date > b.date) ? 1 : -1;
                                }
                                //sort desc
                                else {
                                    return (a.date < b.date) ? 1 : -1;
                                }
                            });
                        }
                    }
                }

                return items;
            },
            searchLegalHoliday(value, search, item) {
                return value != null &&
                    search != null &&
                    typeof value === 'string' &&
                    value.toString().toLowerCase().indexOf(search) !== -1
            },
            openLegalHolidayModal(item) {
                if (Object.getOwnPropertyDescriptor(item, 'id')) {
                    this.legalHolidays.modal.oldLegalHoliday = item;
                    this.legalHolidays.modal.title = 'Edit Legal Holiday';
                    this.legalHolidays.modal.actionFunc = 'updateLegalHoliday';
                    this.legalHolidays.modal.saveButtonIcon = 'mdi-content-save';
                    this.legalHolidays.modal.saveButtonText = 'Update';

                    this.legalHolidays.modal.id = item.id;
                    if (item.local_name !== 'Unknown') {
                        this.legalHolidays.modal.name = item.local_name;
                    } else {
                        this.legalHolidays.modal.name = item.fallback_name;
                    }
                    this.legalHolidays.modal.date.value = this.$moment(item.date).format(this.dateMomentFormat);
                    this.legalHolidays.modal.type = item.type;
                } else {
                    this.legalHolidays.modal.oldLegalHoliday = null;
                    this.legalHolidays.modal.title = 'Add Legal Holiday';
                    this.legalHolidays.modal.actionFunc = 'addNewLegalHoliday';
                    this.legalHolidays.modal.saveButtonIcon = 'mdi-plus';
                    this.legalHolidays.modal.saveButtonText = 'Add';

                    this.legalHolidays.modal.name = '';
                    this.legalHolidays.modal.date.value = '';
                    this.legalHolidays.modal.type = '';
                }

                this.legalHolidays.modal.state = true;
            },
            closeLegalHolidayModal() {
                this.legalHolidays.modal.state = false;
                this.legalHolidays.modal.title = '';
                this.legalHolidays.modal.actionFunc = '';
                this.legalHolidays.modal.saveButtonIcon = '';
                this.legalHolidays.modal.saveButtonText = '';
                this.legalHolidays.modal.oldLegalHoliday = null;
                this.legalHolidays.modal.id = '';
                this.legalHolidays.modal.name = '';
                this.legalHolidays.modal.date = {
                    value: '',
                    modalState: false,
                };
                this.legalHolidays.modal.type = '';
            },
            saveDate(date) {
                this.$refs.dateModal.save(date);
            },
            handleAction(actionFunc) {
                this[actionFunc]();
            },
            addNewLegalHoliday() {
                if (this.Validators.emptyString(this.legalHolidays.modal.name)) {
                    this.$swal.fire({
                        title: 'Legal Holiday Name Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.legalHolidays.modal.date.value)) {
                    this.$swal.fire({
                        title: 'Legal Holiday Date Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.exists(this.legalHolidays.table.items, null, 'date', this.legalHolidays.modal.date.value + ' 00:00:00')) {
                    this.$swal.fire({
                        title: 'A Legal Holiday With This Date Already Exists!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.legalHolidays.modal.type)) {
                    this.$swal.fire({
                        title: 'Legal Holiday Type Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                this.$swal.fire({
                    title: 'Adding Legal Holiday',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    local_name: this.legalHolidays.modal.name,
                    date: this.legalHolidays.modal.date.value,
                    type: this.legalHolidays.modal.type,
                };

                this.$axios.api.post('api/legal-holiday/create', payload)
                    .then(response => {
                        if (response.status === this.CT.HTTP_OK) {
                            let newLegalHoliday = response.data.legalHoliday;

                            this.legalHolidays.table.items.push(newLegalHoliday);
                            this.closeLegalHolidayModal();

                            this.$swal.fire({
                                title: 'Legal Holiday Added!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    });
            },
            updateLegalHoliday() {
                if (this.Validators.emptyString(this.legalHolidays.modal.name)) {
                    this.$swal.fire({
                        title: 'Legal Holiday Name Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.legalHolidays.modal.date.value)) {
                    this.$swal.fire({
                        title: 'Legal Holiday Date Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                let indexUpdatedLegalHoliday = this.legalHolidays.table.items
                    .map(d => d.id)
                    .indexOf(this.legalHolidays.modal.id)
                ;
                let legalHolidaysWithoutSelf = this.legalHolidays.table.items.slice();
                legalHolidaysWithoutSelf.splice(indexUpdatedLegalHoliday, 1);
                if (this.Validators.exists(legalHolidaysWithoutSelf, null, 'date', this.legalHolidays.modal.date.value + ' 00:00:00')) {
                    this.$swal.fire({
                        title: 'A Legal Holiday With This Date Already Exists!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.Validators.emptyString(this.legalHolidays.modal.type)) {
                    this.$swal.fire({
                        title: 'Legal Holiday Type Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                this.$swal.fire({
                    title: 'Updating Legal Holiday',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    id: this.legalHolidays.modal.id,
                    local_name: this.legalHolidays.modal.name,
                    date: this.legalHolidays.modal.date.value,
                    type: this.legalHolidays.modal.type,
                };

                this.$axios.api.post('api/legal-holiday/update', payload)
                    .then(response => {
                        if (response.status === this.CT.HTTP_OK) {
                            let updatedLegalHoliday = response.data.legalHoliday;

                            let indexUpdatedLegalHoliday = this.legalHolidays.table.items
                                .map(d => d.id)
                                .indexOf(updatedLegalHoliday.id)
                            ;

                            this.legalHolidays.table.items.splice(indexUpdatedLegalHoliday, 1, updatedLegalHoliday);
                            this.closeLegalHolidayModal();

                            this.$swal.fire({
                                title: 'Legal Holiday Updated!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    });
            },
            async deleteLegalHoliday(item) {
                const title = 'Are you sure you want to delete legal holiday ' + item.name + '?';

                let answer = await this.$swal.fire({
                    title: title,
                    icon: 'warning',
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonText: 'Yes',
                    confirmButtonColor: 'red',
                    focusConfirm: false,
                    focusCancel: false,
                }).then((result) => {
                    if (result.value) {
                        this.$swal.fire({
                            title: 'Deleting Legal Holiday',
                            icon: 'info',
                            showCancelButton: false,
                            showConfirmButton: false,
                            allowEnterKey: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            onBeforeOpen: () => {
                                this.$swal.showLoading()
                            },
                        });

                        return true;
                    } else {
                        return false;
                    }
                });

                if (answer === false) {
                    return;
                }

                const payload = {
                    id: item.id,
                };

                this.$axios.api.post('api/legal-holiday/delete', payload)
                    .then(response => {
                        if (response.status === this.CT.HTTP_OK) {
                            let indexUpdatedLegalHoliday = this.legalHolidays.table.items
                                .map(d => d.id)
                                .indexOf(payload.id)
                            ;

                            this.legalHolidays.table.items.splice(indexUpdatedLegalHoliday, 1);

                            this.$swal.fire({
                                title: 'Legal Holiday Deleted!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    });
            },

        },
        watch: {
            apiCountry: {
                immediate: true,
                handler(newCountry, oldCountry) {
                    this.selectedCountry = newCountry;
                },
            }
        }
    }
</script>

<style scoped>

</style>