<template>
    <v-layout
            align-center
            justify-center
            v-if="display"
    >
        <v-flex
                xs12
                sm8
                md4
        >
            <v-card class="elevation-12">
                <v-toolbar
                        color="primary"
                        dark
                        flat
                >
                    <v-spacer></v-spacer>
                    <v-toolbar-title
                            class="text-center"
                    >
                        Login form
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                    <v-form>
                        <v-text-field
                                v-model="email"
                                label="Email"
                                name="email"
                                prepend-icon="mdi-account"
                                type="text"
                                outlined
                                :error-messages="this.errors.email"
                        ></v-text-field>

                        <v-text-field
                                v-model="password"
                                id="password"
                                label="Password"
                                name="password"
                                prepend-icon="mdi-lock"
                                type="password"
                                outlined
                                :error-messages="this.errors.password"
                        ></v-text-field>
                    </v-form>
                    <v-alert
                            :value="unauthorized"
                            dismissible
                            text
                            icon="mdi-alert"
                            type="error"
                            prominent
                            border="left"
                            transition="scale-transition"
                    >
                        Invalid Credentials!
                    </v-alert>
                    <v-alert
                            :value="unexpectedError"
                            dismissible
                            text
                            icon="mdi-exclamation"
                            type="warning"
                            prominent
                            border="left"
                            transition="scale-transition"
                    >
                        Something went wrong. Please try again!
                    </v-alert>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="login">Login</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "Login",
        data: () => {
            return {
                display: true,

                email: '',
                password: '',
                errors: {
                    'email': [],
                    'password': [],
                },
                unauthorized: false,
                unexpectedError: false,
            }
        },
        methods: {
            resetErrors() {
                this.errors = {
                    'email': [],
                    'password': [],
                };
                this.unauthorized = false;
                this.unexpectedError = false;
            },
            async login() {
                this.$swal.fire({
                    title: 'Authenticating',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                this.resetErrors();

                const clientsSet = this.$store.getters['Auth/clientsSet'];
                if (!clientsSet)
                {
                    await this.$store.dispatch('Auth/getApiClients');
                }

                const passwordGrantedClient = this.$store.getters['Auth/getPasswordGrantedClient'];

                const payload = {
                    email: this.email,
                    password: this.password,
                    client: passwordGrantedClient,
                };

                this.$axios.api
                    .post('/api/oauth/auth/login', payload)
                    .then((response) => {

                        this.$store.dispatch('Auth/authenticate', response.data)
                            .then( response => {
                                const isApiInitialized = this.$store.getters['Auth/isApiInitialized'];
                                const isSuperAdmin = this.$store.getters['Auth/isSuperAdmin'];

                                if (isApiInitialized || (!isApiInitialized && isSuperAdmin))
                                {
                                    if (!isApiInitialized && isSuperAdmin)
                                    {
                                        this.$store.dispatch('Auth/storeTemporaryCredentials', payload)
                                            .then( response => {
                                                this.goTo('initialize_api', true);
                                            });
                                    }
                                    else if (isSuperAdmin)
                                    {
                                        this.goTo('employees', true);
                                    }
                                    else
                                    {
                                        this.goTo('dashboard', true);
                                    }
                                }
                                else
                                {
                                    this.$swal.fire({
                                        title: 'The App Has Not Been Initialized!',
                                        text: 'Please contact the Super Admin',
                                        icon: 'error',
                                        showCancelButton: true,
                                        showConfirmButton: false,
                                        cancelButtonText: 'Close',
                                        cancelButtonColor: 'red',
                                        allowEnterKey: false,
                                        allowEscapeKey: false,
                                        allowOutsideClick: false,
                                    }).then( async result => {
                                        this.goTo('logout', true);
                                    })
                                }
                            });
                    })
                    .catch((error) => {
                        this.$swal.close();
                        if (error.response.status === this.CT.HTTP_UNPROCESSABLE_ENTITY)
                        {
                            let errors = error.response.data.errors;
                            for (let field in errors)
                            {
                                this.errors[field] = errors[field];
                            }
                        }
                        else if (error.response.status === this.CT.HTTP_UNAUTHORIZED)
                        {
                            this.unauthorized = true;
                        }
                        else
                        {
                            this.unexpectedError = true;
                        }
                    });
            }
        }
    }
</script>

<style scoped>

</style>