<template>
    <span></span>
</template>

<script>
    export default {
        name: "Logout",
        async created() {
            await this.$store.dispatch('Auth/logout');
            console.log('user logged out');
            this.goTo('login');
        }
    }
</script>

<style scoped>

</style>