<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                    >
                        <v-card
                                v-if="display"
                        >
                            <v-tabs
                                    v-model="personalTimeOffTab"
                                    background-color="transparent"
                                    grow
                            >
                                <v-tab
                                        :href="`#${paidLeaveTabHref}`"
                                >
                                    Paid Leave
                                </v-tab>
                                <v-tab
                                        :href="`#${sickLeaveTabHref}`"
                                >
                                    Sick Leave
                                </v-tab>
                            </v-tabs>
                            <v-tabs-items v-model="personalTimeOffTab">
                                <v-tab-item
                                        :value="`${paidLeaveTabHref}`"
                                >
                                    <v-row>
                                        <v-col
                                                :cols="12"
                                                :sm="12"
                                                :md="6"
                                                :lg="6"
                                                :xl="3"
                                        >
                                            <v-container
                                                    fluid
                                            >
                                                <v-card
                                                        :color="'blue lighten-4'"
                                                >
                                                    <v-card-title>
                                                        Available Paid Leave Days (Total: {{totalDays}} | On Hold: {{onHoldDays}})
                                                    </v-card-title>
                                                    <v-data-table
                                                            :headers="paidLeave.availableDaysTable.headers"
                                                            :items="paidLeave.availableDaysTable.items"
                                                            :sort-by="['year']"
                                                            :sort-desc="[true]"
                                                            :items-per-page="10"
                                                            class="elevation-1"
                                                    ></v-data-table>
                                                </v-card>
                                            </v-container>
                                        </v-col>
                                        <v-col
                                                :cols="12"
                                                :sm="12"
                                                :md="6"
                                                :lg="6"
                                                :xl="9"
                                        >
                                            <v-form
                                                    ref="paidLeaveForm"
                                                    v-model="paidLeave.validForm"
                                            >
                                                <v-container
                                                        fluid
                                                >
                                                    <date-picker-with-events
                                                            :tab="'paidLeave'"
                                                            :type="'startDate'"
                                                            :reset="paidLeave.resetForm"
                                                            :min-date="$moment().format(dateMomentFormat)"
                                                            :registered-dates="registeredDates"
                                                            :legal-holidays="legalHolidays"
                                                            @date-selected="paidLeave.startDate = arguments[0]"
                                                            @reset-date-picker="paidLeave.resetForm = !paidLeave.resetForm"
                                                    ></date-picker-with-events>
                                                    <date-picker-with-events
                                                            :tab="'paidLeave'"
                                                            :type="'endDate'"
                                                            :reset="paidLeave.resetForm"
                                                            :min-date="paidLeave.startDate"
                                                            :registered-dates="registeredDates"
                                                            :legal-holidays="legalHolidays"
                                                            @date-selected="paidLeave.endDate = arguments[0]"
                                                    ></date-picker-with-events>

                                                    <v-textarea
                                                            v-model="paidLeave.details"
                                                            auto-grow
                                                            clearable
                                                            label="Details"
                                                            outlined
                                                            placeholder="Information regarding the reason for requesting paid leave days"
                                                            :rows="3"
                                                            shaped
                                                            required
                                                            :rules="detailsRules"
                                                    ></v-textarea>

                                                    <v-card-text class="pt-0 px-0">
                                                        Working Days: {{daysInInterval}}
                                                    </v-card-text>

                                                    <v-btn
                                                            :disabled="!paidLeave.validForm"
                                                            block
                                                            color="success"
                                                            class="mr-4"
                                                            @click="sendPaidLeaveRequest"
                                                    >
                                                        Send Request
                                                    </v-btn>
                                                </v-container>
                                            </v-form>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col
                                                :cols="12"
                                                :sm="12"
                                                :md="12"
                                                :lg="12"
                                                :xl="12"
                                        >
                                            <v-tabs
                                                    v-model="paidLeave.usedDaysTab"
                                                    background-color="transparent"
                                                    grow
                                            >
                                                <v-tab
                                                        :active-class="'warning--text text--lighten-2'"
                                                        :href="`#${paidLeave.unprocessedLeavesTabHref}`"
                                                >
                                                    Unprocessed
                                                </v-tab>
                                                <v-tab
                                                        :active-class="'success--text text--lighten-2'"
                                                        :href="`#${paidLeave.approvedLeavesTabHref}`"
                                                >
                                                    Approved
                                                </v-tab>
                                                <v-tab
                                                        :active-class="'error--text text--lighten-2'"
                                                        :href="`#${paidLeave.rejectedLeavesTabHref}`"
                                                >
                                                    Rejected
                                                </v-tab>
                                                <v-tabs-slider
                                                        :color="paidLeave.usedDaysActiveTabClass"
                                                >
                                                </v-tabs-slider>
                                            </v-tabs>
                                            <v-tabs-items v-model="paidLeave.usedDaysTab">
                                                <v-tab-item
                                                        :value="`${paidLeave.unprocessedLeavesTabHref}`"
                                                >
                                                    <v-container
                                                            fluid
                                                    >
                                                        <v-card
                                                                :color="'warning lighten-2'"
                                                        >
                                                            <v-card-title>
                                                                Unprocessed Paid Leave Requests
                                                            </v-card-title>
                                                            <v-data-table
                                                                    :headers="paidLeave.unprocessedLeavesTable.headers"
                                                                    :items="paidLeave.unprocessedLeavesTable.items"
                                                                    :items-per-page="10"
                                                                    class="elevation-1"
                                                            ></v-data-table>
                                                        </v-card>
                                                    </v-container>
                                                </v-tab-item>
                                                <v-tab-item
                                                        :value="`${paidLeave.approvedLeavesTabHref}`"
                                                >
                                                    <v-container
                                                            fluid
                                                    >
                                                        <v-card
                                                                :color="'success lighten-2'"
                                                        >
                                                            <v-card-title>
                                                                Approved Paid Leave Requests
                                                            </v-card-title>
                                                            <v-data-table
                                                                    :headers="paidLeave.approvedLeavesTable.headers"
                                                                    :items="paidLeave.approvedLeavesTable.items"
                                                                    :items-per-page="10"
                                                                    class="elevation-1"
                                                            ></v-data-table>
                                                        </v-card>
                                                    </v-container>
                                                </v-tab-item>
                                                <v-tab-item
                                                        :value="`${paidLeave.rejectedLeavesTabHref}`"
                                                >
                                                    <v-container
                                                            fluid
                                                    >
                                                        <v-card
                                                                :color="'error lighten-2'"
                                                        >
                                                            <v-card-title>
                                                                Rejected Paid Leave Requests
                                                            </v-card-title>
                                                            <v-data-table
                                                                    :headers="paidLeave.rejectedLeavesTable.headers"
                                                                    :items="paidLeave.rejectedLeavesTable.items"
                                                                    :items-per-page="10"
                                                                    class="elevation-1"
                                                            ></v-data-table>
                                                        </v-card>
                                                    </v-container>
                                                </v-tab-item>
                                            </v-tabs-items>
                                        </v-col>
                                    </v-row>
                                </v-tab-item>
                                <v-tab-item
                                        :value="`${sickLeaveTabHref}`"
                                >
                                    <v-row>
                                        <v-col
                                                :cols="12"
                                                :sm="12"
                                                :md="12"
                                                :lg="12"
                                                :xl="12"
                                        >
                                            <v-form
                                                    ref="sickLeaveForm"
                                                    v-model="sickLeave.validForm"
                                            >
                                                <v-container
                                                        fluid
                                                >
                                                    <date-picker-with-events
                                                            :tab="'sickLeave'"
                                                            :type="'startDate'"
                                                            :reset="sickLeave.resetForm"
                                                            :min-date="$moment().format(dateMomentFormat)"
                                                            :registered-dates="registeredDates"
                                                            :legal-holidays="legalHolidays"
                                                            @date-selected="sickLeave.startDate = arguments[0]"
                                                            @reset-date-picker="sickLeave.resetForm = !sickLeave.resetForm"
                                                    ></date-picker-with-events>
                                                    <date-picker-with-events
                                                            :tab="'sickLeave'"
                                                            :type="'endDate'"
                                                            :reset="sickLeave.resetForm"
                                                            :min-date="sickLeave.startDate"
                                                            :registered-dates="registeredDates"
                                                            :legal-holidays="legalHolidays"
                                                            @date-selected="sickLeave.endDate = arguments[0]"
                                                    ></date-picker-with-events>

                                                    <v-textarea
                                                            v-model="sickLeave.details"
                                                            auto-grow
                                                            clearable
                                                            label="Details"
                                                            outlined
                                                            placeholder="Information regarding the reason for requesting sick leave days"
                                                            :rows="3"
                                                            shaped
                                                            required
                                                            :rules="detailsRules"
                                                    ></v-textarea>

                                                    <v-btn
                                                            :disabled="!sickLeave.validForm"
                                                            block
                                                            color="success"
                                                            class="mr-4"
                                                            @click="sendSickLeaveRequest"
                                                    >
                                                        Send Request
                                                    </v-btn>
                                                </v-container>
                                            </v-form>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col
                                                :cols="12"
                                                :sm="12"
                                                :md="12"
                                                :lg="12"
                                                :xl="12"
                                        >
                                            <v-tabs
                                                    v-model="sickLeave.sickDaysTab"
                                                    background-color="transparent"
                                                    grow
                                            >
                                                <v-tab
                                                        :active-class="'warning--text text--lighten-2'"
                                                        :href="`#${sickLeave.unprocessedLeavesTabHref}`"
                                                >
                                                    Unprocessed
                                                </v-tab>
                                                <v-tab
                                                        :active-class="'success--text text--lighten-2'"
                                                        :href="`#${sickLeave.approvedLeavesTabHref}`"
                                                >
                                                    Approved
                                                </v-tab>
                                                <v-tab
                                                        :active-class="'error--text text--lighten-2'"
                                                        :href="`#${sickLeave.rejectedLeavesTabHref}`"
                                                >
                                                    Rejected
                                                </v-tab>
                                                <v-tabs-slider
                                                        :color="sickLeave.sickDaysActiveTabClass"
                                                >
                                                </v-tabs-slider>
                                            </v-tabs>
                                            <v-tabs-items v-model="sickLeave.sickDaysTab">
                                                <v-tab-item
                                                        :value="`${sickLeave.unprocessedLeavesTabHref}`"
                                                >
                                                    <v-container
                                                            fluid
                                                    >
                                                        <v-card
                                                                :color="'warning lighten-2'"
                                                        >
                                                            <v-card-title>
                                                                Unprocessed Paid Leave Requests
                                                            </v-card-title>
                                                            <v-data-table
                                                                    :headers="sickLeave.unprocessedLeavesTable.headers"
                                                                    :items="sickLeave.unprocessedLeavesTable.items"
                                                                    :items-per-page="10"
                                                                    class="elevation-1"
                                                            ></v-data-table>
                                                        </v-card>
                                                    </v-container>
                                                </v-tab-item>
                                                <v-tab-item
                                                        :value="`${sickLeave.approvedLeavesTabHref}`"
                                                >
                                                    <v-container
                                                            fluid
                                                    >
                                                        <v-card
                                                                :color="'success lighten-2'"
                                                        >
                                                            <v-card-title>
                                                                Approved Paid Leave Requests
                                                            </v-card-title>
                                                            <v-data-table
                                                                    :headers="sickLeave.approvedLeavesTable.headers"
                                                                    :items="sickLeave.approvedLeavesTable.items"
                                                                    :items-per-page="10"
                                                                    class="elevation-1"
                                                            ></v-data-table>
                                                        </v-card>
                                                    </v-container>
                                                </v-tab-item>
                                                <v-tab-item
                                                        :value="`${sickLeave.rejectedLeavesTabHref}`"
                                                >
                                                    <v-container
                                                            fluid
                                                    >
                                                        <v-card
                                                                :color="'error lighten-2'"
                                                        >
                                                            <v-card-title>
                                                                Rejected Paid Leave Requests
                                                            </v-card-title>
                                                            <v-data-table
                                                                    :headers="sickLeave.rejectedLeavesTable.headers"
                                                                    :items="sickLeave.rejectedLeavesTable.items"
                                                                    :items-per-page="10"
                                                                    class="elevation-1"
                                                            ></v-data-table>
                                                        </v-card>
                                                    </v-container>
                                                </v-tab-item>
                                            </v-tabs-items>
                                        </v-col>
                                    </v-row>
                                </v-tab-item>
                            </v-tabs-items>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    import DatePickerWithEvents from "@/components/DatePickerWithEvents";
    import {mapGetters} from "vuex";

    export default {
        name: "PersonalTimeOff",
        components: {
            DatePickerWithEvents,
        },
        async mounted() {
            const now = this.$moment();
            this.now = now.format(this.dateMomentFormat);

            this.paidLeave.startDate = now.format(this.dateMomentFormat);
            this.paidLeave.endDate = now.format(this.dateMomentFormat);

            this.sickLeave.startDate = now.format(this.dateMomentFormat);
            this.sickLeave.endDate = now.format(this.dateMomentFormat);

            await this.getPaidLeaves();
            await this.getAvailablePaidLeaveDays();
            await this.getSickLeaves();
            await this.getWorkFromHomeRequests();
            await this.getLegalHolidays();

            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        computed: {
            ...mapGetters({
                getUser: 'Auth/getUser',
            }),
            totalDays()
            {
                let total = 0;
                for (let entry of this.paidLeave.availableDaysTable.items)
                {
                    total += entry.days;
                }

                return total;
            },
            onHoldDays()
            {
                let total = 0;
                for (let entry of this.paidLeave.unprocessedLeavesTable.items)
                {
                    total += entry.days;
                }

                return total;
            },
            daysInInterval()
            {
                let mStartDate = this.$moment(this.paidLeave.startDate).startOf('day');
                let mEndDate = this.$moment(this.paidLeave.endDate).endOf('day');
                let days = 0;

                let currentDate = mStartDate.clone();

                while (currentDate <= mEndDate)
                {
                    if (currentDate.day() !== 0 && currentDate.day() !== 6)
                    {
                        days++;
                    }
                    currentDate.add(1, 'days');
                }

                for (let legalHoliday of this.legalHolidays.Public)
                {
                    let date = this.$moment(legalHoliday.date);
                    if (date.isBetween(mStartDate, mEndDate, 'day', '[]') && date.day() !== 0 && date.day() !== 6)
                    {
                        days--;
                    }
                }

                return days;
            },
            registeredDates()
            {
                let dates = [];

                //paid leave
                for (let record of this.paidLeave.approvedLeavesTable.items)
                {
                    let startDate = this.$moment(record.start_date).startOf('day');
                    let endDate = this.$moment(record.end_date).endOf('day');
                    let currentDate = startDate.clone();

                    while (currentDate <= endDate)
                    {
                        dates.push(currentDate.format(this.dateMomentFormat));
                        currentDate.add(1, 'days');
                    }
                }
                for (let record of this.paidLeave.unprocessedLeavesTable.items)
                {

                    let startDate = this.$moment(record.start_date).startOf('day');
                    let endDate = this.$moment(record.end_date).endOf('day');
                    let currentDate = startDate.clone();

                    while (currentDate <= endDate)
                    {
                        dates.push(currentDate.format(this.dateMomentFormat));
                        currentDate.add(1, 'days');
                    }
                }

                //sick leave
                for (let record of this.sickLeave.approvedLeavesTable.items)
                {
                    let startDate = this.$moment(record.start_date).startOf('day');
                    let endDate = this.$moment(record.end_date).endOf('day');
                    let currentDate = startDate.clone();

                    while (currentDate <= endDate)
                    {
                        dates.push(currentDate.format(this.dateMomentFormat));
                        currentDate.add(1, 'days');
                    }
                }
                for (let record of this.sickLeave.unprocessedLeavesTable.items)
                {

                    let startDate = this.$moment(record.start_date).startOf('day');
                    let endDate = this.$moment(record.end_date).endOf('day');
                    let currentDate = startDate.clone();

                    while (currentDate <= endDate)
                    {
                        dates.push(currentDate.format(this.dateMomentFormat));
                        currentDate.add(1, 'days');
                    }
                }

                //work from home
                for (let record of this.workFromHomeRequests.approved)
                {
                    let startDate = this.$moment(record.start_date).startOf('day');
                    let endDate = this.$moment(record.end_date).endOf('day');
                    let currentDate = startDate.clone();

                    while (currentDate <= endDate)
                    {
                        dates.push(currentDate.format(this.dateMomentFormat));
                        currentDate.add(1, 'days');
                    }
                }
                for (let record of this.workFromHomeRequests.unprocessed)
                {

                    let startDate = this.$moment(record.start_date).startOf('day');
                    let endDate = this.$moment(record.end_date).endOf('day');
                    let currentDate = startDate.clone();

                    while (currentDate <= endDate)
                    {
                        dates.push(currentDate.format(this.dateMomentFormat));
                        currentDate.add(1, 'days');
                    }
                }

                return dates;
            },
        },
        data() {
            return {
                display: false,

                now: null,
                //
                // timeFormat: '24hr',
                // timeMomentFormat: 'HH:mm',
                dateMomentFormat: 'YYYY-MM-DD',
                // fullMonthMomentFormat: 'MMMM',
                // dayThMomentFormat: 'Do',

                legalHolidays: {},
                workFromHomeRequests: {
                    unprocessed: [],
                    approved: [],
                },

                personalTimeOffTab: '',

                paidLeaveTabHref: 'paidLeaveTab',
                sickLeaveTabHref: 'sickLeaveTab',

                detailsRules: [
                    v => !!v || 'Details are required',
                ],

                paidLeave: {
                    startDate: null,
                    endDate: null,
                    details: null,

                    validForm: false,
                    resetForm: false,

                    usedDaysTab: '',

                    approvedLeavesTabHref: 'approvedPaidLeaveTab',
                    rejectedLeavesTabHref: 'rejectedPaidLeaveTab',
                    unprocessedLeavesTabHref: 'unprocessedPaidLeaveTab',

                    usedDaysActiveTabClass: 'warning--text text--lighten-2',

                    approvedLeavesTable: {
                        headers: [
                            {
                                text: 'Start Date',
                                align: 'start',
                                sortable: false,
                                value: 'start_date_display',
                            },
                            {
                                text: 'End Date',
                                align: 'start',
                                sortable: false,
                                value: 'end_date_display',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                sortable: false,
                                value: 'days',
                            },
                            {
                                text: 'Approved By',
                                align: 'start',
                                sortable: false,
                                value: 'user_changed_status.name',
                            },
                            {
                                text: 'Approved At',
                                align: 'start',
                                sortable: false,
                                value: 'status_date',
                            },
                            {
                                text: 'Details',
                                align: 'start',
                                sortable: false,
                                value: 'details',
                            },
                        ],
                        items: [],
                    },
                    rejectedLeavesTable: {
                        headers: [
                            {
                                text: 'Start Date',
                                align: 'start',
                                sortable: false,
                                value: 'start_date_display',
                            },
                            {
                                text: 'End Date',
                                align: 'start',
                                sortable: false,
                                value: 'end_date_display',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                sortable: false,
                                value: 'days',
                            },
                            {
                                text: 'Rejected By',
                                align: 'start',
                                sortable: false,
                                value: 'user_changed_status.name',
                            },
                            {
                                text: 'Rejected At',
                                align: 'start',
                                sortable: false,
                                value: 'status_date',
                            },
                            {
                                text: 'Details',
                                align: 'start',
                                sortable: false,
                                value: 'details',
                            },
                        ],
                        items: [],
                    },
                    unprocessedLeavesTable: {
                        headers: [
                            {
                                text: 'Start Date',
                                align: 'start',
                                sortable: false,
                                value: 'start_date_display',
                            },
                            {
                                text: 'End Date',
                                align: 'start',
                                sortable: false,
                                value: 'end_date_display',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                sortable: false,
                                value: 'days',
                            },
                            {
                                text: 'Requested At',
                                align: 'start',
                                sortable: false,
                                value: 'status_date',
                            },
                            {
                                text: 'Details',
                                align: 'start',
                                sortable: false,
                                value: 'details',
                            },
                        ],
                        items: [],
                    },

                    availableDaysTable: {
                        headers: [
                            {
                                text: 'Year',
                                align: 'start',
                                sortable: false,
                                value: 'year',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                sortable: false,
                                value: 'days',
                            },
                            {
                                text: 'Expires At',
                                align: 'start',
                                sortable: false,
                                value: 'expires_at_display',
                            },
                        ],
                        items: [],
                    },
                },

                sickLeave: {
                    startDate: null,
                    endDate: null,
                    details: null,

                    validForm: false,
                    resetForm: false,

                    sickDaysTab: '',

                    approvedLeavesTabHref: 'approvedSickLeaveTab',
                    rejectedLeavesTabHref: 'rejectedSickLeaveTab',
                    unprocessedLeavesTabHref: 'unprocessedSickLeaveTab',

                    sickDaysActiveTabClass: 'warning--text text--lighten-2',

                    approvedLeavesTable: {
                        headers: [
                            {
                                text: 'Start Date',
                                align: 'start',
                                sortable: false,
                                value: 'start_date_display',
                            },
                            {
                                text: 'End Date',
                                align: 'start',
                                sortable: false,
                                value: 'end_date_display',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                sortable: false,
                                value: 'days',
                            },
                            {
                                text: 'Approved By',
                                align: 'start',
                                sortable: false,
                                value: 'user_changed_status.name',
                            },
                            {
                                text: 'Approved At',
                                align: 'start',
                                sortable: false,
                                value: 'status_date',
                            },
                            {
                                text: 'Details',
                                align: 'start',
                                sortable: false,
                                value: 'details',
                            },
                        ],
                        items: [],
                    },
                    rejectedLeavesTable: {
                        headers: [
                            {
                                text: 'Start Date',
                                align: 'start',
                                sortable: false,
                                value: 'start_date_display',
                            },
                            {
                                text: 'End Date',
                                align: 'start',
                                sortable: false,
                                value: 'end_date_display',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                sortable: false,
                                value: 'days',
                            },
                            {
                                text: 'Rejected By',
                                align: 'start',
                                sortable: false,
                                value: 'user_changed_status.name',
                            },
                            {
                                text: 'Rejected At',
                                align: 'start',
                                sortable: false,
                                value: 'status_date',
                            },
                            {
                                text: 'Details',
                                align: 'start',
                                sortable: false,
                                value: 'details',
                            },
                        ],
                        items: [],
                    },
                    unprocessedLeavesTable: {
                        headers: [
                            {
                                text: 'Start Date',
                                align: 'start',
                                sortable: false,
                                value: 'start_date_display',
                            },
                            {
                                text: 'End Date',
                                align: 'start',
                                sortable: false,
                                value: 'end_date_display',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                sortable: false,
                                value: 'days',
                            },
                            {
                                text: 'Requested At',
                                align: 'start',
                                sortable: false,
                                value: 'status_date',
                            },
                            {
                                text: 'Details',
                                align: 'start',
                                sortable: false,
                                value: 'details',
                            },
                        ],
                        items: [],
                    },
                },
            }
        },
        methods: {
            getPaidLeaves()
            {
                const query = {
                    user_id: this.getUser.id,
                };
                return this.$axios.api.get('/api/paid-leave/get', { params: query })
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.paidLeave.unprocessedLeavesTable.items = response.data.paidLeaves.Unprocessed ?? [];
                            this.paidLeave.approvedLeavesTable.items = response.data.paidLeaves.Approved ?? [];
                            this.paidLeave.rejectedLeavesTable.items = response.data.paidLeaves.Rejected ?? [];
                        }
                    })
            },
            getAvailablePaidLeaveDays()
            {
                const query = {
                    user_id: this.getUser.id,
                };
                return this.$axios.api.get('/api/available-paid-leave-days/get', { params: query })
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            let availablePaidLeaveDays = response.data.availablePaidLeaveDays ?? [];

                            this.paidLeave.availableDaysTable.items = availablePaidLeaveDays
                                .filter(entry => entry.days > 0 && entry.expires_at > this.$moment().format(this.dateMomentFormat));
                        }
                    })
            },
            getSickLeaves()
            {
                const query = {
                    user_id: this.getUser.id,
                };
                return this.$axios.api.get('/api/sick-leave/get', { params: query })
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.sickLeave.unprocessedLeavesTable.items = response.data.sickLeaves.Unprocessed ?? [];
                            this.sickLeave.approvedLeavesTable.items = response.data.sickLeaves.Approved ?? [];
                            this.sickLeave.rejectedLeavesTable.items = response.data.sickLeaves.Rejected ?? [];
                        }
                    })
            },
            getWorkFromHomeRequests()
            {
                const query = {
                    user_id: this.getUser.id,
                };
                return this.$axios.api.get('/api/work-from-home/get', { params: query })
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.workFromHomeRequests.unprocessed = response.data.workFromHomeRequests.Unprocessed ?? [];
                            this.workFromHomeRequests.approved = response.data.workFromHomeRequests.Approved ?? [];
                        }
                    })
            },
            getLegalHolidays()
            {
                const query = {
                    country_code: this.apiCountryCode,
                };
                return this.$axios.api.get('/api/legal-holiday/get', { params: query })
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.legalHolidays = response.data.legalHolidays;
                        }
                    })
            },
            resetRequestForm(form)
            {
                return new Promise( (resolve, reject) => {
                    const now = this.$moment();

                    this[form].startDate = now.format(this.dateMomentFormat);
                    this[form].endDate = now.format(this.dateMomentFormat);
                    this[form].details = '';

                    const formRef = form + 'Form';
                    this.$refs[formRef].resetValidation();

                    this[form].resetForm = true;

                    resolve();
                });
            },
            sendPaidLeaveRequest()
            {
                if (this.daysInInterval > this.totalDays)
                {
                    this.$swal.fire({
                        title: 'Only a total of ' + this.totalDays + ' paid leave days are available!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.daysInInterval > (this.totalDays - this.onHoldDays))
                {
                    this.$swal.fire({
                        title: this.onHoldDays + ' Days Are Already Being Processed. Only a total of ' + (this.totalDays - this.onHoldDays) + ' paid leave days are available!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                this.$swal.fire({
                    title: 'Sending Paid Leave Request',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    startDate: this.paidLeave.startDate,
                    endDate: this.paidLeave.endDate,
                    details: this.paidLeave.details,
                };

                this.$axios.api.post('/api/paid-leave/create', payload)
                    .then( async (response) => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            await this.getPaidLeaves();
                            await this.getAvailablePaidLeaveDays();
                            await this.resetRequestForm('paidLeave');

                            await this.$swal.fire({
                                title: 'Paid Leave Request Sent!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })
            },
            sendSickLeaveRequest()
            {
                this.$swal.fire({
                    title: 'Sending Sick Leave Request',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    startDate: this.sickLeave.startDate,
                    endDate: this.sickLeave.endDate,
                    details: this.sickLeave.details,
                };

                this.$axios.api.post('/api/sick-leave/create', payload)
                    .then( async (response) => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            await this.getSickLeaves();
                            await this.resetRequestForm('sickLeave');

                            await this.$swal.fire({
                                title: 'Sick Leave Request Sent!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })
            },
        },
        watch: {
            'paidLeave.usedDaysTab': function (newVal, oldVal) {
                switch (newVal)
                {
                    case this.paidLeave.unprocessedLeavesTabHref:
                        this.paidLeave.usedDaysActiveTabClass = 'warning--text text--lighten-2';
                        break;
                    case this.paidLeave.approvedLeavesTabHref:
                        this.paidLeave.usedDaysActiveTabClass = 'success--text text--lighten-2';
                        break;
                    case this.paidLeave.rejectedLeavesTabHref:
                        this.paidLeave.usedDaysActiveTabClass = 'error--text text--lighten-2';
                        break;
                }
            },
            'sickLeave.sickDaysTab': function (newVal, oldVal) {
                switch (newVal)
                {
                    case this.sickLeave.unprocessedLeavesTabHref:
                        this.sickLeave.sickDaysActiveTabClass = 'warning--text text--lighten-2';
                        break;
                    case this.sickLeave.approvedLeavesTabHref:
                        this.sickLeave.sickDaysActiveTabClass = 'success--text text--lighten-2';
                        break;
                    case this.sickLeave.rejectedLeavesTabHref:
                        this.sickLeave.sickDaysActiveTabClass = 'error--text text--lighten-2';
                        break;
                }
            },
        }
    }
</script>

<style lang="sass">
    @import '@/styles/sass/Swal'
</style>

<style scoped>

</style>