<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                    >
                        <v-card
                                v-if="display"
                        >
                            <v-tabs
                                    v-model="activeTab"
                                    background-color="transparent"
                                    grow
                            >
                                <v-tab
                                        :active-class="'primary--text text--lighten-2'"
                                        :href="`#${positions.active.tabHref}`"
                                >
                                    Active Positions
                                </v-tab>
                                <v-tab
                                        :active-class="'error--text text--lighten-2'"
                                        :href="`#${positions.deleted.tabHref}`"
                                >
                                    Deleted Positions
                                </v-tab>
                                <v-tabs-slider
                                        :color="activeTabClass"
                                >
                                </v-tabs-slider>
                                <v-tabs-items v-model="activeTab">
                                    <v-tab-item
                                            :value="`${positions.active.tabHref}`"
                                    >
                                        <v-container
                                                fluid
                                        >
                                            <v-card
                                                    :color="'info lighten-2'"
                                            >
                                                <v-card-title>
                                                    Active Positions
                                                </v-card-title>
                                                <v-data-table
                                                        :headers="positions.active.table.headers"
                                                        :items="positions.active.table.items"
                                                        :items-per-page="10"
                                                        item-key="name"
                                                        :search="positions.active.table.search"
                                                        :custom-filter="searchPosition"
                                                        class="elevation-1"
                                                >
                                                    <template v-slot:top>
                                                        <v-toolbar flat>
                                                            <v-text-field
                                                                    v-model="positions.active.table.search"
                                                                    append-icon="mdi-magnify"
                                                                    label="Search Position"
                                                                    single-line
                                                                    hide-details
                                                                    class="mx-4"
                                                                    style="width: 100%"
                                                            ></v-text-field>
                                                            <v-divider
                                                                    class="mx-4"
                                                                    inset
                                                                    vertical
                                                            ></v-divider>
                                                            <v-spacer></v-spacer>
                                                            <!--                                                    <v-btn @click="openPositionModal" color="info" dark class="mb-2">-->
                                                            <!--                                                        <v-icon left>mdi-plus</v-icon>-->
                                                            <!--                                                        <span>New Position</span>-->
                                                            <!--                                                    </v-btn>-->
                                                            <v-dialog v-model="positionModal.state" max-width="500px">
                                                                <template v-slot:activator="{ on }">
                                                                    <v-btn @click="openPositionModal" color="info" dark class="mb-2" v-on="on">
                                                                        <v-icon left>mdi-plus</v-icon>
                                                                        <span>New Position</span>
                                                                    </v-btn>
                                                                </template>
                                                                <v-card>
                                                                    <v-card-title>
                                                                        <span class="headline">{{ positionModal.title }}</span>
                                                                    </v-card-title>

                                                                    <v-card-text>
                                                                        <v-container>
                                                                            <v-row>
                                                                                <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                                                                                    <v-text-field v-model="positionModal.name" label="Name"></v-text-field>
                                                                                </v-col>
                                                                            </v-row>
                                                                        </v-container>
                                                                    </v-card-text>

                                                                    <v-card-actions>
                                                                        <v-spacer></v-spacer>
                                                                        <v-btn color="blue darken-1" text @click="closePositionModal">
                                                                            <v-icon left>mdi-arrow-left</v-icon>
                                                                            Cancel
                                                                        </v-btn>
                                                                        <!--                                                                <v-btn color="blue darken-1" text @click="addNewPosition">-->
                                                                        <v-btn color="blue darken-1" text @click="handleAction(positionModal.actionFunc)">
                                                                            <v-icon left>{{ positionModal.saveButtonIcon }}</v-icon>
                                                                            {{ positionModal.saveButtonText }}
                                                                        </v-btn>
                                                                    </v-card-actions>
                                                                </v-card>
                                                            </v-dialog>
                                                        </v-toolbar>
                                                    </template>
                                                    <template v-slot:item.actions="{ item }">
                                                        <div class="v-item-group theme--light v-btn-toggle--borderless">
                                                            <v-btn @click="openPositionModal(item)" color="info">
                                                                <v-icon left color="white">mdi-pencil</v-icon>
                                                                <span class="hidden-sm-and-down">Edit</span>
                                                            </v-btn>
                                                            <v-divider
                                                                    class="mx-1"
                                                                    inset
                                                                    vertical
                                                            ></v-divider>
                                                            <v-btn @click="deletePosition(item)" color="error">
                                                                <v-icon left color="white">mdi-delete</v-icon>
                                                                <span class="hidden-sm-and-down">Delete</span>
                                                            </v-btn>
                                                        </div>
                                                    </template>
                                                </v-data-table>
                                            </v-card>
                                        </v-container>
                                    </v-tab-item>
                                    <v-tab-item
                                            :value="`${positions.deleted.tabHref}`"
                                    >
                                        <v-container
                                                fluid
                                        >
                                            <v-card
                                                    :color="'error lighten-2'"
                                            >
                                                <v-card-title>
                                                    Deleted Positions
                                                </v-card-title>
                                                <v-data-table
                                                        :headers="positions.deleted.table.headers"
                                                        :items="positions.deleted.table.items"
                                                        :items-per-page="10"
                                                        item-key="name"
                                                        :search="positions.deleted.table.search"
                                                        :custom-filter="searchPosition"
                                                        class="elevation-1"
                                                >
                                                    <template v-slot:top>
                                                        <v-row>
                                                            <v-col
                                                                    :cols="12"
                                                                    :sm="12"
                                                                    :md="12"
                                                                    :lg="12"
                                                                    :xl="12"
                                                            >
                                                                <v-text-field
                                                                        v-model="positions.deleted.table.search"
                                                                        append-icon="mdi-magnify"
                                                                        label="Search Position"
                                                                        single-line
                                                                        hide-details
                                                                        class="mx-4"
                                                                ></v-text-field>
                                                            </v-col>
                                                        </v-row>
                                                    </template>
                                                    <template v-slot:item.actions="{ item }">
                                                        <div class="v-item-group theme--light v-btn-toggle--borderless v-btn-toggle--rounded">
                                                            <v-btn @click="restoreDeletedPosition(item)" color="info">
                                                                <v-icon left color="white">mdi-delete-restore</v-icon>
                                                                <span class="hidden-sm-and-down">Restore</span>
                                                            </v-btn>
                                                        </div>
                                                    </template>
                                                </v-data-table>
                                            </v-card>
                                        </v-container>
                                    </v-tab-item>
                                </v-tabs-items>
                            </v-tabs>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    export default {
        name: "positions",
        async created() {
            await this.init();

            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        data() {
            return {
                display: false,

                activeTab: '',
                activeTabClass: 'primary--text text--lighten-2',

                positionModal: {
                    state: false,
                    title: '',
                    name: '',
                    oldPosition: null,
                    actionFunc: '',
                    saveButtonText: '',
                    saveButtonIcon: '',
                },

                positions: {
                    active: {
                        table: {
                            headers: [
                                {
                                    text: 'Name',
                                    align: 'start',
                                    value: 'name',
                                },
                                {
                                    text: 'Actions',
                                    align: 'start',
                                    sortable: false,
                                    value: 'actions',
                                },
                            ],
                            items: [],
                            search: '',
                        },
                        tabHref: 'activePositionsTabHref',
                    },
                    deleted: {
                        table: {
                            headers: [
                                {
                                    text: 'Name',
                                    align: 'start',
                                    value: 'name',
                                },
                                {
                                    text: 'Actions',
                                    align: 'start',
                                    sortable: false,
                                    value: 'actions',
                                },
                            ],
                            items: [],
                            search: '',
                        },
                        tabHref: 'deletedPositionsTabHref',
                    },
                },
            }
        },
        methods: {
            async init() {
                await this.getPositions();

                return new Promise( (resolve, reject) => {
                    resolve();
                });
            },
            getPositions()
            {
                return this.$axios.api.get('api/position/get-all')
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.positions.active.table.items = response.data.positions.active;
                            this.positions.deleted.table.items = response.data.positions.deleted;
                        }
                    })
            },
            searchPosition(value, search, item)
            {
                return value != null &&
                    search != null &&
                    typeof value === 'string' &&
                    value.toString().toLowerCase().indexOf(search) !== -1
            },
            openPositionModal(item)
            {
                if (Object.getOwnPropertyDescriptor(item, 'name'))
                {
                    this.positionModal.name = item.name;
                    this.positionModal.oldPosition = item;
                    this.positionModal.title = 'Edit Position';
                    this.positionModal.actionFunc = 'updatePosition';
                    this.positionModal.saveButtonIcon = 'mdi-content-save';
                    this.positionModal.saveButtonText = 'Update';

                }
                else
                {
                    this.positionModal.name = '';
                    this.positionModal.oldPosition = null;
                    this.positionModal.title = 'Add Position';
                    this.positionModal.actionFunc = 'addNewPosition';
                    this.positionModal.saveButtonIcon = 'mdi-plus';
                    this.positionModal.saveButtonText = 'Add';
                }
                this.positionModal.state = true;
            },
            closePositionModal()
            {
                this.positionModal.state = false;
                this.positionModal.name = '';
                this.positionModal.oldPosition = null;
            },
            handleAction(actionFunc)
            {
                this[actionFunc]();
            },
            addNewPosition()
            {
                if (this.positionModal.name.length === 0 || this.positionModal.name.trim().length === 0)
                {
                    this.$swal.fire({
                        title: 'Position Name Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                this.$swal.fire({
                    title: 'Adding New Position',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    name: this.positionModal.name,
                }

                this.$axios.api.post('api/position/create', payload)
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            let newPosition = response.data.position;

                            this.positions.active.table.items.push(newPosition);
                            this.closePositionModal();

                            this.$swal.fire({
                                title: 'Position Added!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })

            },
            updatePosition()
            {
                if (this.positionModal.name.length === 0 || this.positionModal.name.trim().length === 0)
                {
                    this.$swal.fire({
                        title: 'Position Name Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                this.$swal.fire({
                    title: 'Updating Position',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    id: this.positionModal.oldPosition.id,
                    name: this.positionModal.name,
                }

                this.$axios.api.post('api/position/update', payload)
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            let updatedPosition = response.data.position;

                            let indexUpdatedPosition = this.positions.active.table.items
                                .map(d => d.id)
                                .indexOf(payload.id)
                            ;
                            this.positions.active.table.items[indexUpdatedPosition].name = updatedPosition.name;

                            this.closePositionModal();

                            this.$swal.fire({
                                title: 'Position Updated!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })
            },
            async deletePosition(position)
            {
                const title = 'Are you sure you want to delete position ' + position.name + '?';

                let answer = await this.$swal.fire({
                    title: title,
                    icon: 'warning',
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonText: 'Yes',
                    confirmButtonColor: 'red',
                    focusConfirm: false,
                    focusCancel: false,
                }).then( (result) => {
                    if (result.value) {
                        this.$swal.fire({
                            title: 'Deleting Position',
                            icon: 'info',
                            showCancelButton: false,
                            showConfirmButton: false,
                            allowEnterKey: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            onBeforeOpen: () => {
                                this.$swal.showLoading()
                            },
                        });

                        return true;
                    }
                    else
                    {
                        return false;
                    }
                });

                if (answer === false)
                {
                    return;
                }

                const payload = {
                    id: position.id,
                }

                this.$axios.api.post('api/position/delete', payload)
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            let indexDeletedPosition = this.positions.active.table.items
                                .map(d => d.id)
                                .indexOf(payload.id)
                            ;
                            this.positions.active.table.items.splice(indexDeletedPosition, 1);
                            this.positions.deleted.table.items.push(position);

                            this.$swal.fire({
                                title: 'Position Deleted!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })
            },
            async restoreDeletedPosition(position)
            {
                const title = 'Are you sure you want to restore position ' + position.name + '?';

                let answer = await this.$swal.fire({
                    title: title,
                    icon: 'warning',
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonText: 'Yes',
                }).then( (result) => {
                    if (result.value) {
                        this.$swal.fire({
                            title: 'Restoring Position',
                            icon: 'info',
                            showCancelButton: false,
                            showConfirmButton: false,
                            allowEnterKey: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            onBeforeOpen: () => {
                                this.$swal.showLoading()
                            },
                        });

                        return true;
                    }
                    else
                    {
                        return false;
                    }
                });

                if (answer === false)
                {
                    return;
                }

                const payload = {
                    id: position.id,
                }

                this.$axios.api.post('api/position/restore', payload)
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            let restoredPosition = response.data.position;

                            let indexRestoredPosition = this.positions.deleted.table.items
                                .map(d => d.id)
                                .indexOf(restoredPosition.id)
                            ;
                            this.positions.deleted.table.items.splice(indexRestoredPosition, 1);
                            this.positions.active.table.items.push(restoredPosition);

                            this.$swal.fire({
                                title: 'Position Restored!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })
            },
        },
        watch: {
            'activeTab': function (newVal, oldVal) {
                switch (newVal)
                {
                    case this.positions.active.tabHref:
                        this.activeTabClass = 'primary--text text--lighten-2';
                        break;
                    case this.positions.deleted.tabHref:
                        this.activeTabClass = 'error--text text--lighten-2';
                        break;
                }
            },
        },
    }
</script>

<style scoped>

</style>