<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                            class="py-0"
                    >
                        <v-card
                        >
                            <template v-for="department of departments">
                                <v-row :key="'department_id_' + department.department_id">
                                    <v-col
                                            :cols="12"
                                            :sm="12"
                                            :md="12"
                                            :lg="12"
                                            :xl="12"
                                    >
                                        <v-card-title class="justify-center">
                                            {{department.name}}
                                        </v-card-title>
                                        <v-row class="justify-center text-center">
                                            <template v-for="position of positionsByDepartment(department.department_id)">
                                                <template v-for="employee of employeesBySection(department.department_id, position.position_id)">
                                                    <v-col
                                                            :cols="12"
                                                            :sm="12"
                                                            :md="6"
                                                            :lg="4"
                                                            :xl="4"
                                                            :key="'department_id_' + department.department_id + 'position_id_' + position.position_id + '_employee_id_' + employee.id"
                                                            class="mb-8 px-8"
                                                            style="height: 110px!important"
                                                    >
                                                        <v-list>
                                                            <v-list-item style="height: 110px!important; border-radius: 70px!important; box-shadow: 0 0 3pt 1pt black;">
                                                                <v-list-item-avatar
                                                                        style="height: 110px!important;
                                                                               width: 110px!important;
                                                                               margin-right: 0!important;
                                                                               margin-left: -16px!important;"
                                                                >
                                                                    <v-avatar
                                                                            left
                                                                            :color="avatarBackgroundColor(employee.profile)"
                                                                            style="height: 110px!important;
                                                                                   width: 110px!important;
                                                                                   margin-right: 0!important;
                                                                                   margin-left: 0!important;"
                                                                    >
                                                                        <template v-if="employee.profile.picture === null">
                                                                            <span class="white--text">{{ userInitials(employee.name) }}</span>
                                                                        </template>
                                                                        <template v-else>
                                                                            <img
                                                                                    :src="employee.profile.picture"
                                                                            >
                                                                        </template>
                                                                    </v-avatar>
                                                                </v-list-item-avatar>
                                                                <v-list-item-content class="text-left ml-2 my-auto">
                                                                    <v-list-item-title>{{employee.name}}</v-list-item-title>
                                                                    <v-list-item-subtitle>{{position.name}}</v-list-item-subtitle>
                                                                    <v-divider
                                                                            class="my-2"
                                                                    ></v-divider>
                                                                    <v-list-item-subtitle class="mb-1">{{employee.email}}</v-list-item-subtitle>
                                                                    <v-list-item-subtitle>{{employee.profile.phone}}</v-list-item-subtitle>
                                                                </v-list-item-content>
                                                            </v-list-item>
                                                        </v-list>
                                                    </v-col>
                                                </template>
                                            </template>
                                        </v-row>
                                    </v-col>
                                </v-row>
                            </template>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "Team",
        async created()
        {
            await this.getDepartments();
            await this.getPositions();
            await this.getEmployees();

            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        async mounted()
        {

        },
        computed: {
            ...mapGetters({
                user: 'Auth/getUser',
                userProfile: 'Auth/getUserProfile',
                picture: 'Auth/getUserProfilePicture',
            }),
        },
        data() {
            return {
                display: false,

                avatarTransparentBackgroundColor: 'transparent',
                avatarDefaultBackgroundColor: 'red',

                departments: [],
                positions: [],
                employees: [],
            }
        },
        methods: {
            getDepartments()
            {
                return new Promise( (resolve, reject) => {
                    this.$axios.api.get('/api/department/hierarchy/get')
                        .then( response => {
                            this.departments = response.data.departments.filter(department => department.name !== 'NOT_SET');
                            resolve();
                        });
                });
            },
            getPositions()
            {
                return new Promise( (resolve, reject) => {
                    this.$axios.api.get('/api/position/hierarchy/get')
                        .then( response => {
                            this.positions = response.data.positions;
                            resolve();
                        });
                });
            },
            getEmployees()
            {
                return new Promise( (resolve, reject) => {
                    this.$axios.api.get('/api/employee/get-all')
                        .then( response => {
                            this.employees = response.data.employees.active;

                            let currentUser = this.user;
                            Object.assign(currentUser, this.userProfile);
                            currentUser.department = {
                                id: currentUser.department_id,
                            };
                            currentUser.position = {
                                id: currentUser.position_id,
                            };
                            currentUser.profile = this.userProfile;

                            this.employees.push(currentUser);
                            resolve();
                        });
                });
            },
            positionsByDepartment(departmentId)
            {
                for(let positionsInDepartment of this.positions)
                {
                    if (positionsInDepartment[0].department_id === departmentId)
                    {
                        return positionsInDepartment;
                    }
                }

                return [];
            },
            employeesBySection(departmentId, positionId)
            {
                let filteredEmployees = this.employees
                    .filter(e => e.department.id === departmentId && e.position.id === positionId)
                    .sort( (a, b) => a.name.localeCompare(b.name));

                return filteredEmployees;
            },
            userInitials(name) {
                return this.Helpers.getUserInitials(name);
            },
            avatarBackgroundColor(profile) {
                if (profile.picture === null)
                {
                    return this.avatarDefaultBackgroundColor;
                }
                else
                {
                    return this.avatarTransparentBackgroundColor;
                }
            },
        },
        watch: {

        }
    }
</script>

<style scoped>
    .v-chip:before {
        background: transparent !important;
    }
</style>