<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                            class="py-0"
                    >
                        <v-card
                                v-if="display"
                        >
                            <v-tabs
                                    v-model="timeOffTab"
                                    background-color="transparent"
                                    grow
                            >
                                <v-tab
                                        :href="`#${paidLeave.tabHref}`"
                                >
                                    Paid Leave
                                </v-tab>
                                <v-tab
                                        :href="`#${sickLeave.tabHref}`"
                                >
                                    Sick Leave
                                </v-tab>
                                <v-tab
                                        :href="`#${workFromHome.tabHref}`"
                                >
                                    Work From Home
                                </v-tab>
                            </v-tabs>
                            <v-tabs-items v-model="timeOffTab">
                                <v-tab-item
                                        :value="`${paidLeave.tabHref}`"
                                >
                                    <v-row>
                                        <v-col
                                                :cols="12"
                                                :sm="12"
                                                :md="12"
                                                :lg="12"
                                                :xl="12"
                                        >
                                            <v-data-table
                                                    :headers="paidLeave.table.headers"
                                                    :items="paidLeave.table.items"
                                                    :items-per-page="-1"
                                                    item-key="id"
                                                    :search="paidLeave.table.search"
                                                    :custom-filter="searchPaidLeave"
                                                    :sort-by="['start_date']"
                                                    :sort-desc="[false]"
                                                    class="elevation-1"
                                            >
                                                <template v-slot:top>
                                                    <v-toolbar flat>
                                                        <v-text-field
                                                                v-model="paidLeave.table.search"
                                                                append-icon="mdi-magnify"
                                                                label="Search"
                                                                single-line
                                                                hide-details
                                                                class="mx-4"
                                                                style="width: 100%"
                                                        ></v-text-field>
                                                    </v-toolbar>
                                                </template>
                                                <template v-slot:item.actions="{ item }">
                                                    <div class="v-item-group theme--light v-btn-toggle--borderless">
                                                        <v-btn @click="approvePaidLeave(item)" color="success">
                                                            <v-icon left color="white">mdi-check-circle</v-icon>
                                                            <span class="hidden-sm-and-down">Approve</span>
                                                        </v-btn>
                                                        <v-divider
                                                                class="mx-1"
                                                                inset
                                                                vertical
                                                        ></v-divider>
                                                        <v-btn @click="rejectPaidLeave(item)" color="error">
                                                            <v-icon left color="white">mdi-close-circle-outline</v-icon>
                                                            <span class="hidden-sm-and-down">Reject</span>
                                                        </v-btn>
                                                    </div>
                                                </template>
                                            </v-data-table>
                                        </v-col>
                                    </v-row>
                                </v-tab-item>
                                <v-tab-item
                                        :value="`${sickLeave.tabHref}`"
                                >
                                    <v-row>
                                        <v-col
                                                :cols="12"
                                                :sm="12"
                                                :md="12"
                                                :lg="12"
                                                :xl="12"
                                        >
                                            <v-data-table
                                                    :headers="sickLeave.table.headers"
                                                    :items="sickLeave.table.items"
                                                    :items-per-page="-1"
                                                    item-key="id"
                                                    :search="sickLeave.table.search"
                                                    :custom-filter="searchSickLeave"
                                                    :sort-by="['start_date']"
                                                    :sort-desc="[false]"
                                                    class="elevation-1"
                                            >
                                                <template v-slot:top>
                                                    <v-toolbar flat>
                                                        <v-text-field
                                                                v-model="sickLeave.table.search"
                                                                append-icon="mdi-magnify"
                                                                label="Search"
                                                                single-line
                                                                hide-details
                                                                class="mx-4"
                                                                style="width: 100%"
                                                        ></v-text-field>
                                                    </v-toolbar>
                                                </template>
                                                <template v-slot:item.actions="{ item }">
                                                    <div class="v-item-group theme--light v-btn-toggle--borderless">
                                                        <v-btn @click="approveSickLeave(item)" color="success">
                                                            <v-icon left color="white">mdi-check-circle</v-icon>
                                                            <span class="hidden-sm-and-down">Approve</span>
                                                        </v-btn>
                                                        <v-divider
                                                                class="mx-1"
                                                                inset
                                                                vertical
                                                        ></v-divider>
                                                        <v-btn @click="rejectSickLeave(item)" color="error">
                                                            <v-icon left color="white">mdi-close-circle-outline</v-icon>
                                                            <span class="hidden-sm-and-down">Reject</span>
                                                        </v-btn>
                                                    </div>
                                                </template>
                                            </v-data-table>
                                        </v-col>
                                    </v-row>
                                </v-tab-item>
                                <v-tab-item
                                        :value="`${workFromHome.tabHref}`"
                                >
                                    <v-row>
                                        <v-col
                                                :cols="12"
                                                :sm="12"
                                                :md="12"
                                                :lg="12"
                                                :xl="12"
                                        >
                                            <v-data-table
                                                    :headers="workFromHome.table.headers"
                                                    :items="workFromHome.table.items"
                                                    :items-per-page="-1"
                                                    item-key="id"
                                                    :search="workFromHome.table.search"
                                                    :custom-filter="searchWorkFromHome"
                                                    :sort-by="['start_date']"
                                                    :sort-desc="[false]"
                                                    class="elevation-1"
                                            >
                                                <template v-slot:top>
                                                    <v-toolbar flat>
                                                        <v-text-field
                                                                v-model="workFromHome.table.search"
                                                                append-icon="mdi-magnify"
                                                                label="Search"
                                                                single-line
                                                                hide-details
                                                                class="mx-4"
                                                                style="width: 100%"
                                                        ></v-text-field>
                                                    </v-toolbar>
                                                </template>
                                                <template v-slot:item.actions="{ item }">
                                                    <div class="v-item-group theme--light v-btn-toggle--borderless">
                                                        <v-btn @click="approveWorkFromHome(item)" color="success">
                                                            <v-icon left color="white">mdi-check-circle</v-icon>
                                                            <span class="hidden-sm-and-down">Approve</span>
                                                        </v-btn>
                                                        <v-divider
                                                                class="mx-1"
                                                                inset
                                                                vertical
                                                        ></v-divider>
                                                        <v-btn @click="rejectWorkFromHome(item)" color="error">
                                                            <v-icon left color="white">mdi-close-circle-outline</v-icon>
                                                            <span class="hidden-sm-and-down">Reject</span>
                                                        </v-btn>
                                                    </div>
                                                </template>
                                            </v-data-table>
                                        </v-col>
                                    </v-row>
                                </v-tab-item>
                            </v-tabs-items>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    export default {
        name: "TimeOffRequests",
        async created()
        {
            await this.init();

            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        async mounted()
        {

        },
        computed: {

        },
        data() {
            return {
                display: false,

                timeOffTab: '',

                paidLeave: {
                    table: {
                        headers: [
                            {
                                text: 'Employee',
                                align: 'start',
                                sortable: false,
                                value: 'user.name',
                            },
                            {
                                text: 'Start Date',
                                align: 'start',
                                sortable: false,
                                value: 'start_date_display',
                            },
                            {
                                text: 'End Date',
                                align: 'start',
                                sortable: false,
                                value: 'end_date_display',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                sortable: false,
                                value: 'days',
                            },
                            {
                                text: 'Requested At',
                                align: 'start',
                                sortable: false,
                                value: 'status_date',
                            },
                            {
                                text: 'Details',
                                align: 'start',
                                sortable: false,
                                value: 'details',
                            },
                            {
                                text: 'Actions',
                                align: 'start',
                                sortable: false,
                                value: 'actions',
                            },
                        ],
                        items: [],
                    },
                    tabHref: 'paidLeaveTab',
                },
                sickLeave: {
                    table: {
                        headers: [
                            {
                                text: 'Employee',
                                align: 'start',
                                sortable: false,
                                value: 'user.name',
                            },
                            {
                                text: 'Start Date',
                                align: 'start',
                                sortable: false,
                                value: 'start_date_display',
                            },
                            {
                                text: 'End Date',
                                align: 'start',
                                sortable: false,
                                value: 'end_date_display',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                sortable: false,
                                value: 'days',
                            },
                            {
                                text: 'Requested At',
                                align: 'start',
                                sortable: false,
                                value: 'status_date',
                            },
                            {
                                text: 'Details',
                                align: 'start',
                                sortable: false,
                                value: 'details',
                            },
                            {
                                text: 'Actions',
                                align: 'start',
                                sortable: false,
                                value: 'actions',
                            },
                        ],
                        items: [],
                    },
                    tabHref: 'sickLeaveTab',
                },
                workFromHome: {
                    table: {
                        headers: [
                            {
                                text: 'Employee',
                                align: 'start',
                                sortable: false,
                                value: 'user.name',
                            },
                            {
                                text: 'Start Date',
                                align: 'start',
                                sortable: false,
                                value: 'start_date_display',
                            },
                            {
                                text: 'End Date',
                                align: 'start',
                                sortable: false,
                                value: 'end_date_display',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                sortable: false,
                                value: 'days',
                            },
                            {
                                text: 'Requested At',
                                align: 'start',
                                sortable: false,
                                value: 'status_date',
                            },
                            {
                                text: 'Details',
                                align: 'start',
                                sortable: false,
                                value: 'details',
                            },
                            {
                                text: 'Actions',
                                align: 'start',
                                sortable: false,
                                value: 'actions',
                            },
                        ],
                        items: [],
                    },
                    tabHref: 'workFromHomeTab',
                },
            }
        },
        methods: {
            async init()
            {
                await this.getPaidLeaveRequests();
                await this.getSickLeaveRequests();
                await this.getWorkFromHomeRequests();

                return new Promise( (resolve, reject) => {
                    resolve();
                });
            },
            getPaidLeaveRequests()
            {
                return new Promise( (resolve, reject) => {
                    this.$axios.api.get('/api/paid-leave/get')
                        .then( response => {
                            this.paidLeave.table.items = response.data.paidLeaves.Unprocessed;
                            resolve();
                        });
                });
            },
            getSickLeaveRequests()
            {
                return new Promise( (resolve, reject) => {
                    this.$axios.api.get('/api/sick-leave/get')
                        .then( response => {
                            this.sickLeave.table.items = response.data.sickLeaves.Unprocessed;
                            resolve();
                        });
                });
            },
            getWorkFromHomeRequests()
            {
                return new Promise( (resolve, reject) => {
                    this.$axios.api.get('/api/work-from-home/get')
                        .then( response => {
                            this.workFromHome.table.items = response.data.workFromHomeRequests.Unprocessed;
                            resolve();
                        });
                });
            },

            searchPaidLeave(value, search, item)
            {
                return value != null &&
                    search != null &&
                    typeof value === 'string' &&
                    value.toString().toLowerCase().indexOf(search) !== -1
            },
            approvePaidLeave(item)
            {
                this.$swal.fire({
                    title: 'Approving Paid Leave Request',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    id: item.id,
                };

                this.$axios.api.post('api/paid-leave/approve', payload)
                    .then( response => {
                        let indexApprovedRequest = this.paidLeave.table.items
                            .map(d => d.id)
                            .indexOf(payload.id)
                        ;
                        this.paidLeave.table.items.splice(indexApprovedRequest, 1);

                        this.$swal.fire({
                            title: 'Paid Leave Request Approved!',
                            icon: 'success',
                            timer: 1500,
                            showCancelButton: false,
                            showConfirmButton: false,
                            allowEnterKey: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                        });
                    });
            },
            rejectPaidLeave(item)
            {
                this.$swal.fire({
                    title: 'Rejecting Paid Leave Request',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    id: item.id,
                };

                this.$axios.api.post('api/paid-leave/reject', payload)
                    .then( response => {
                        let indexRejectedRequest = this.paidLeave.table.items
                            .map(d => d.id)
                            .indexOf(payload.id)
                        ;
                        this.paidLeave.table.items.splice(indexRejectedRequest, 1);

                        this.$swal.fire({
                            title: 'Paid Leave Request Rejected!',
                            icon: 'success',
                            timer: 1500,
                            showCancelButton: false,
                            showConfirmButton: false,
                            allowEnterKey: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                        });
                    });
            },

            searchSickLeave(value, search, item)
            {
                return value != null &&
                    search != null &&
                    typeof value === 'string' &&
                    value.toString().toLowerCase().indexOf(search) !== -1
            },
            approveSickLeave(item)
            {
                this.$swal.fire({
                    title: 'Approving Sick Leave Request',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    id: item.id,
                };

                this.$axios.api.post('api/sick-leave/approve', payload)
                    .then( response => {
                        let indexApprovedRequest = this.sickLeave.table.items
                            .map(d => d.id)
                            .indexOf(payload.id)
                        ;
                        this.sickLeave.table.items.splice(indexApprovedRequest, 1);

                        this.$swal.fire({
                            title: 'Sick Leave Request Approved!',
                            icon: 'success',
                            timer: 1500,
                            showCancelButton: false,
                            showConfirmButton: false,
                            allowEnterKey: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                        });
                    });
            },
            rejectSickLeave(item)
            {
                this.$swal.fire({
                    title: 'Rejecting Sick Leave Request',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    id: item.id,
                };

                this.$axios.api.post('api/sick-leave/reject', payload)
                    .then( response => {
                        let indexRejectedRequest = this.sickLeave.table.items
                            .map(d => d.id)
                            .indexOf(payload.id)
                        ;
                        this.sickLeave.table.items.splice(indexRejectedRequest, 1);

                        this.$swal.fire({
                            title: 'Sick Leave Request Rejected!',
                            icon: 'success',
                            timer: 1500,
                            showCancelButton: false,
                            showConfirmButton: false,
                            allowEnterKey: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                        });
                    });
            },

            searchWorkFromHome(value, search, item)
            {
                return value != null &&
                    search != null &&
                    typeof value === 'string' &&
                    value.toString().toLowerCase().indexOf(search) !== -1
            },
            approveWorkFromHome(item)
            {
                this.$swal.fire({
                    title: 'Approving Work From Home Request',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    id: item.id,
                };

                this.$axios.api.post('api/work-from-home/approve', payload)
                    .then( response => {
                        let indexApprovedRequest = this.workFromHome.table.items
                            .map(d => d.id)
                            .indexOf(payload.id)
                        ;
                        this.workFromHome.table.items.splice(indexApprovedRequest, 1);

                        this.$swal.fire({
                            title: 'Work From Home Request Approved!',
                            icon: 'success',
                            timer: 1500,
                            showCancelButton: false,
                            showConfirmButton: false,
                            allowEnterKey: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                        });
                    });
            },
            rejectWorkFromHome(item)
            {
                this.$swal.fire({
                    title: 'Rejecting Work From Home Request',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    id: item.id,
                };

                this.$axios.api.post('api/work-from-home/reject', payload)
                    .then( response => {
                        let indexRejectedRequest = this.workFromHome.table.items
                            .map(d => d.id)
                            .indexOf(payload.id)
                        ;
                        this.workFromHome.table.items.splice(indexRejectedRequest, 1);

                        this.$swal.fire({
                            title: 'Work From Home Request Rejected!',
                            icon: 'success',
                            timer: 1500,
                            showCancelButton: false,
                            showConfirmButton: false,
                            allowEnterKey: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                        });
                    });
            },
        },
        watch: {

        }
    }
</script>

<style scoped>

</style>