<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                            class="py-0"
                    >
                        <v-form
                                ref="userProfileForm"
                                v-model="form.valid"
                        >
                            <v-container
                                    fluid
                                    class="py-0"
                            >
                                <v-avatar
                                        :color="avatarBackgroundColor"
                                        :height="avatarSize"
                                        :min-height="avatarSize"
                                        :max-height="avatarSize"
                                        :width="avatarSize"
                                        :min-width="avatarSize"
                                        :max-width="avatarSize"
                                        class="avatar-pointer-event d-flex mr-auto ml-auto"
                                        @click="openPictureModal"
                                >
                                    <template v-if="displayDefaultAvatar">
                                <span
                                        class="white--text"
                                        style="font-size: calc(16px * 3)"
                                >
                                    {{ userInitials }}
                                </span>
                                    </template>
                                    <template v-else>
                                        <img
                                                :src="profile.picture"
                                        >
                                    </template>
                                </v-avatar>

                                <v-dialog
                                        ref="croppaModal"
                                        v-model="form.pictureModal.state"
                                        :max-width="pictureModalWidth"
                                >
                                    <v-card>
                                        <v-row
                                                class="ml-0 mr-0"
                                        >
                                            <v-col
                                                    :cols="12"
                                                    :sm="12"
                                                    :md="6"
                                                    :lg="6"
                                                    :xl="6"
                                                    ref="croppaCol"
                                                    class="text-center"
                                            >
                                                <croppa
                                                        id="croppa-profile-picture"
                                                        v-model="form.pictureModal.picture"
                                                        :width="croppaCanvasWidth"
                                                        :height="croppaCanvasWidth"
                                                        :quality="1"
                                                        :accept="'image/*'"
                                                        :prevent-white-space="true"
                                                        :show-remove-button="true"
                                                        remove-button-color="red"
                                                        :remove-button-size="30"
                                                        :zoom-speed="10"
                                                        @new-image-drawn="updateModalAvatar"
                                                        @image-remove="updateModalAvatar"
                                                        @draw="updateModalAvatar"
                                                        @initial-image-loaded="form.pictureModal.initialPictureLoaded = true"
                                                >
                                                    <img
                                                            :src="form.pictureModal.initialPicture"
                                                            slot="initial"
                                                    >
                                                </croppa>
                                            </v-col>
                                            <v-col
                                                    :cols="12"
                                                    :sm="12"
                                                    :md="6"
                                                    :lg="6"
                                                    :xl="6"
                                                    class="mt-auto mb-auto"
                                            >
                                                <v-avatar
                                                        :color="form.pictureModal.previewBackgroundColor"
                                                        :height="avatarSize"
                                                        :min-height="avatarSize"
                                                        :max-height="avatarSize"
                                                        :width="avatarSize"
                                                        :min-width="avatarSize"
                                                        :max-width="avatarSize"
                                                        class="d-flex mr-auto ml-auto mt-auto mb-auto"
                                                >
                                                    <template v-if="this.form.pictureModal.preview === null">
                                                <span
                                                        class="white--text"
                                                        style="font-size: calc(16px * 3)"
                                                >
                                                    {{ userInitials }}
                                                </span>
                                                    </template>
                                                    <template v-else>
                                                        <img
                                                                :src="form.pictureModal.preview"
                                                        >
                                                    </template>
                                                </v-avatar>
                                            </v-col>
                                        </v-row>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn
                                                    text
                                                    @click="closePictureModal"
                                            >
                                                Cancel
                                            </v-btn>
                                            <v-btn
                                                    text
                                                    @click="savePicture"
                                            >
                                                Save
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog>

                                <v-row>
                                    <v-col
                                            cols="12"
                                            sm="12"
                                            md="12"
                                            lg="12"
                                            xl="12"
                                    >
                                        <v-text-field
                                                v-model="user.name"
                                                disabled
                                                label="Name"
                                                outlined
                                        ></v-text-field>

                                        <v-text-field
                                                v-model="user.email"
                                                disabled
                                                label="E-mail"
                                                outlined
                                        ></v-text-field>

                                        <v-text-field
                                                v-model="profile.department_name"
                                                disabled
                                                label="Department"
                                                outlined
                                        ></v-text-field>

                                        <v-text-field
                                                v-model="profile.position_name"
                                                disabled
                                                label="Position"
                                                outlined
                                        ></v-text-field>

                                        <v-text-field
                                                v-model="form.phone"
                                                label="Phone Number"
                                                outlined
                                        ></v-text-field>

                                        <v-dialog
                                                ref="birthdayModal"
                                                v-model="form.birthday.modalState"
                                                :return-value.sync="form.birthday.date"
                                                :max-width="300"
                                        >
                                            <template v-slot:activator="{ on }">
                                                <v-text-field
                                                        v-model="form.birthday.date"
                                                        label="Birthday date"
                                                        readonly
                                                        v-on="on"
                                                        outlined
                                                ></v-text-field>
                                            </template>
                                            <v-date-picker
                                                    ref="birthdayDatePicker"
                                                    :first-day-of-week="1"
                                                    v-model="form.birthday.date"
                                                    :max="new Date().toISOString().substr(0, 10)"
                                                    @change="saveBirthdayDate"
                                            ></v-date-picker>
                                        </v-dialog>

                                        <v-text-field
                                                v-model="form.password"
                                                :append-icon="form.showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                                :type="form.showPassword ? 'text' : 'password'"
                                                :rules="[rules.minLength]"
                                                name="input-10-1"
                                                label="Password"
                                                hint="At least 6 characters"
                                                counter
                                                outlined
                                                @click:append="form.showPassword = !form.showPassword"
                                        ></v-text-field>
                                        <v-text-field
                                                v-model="form.confirmPassword"
                                                :append-icon="form.showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                                :type="form.showConfirmPassword ? 'text' : 'password'"
                                                name="input-10-1"
                                                label="Confirm Password"
                                                hint="At least 6 characters"
                                                counter
                                                outlined
                                                @click:append="form.showConfirmPassword = !form.showConfirmPassword"
                                        ></v-text-field>

                                        <v-btn
                                                :disabled="!form.valid"
                                                block
                                                color="success"
                                                class="mr-4"
                                                @click="updateProfile"
                                        >
                                            Update Profile
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "user-profile",
        async created() {
            await this.getUserProfile();
            await this.initializeProfilePicture();

            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        computed: {
            ...mapGetters({
                user: 'Auth/getUser',
            }),
            userInitials()
            {
                const name = this.user.name ?? '';
                return this.Helpers.getUserInitials(name);
            },
            croppaCanvasWidth()
            {
                let width = Math.round(parseInt(this.pictureModalWidth) / 2);

                return width;
            },
            pictureModalWidth()
            {
                let width = this.$vuetify.breakpoint.width;

                switch (this.$vuetify.breakpoint.name) {
                    case 'xs':
                        break;
                    case 'sm':
                        if (width > 700)
                        {
                            width = Math.round(width / 1.5);
                        }
                        break;
                    case 'md':
                        width = Math.round(width / 2);
                        break;
                    case 'lg':
                        width = Math.round(width / 2);
                        break;
                    case 'xl':
                        width = Math.round(width / 3);
                        break;
                }

                return width + 'px';
            }
        },
        data() {
            return {
                display: false,

                dateMomentFormat: 'YYYY-MM-DD',

                profile: {},

                avatarSize: 48 * 3,
                displayDefaultAvatar: false,
                avatarBackgroundColor: '',
                avatarTransparentBackgroundColor: 'transparent',
                avatarDefaultBackgroundColor: 'red',

                form: {
                    pictureModal: {
                        state: null,

                        picture: {},

                        initialPicture: null,
                        initialPictureLoaded: false,

                        preview: null,
                        previewBackgroundColor: null,
                    },
                    phone: null,
                    birthday: {
                        date: null,
                        modalState: false,
                    },
                    valid: false,

                    password: '',
                    showPassword: false,
                    confirmPassword: '',
                    showConfirmPassword: false,
                },

                rules: {
                    minLength: p => ( (p.length >= 6) || (p.length === 0 && p.trim().length === 0) ) || "Min 6 characters.",
                },
            }
        },
        methods: {
            getUserProfile()
            {
                return this.$store.dispatch('Auth/getUserProfile')
                // return this.$axios.api.get('api/user-profile/get')
                    .then( response => {
                        this.profile.department_name = response.data.department.name;
                        this.profile.position_name = response.data.position.name;

                        this.profile.phone = response.data.profile.phone;
                        this.profile.picture = response.data.profile.picture;

                        this.form.phone = this.profile.phone;
                        this.form.birthday.date = this.$moment(response.data.profile.birthday).format(this.dateMomentFormat);

                        this.form.pictureModal.picture = {};
                        this.form.pictureModal.preview = response.data.profile.picture;
                        this.form.pictureModal.initialPicture = response.data.profile.picture;
                    });
            },
            initializeProfilePicture()
            {
                return new Promise( (resolve, reject) => {
                    if (this.profile.picture === null)
                    {
                        this.displayDefaultAvatar = true;
                        this.avatarBackgroundColor = this.avatarDefaultBackgroundColor;
                        this.form.pictureModal.previewBackgroundColor = this.avatarDefaultBackgroundColor;
                    }
                    else
                    {
                        this.displayDefaultAvatar = false;
                        this.avatarBackgroundColor = this.avatarTransparentBackgroundColor;
                        this.form.pictureModal.previewBackgroundColor = this.avatarTransparentBackgroundColor;
                    }

                    resolve();
                });
            },
            openPictureModal()
            {
                this.form.pictureModal.state = true;
            },
            closePictureModal()
            {
                this.form.pictureModal.state = false;
            },
            savePicture()
            {
                if (this.form.pictureModal.picture.hasImage())
                {
                    this.displayDefaultAvatar = false;
                    this.avatarBackgroundColor = this.avatarTransparentBackgroundColor;
                    this.profile.picture =  this.form.pictureModal.preview;
                }
                else
                {
                    this.displayDefaultAvatar = true;
                    this.avatarBackgroundColor = this.avatarDefaultBackgroundColor;
                    this.profile.picture =  null;
                }

                this.closePictureModal();
            },
            updateModalAvatar()
            {
                if (this.form.pictureModal.picture.hasImage())
                {
                    this.form.pictureModal.preview = this.form.pictureModal.picture.generateDataUrl('jpg');
                    this.form.pictureModal.previewBackgroundColor = this.avatarTransparentBackgroundColor;
                }
                else
                {
                    this.form.pictureModal.preview = null;
                    this.form.pictureModal.previewBackgroundColor = this.avatarDefaultBackgroundColor;
                }
            },
            saveBirthdayDate(date)
            {
                this.$refs.birthdayModal.save(date);
            },
            async updateProfile()
            {
                // if (this.form.phone.length === 0 || this.form.phone.trim().length === 0)
                if (this.Validators.emptyString(this.form.phone))
                {
                    this.$swal.fire({
                        title: 'Phone Number Must Not Be Empty!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                const validatePhoneNumber = this.Validators.validatePhoneNumber(this.form.phone);
                if (validatePhoneNumber.error === true)
                {
                    let errorTitle;
                    switch (validatePhoneNumber.type)
                    {
                        case 'invalid_phone_number':
                            errorTitle = 'Invalid Phone Number!';
                            break;
                        case 'not_a_phone_number':
                            errorTitle = 'The Provided Phone Number Is Not A Phone Number!';
                            break;
                        default:
                            errorTitle = 'Invalid Phone Number!';
                            break;
                    }

                    this.$swal.fire({
                        title: errorTitle,
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                let formattedPhoneNumber = this.Helpers.formatPhoneNumber(this.form.phone);
                let phoneNumberIsTaken = await this.Validators.phoneNumberIsTaken(formattedPhoneNumber);
                if (phoneNumberIsTaken)
                {
                    this.$swal.fire({
                        title: 'The Phone Number Is Already In Use!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                if (this.form.password.length < 6 && !this.Validators.emptyString(this.form.password))
                {
                    this.$swal.fire({
                        title: 'Password Must Have At Least 6 Characters!',
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEnterKey: false,
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }
                if (this.form.password !== this.form.confirmPassword)
                {
                    this.$swal.fire({
                        title: "Passwords don't match!",
                        icon: 'error',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonText: 'Close',
                        cancelButtonColor: 'red',
                        allowEnterKey: false,
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    return;
                }

                this.$swal.fire({
                    title: 'Updating Profile',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                let payload = {
                    picture: this.form.pictureModal.preview,
                    phone: this.form.phone,
                    birthday: this.form.birthday.date,
                };

                if (!this.Validators.emptyString(this.form.password))
                {
                    payload.password = this.form.password;
                }

                this.$axios.api.post('/api/user-profile/update', payload)
                    .then( async (response) => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            await this.$store.dispatch('Auth/refreshUserProfile');

                            await this.$swal.fire({
                                title: 'Profile Updated!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })
            },
        },
        watch: {
            'form.birthday.modalState' (val) {
                val && setTimeout(() => (this.$refs.birthdayDatePicker.activePicker = 'YEAR'))
            },
        },
    }
</script>

<style scoped>
    .avatar-pointer-event:hover {
        cursor: pointer;
    }
    .croppa-container canvas {
        border: 5px solid #000000;
    }
</style>