<template>
    <div>
        <v-slide-x-transition mode="out-in" hide-on-leave>
            <v-container
                    fluid
                    v-show="display"
                    class="py-0"
            >
                <v-row>
                    <v-col
                            :cols="12"
                            :sm="12"
                            :md="12"
                            :lg="12"
                            :xl="12"
                    >
                        <v-card
                                v-if="display"
                        >
                            <v-row>
                                <v-col
                                        :cols="12"
                                        :sm="12"
                                        :md="12"
                                        :lg="12"
                                        :xl="12"
                                >
                                    <v-form
                                            ref="workFromHomeForm"
                                            v-model="form.valid"
                                    >
                                        <v-container
                                                fluid
                                        >
                                            <date-picker-with-events
                                                    :tab="'workFromHome'"
                                                    :type="'startDate'"
                                                    :reset="form.reset"
                                                    :min-date="$moment().format(dateMomentFormat)"
                                                    :registered-dates="registeredDates"
                                                    :legal-holidays="legalHolidays"
                                                    @date-selected="form.startDate = arguments[0]"
                                                    @reset-date-picker="form.reset = !form.reset"
                                            ></date-picker-with-events>
                                            <date-picker-with-events
                                                    :tab="'workFromHome'"
                                                    :type="'endDate'"
                                                    :reset="form.reset"
                                                    :min-date="form.startDate"
                                                    :registered-dates="registeredDates"
                                                    :legal-holidays="legalHolidays"
                                                    @date-selected="form.endDate = arguments[0]"
                                            ></date-picker-with-events>

                                            <v-textarea
                                                    v-model="form.details"
                                                    auto-grow
                                                    clearable
                                                    label="Details"
                                                    outlined
                                                    placeholder="Information regarding the reason for requesting to work from home"
                                                    :rows="3"
                                                    shaped
                                                    required
                                                    :rules="detailsRules"
                                            ></v-textarea>

                                            <v-btn
                                                    :disabled="!form.valid"
                                                    block
                                                    color="success"
                                                    class="mr-4"
                                                    @click="sendWorkFromHomeRequest"
                                            >
                                                Send Request
                                            </v-btn>
                                        </v-container>
                                    </v-form>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col
                                        :cols="12"
                                        :sm="12"
                                        :md="12"
                                        :lg="12"
                                        :xl="12"
                                >
                                    <v-tabs
                                            v-model="form.workFromHomeRequestsTab"
                                            background-color="transparent"
                                            grow
                                    >
                                        <v-tab
                                                :active-class="'warning--text text--lighten-2'"
                                                :href="`#${form.unprocessedRequestsTabHref}`"
                                        >
                                            Unprocessed
                                        </v-tab>
                                        <v-tab
                                                :active-class="'success--text text--lighten-2'"
                                                :href="`#${form.approvedRequestsTabHref}`"
                                        >
                                            Approved
                                        </v-tab>
                                        <v-tab
                                                :active-class="'error--text text--lighten-2'"
                                                :href="`#${form.rejectedRequestsTabHref}`"
                                        >
                                            Rejected
                                        </v-tab>
                                        <v-tabs-slider
                                                :color="form.workFromHomeRequestsActiveTabClass"
                                        >
                                        </v-tabs-slider>
                                    </v-tabs>
                                    <v-tabs-items v-model="form.workFromHomeRequestsTab">
                                        <v-tab-item
                                                :value="`${form.unprocessedRequestsTabHref}`"
                                        >
                                            <v-container
                                                    fluid
                                            >
                                                <v-card
                                                        :color="'warning lighten-2'"
                                                >
                                                    <v-card-title>
                                                        Unprocessed Work From Home Requests
                                                    </v-card-title>
                                                    <v-data-table
                                                            :headers="form.unprocessedRequestsTable.headers"
                                                            :items="form.unprocessedRequestsTable.items"
                                                            :items-per-page="10"
                                                            class="elevation-1"
                                                    ></v-data-table>
                                                </v-card>
                                            </v-container>
                                        </v-tab-item>
                                        <v-tab-item
                                                :value="`${form.approvedRequestsTabHref}`"
                                        >
                                            <v-container
                                                    fluid
                                            >
                                                <v-card
                                                        :color="'success lighten-2'"
                                                >
                                                    <v-card-title>
                                                        Approved Work From Home Requests
                                                    </v-card-title>
                                                    <v-data-table
                                                            :headers="form.approvedRequestsTable.headers"
                                                            :items="form.approvedRequestsTable.items"
                                                            :items-per-page="10"
                                                            class="elevation-1"
                                                    ></v-data-table>
                                                </v-card>
                                            </v-container>
                                        </v-tab-item>
                                        <v-tab-item
                                                :value="`${form.rejectedRequestsTabHref}`"
                                        >
                                            <v-container
                                                    fluid
                                            >
                                                <v-card
                                                        :color="'error lighten-2'"
                                                >
                                                    <v-card-title>
                                                        Rejected Work From Home Requests
                                                    </v-card-title>
                                                    <v-data-table
                                                            :headers="form.rejectedRequestsTable.headers"
                                                            :items="form.rejectedRequestsTable.items"
                                                            :items-per-page="10"
                                                            class="elevation-1"
                                                    ></v-data-table>
                                                </v-card>
                                            </v-container>
                                        </v-tab-item>
                                    </v-tabs-items>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-slide-x-transition>
        <loading-spinner v-show="!display"></loading-spinner>
    </div>
</template>

<script>
    import DatePickerWithEvents from "@/components/DatePickerWithEvents";
    import {mapGetters} from "vuex";

    export default {
        name: "work-from-home",
        components: {
            DatePickerWithEvents,
        },
        async mounted() {
            const now = this.$moment();
            this.now = now.format(this.dateMomentFormat);

            this.form.startDate = now.format(this.dateMomentFormat);
            this.form.endDate = now.format(this.dateMomentFormat);

            await this.getWorkFromHomeRequests();
            await this.getPaidLeaves();
            await this.getSickLeaves();
            await this.getLegalHolidays();

            this.display = true;
            this.$root.$refs.Sidebar.pageHasLoaded();
        },
        computed: {
            ...mapGetters({
                getUser: 'Auth/getUser',
            }),
            registeredDates()
            {
                let dates = [];

                //paid leave
                for (let record of this.paidLeave.approved)
                {
                    let startDate = this.$moment(record.start_date).startOf('day');
                    let endDate = this.$moment(record.end_date).endOf('day');
                    let currentDate = startDate.clone();

                    while (currentDate <= endDate)
                    {
                        dates.push(currentDate.format(this.dateMomentFormat));
                        currentDate.add(1, 'days');
                    }
                }
                for (let record of this.paidLeave.unprocessed)
                {

                    let startDate = this.$moment(record.start_date).startOf('day');
                    let endDate = this.$moment(record.end_date).endOf('day');
                    let currentDate = startDate.clone();

                    while (currentDate <= endDate)
                    {
                        dates.push(currentDate.format(this.dateMomentFormat));
                        currentDate.add(1, 'days');
                    }
                }

                //sick leave
                for (let record of this.sickLeave.approved)
                {
                    let startDate = this.$moment(record.start_date).startOf('day');
                    let endDate = this.$moment(record.end_date).endOf('day');
                    let currentDate = startDate.clone();

                    while (currentDate <= endDate)
                    {
                        dates.push(currentDate.format(this.dateMomentFormat));
                        currentDate.add(1, 'days');
                    }
                }
                for (let record of this.sickLeave.unprocessed)
                {

                    let startDate = this.$moment(record.start_date).startOf('day');
                    let endDate = this.$moment(record.end_date).endOf('day');
                    let currentDate = startDate.clone();

                    while (currentDate <= endDate)
                    {
                        dates.push(currentDate.format(this.dateMomentFormat));
                        currentDate.add(1, 'days');
                    }
                }

                //work from home
                for (let record of this.form.approvedRequestsTable.items)
                {
                    let startDate = this.$moment(record.start_date).startOf('day');
                    let endDate = this.$moment(record.end_date).endOf('day');
                    let currentDate = startDate.clone();

                    while (currentDate <= endDate)
                    {
                        dates.push(currentDate.format(this.dateMomentFormat));
                        currentDate.add(1, 'days');
                    }
                }
                for (let record of this.form.unprocessedRequestsTable.items)
                {

                    let startDate = this.$moment(record.start_date).startOf('day');
                    let endDate = this.$moment(record.end_date).endOf('day');
                    let currentDate = startDate.clone();

                    while (currentDate <= endDate)
                    {
                        dates.push(currentDate.format(this.dateMomentFormat));
                        currentDate.add(1, 'days');
                    }
                }

                return dates;
            },
        },
        data() {
            return {
                display: false,

                now: null,
                dateMomentFormat: 'YYYY-MM-DD',

                detailsRules: [
                    v => !!v || 'Details are required',
                ],

                legalHolidays: {},
                paidLeave: {
                    approved: [],
                    unprocessed: [],
                },
                sickLeave: {
                    approved: [],
                    unprocessed: [],
                },

                form: {
                    startDate: null,
                    endDate: null,
                    details: null,

                    valid: false,
                    reset: false,

                    workFromHomeRequestsTab: '',

                    approvedRequestsTabHref: 'approvedRequestsTab',
                    rejectedRequestsTabHref: 'rejectedRequestsTab',
                    unprocessedRequestsTabHref: 'unprocessedRequestsTab',

                    workFromHomeRequestsActiveTabClass: 'warning--text text--lighten-2',

                    approvedRequestsTable: {
                        headers: [
                            {
                                text: 'Start Date',
                                align: 'start',
                                sortable: false,
                                value: 'start_date_display',
                            },
                            {
                                text: 'End Date',
                                align: 'start',
                                sortable: false,
                                value: 'end_date_display',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                sortable: false,
                                value: 'days',
                            },
                            {
                                text: 'Approved By',
                                align: 'start',
                                sortable: false,
                                value: 'user_changed_status.name',
                            },
                            {
                                text: 'Approved At',
                                align: 'start',
                                sortable: false,
                                value: 'status_date',
                            },
                            {
                                text: 'Details',
                                align: 'start',
                                sortable: false,
                                value: 'details',
                            },
                        ],
                        items: [],
                    },
                    rejectedRequestsTable: {
                        headers: [
                            {
                                text: 'Start Date',
                                align: 'start',
                                sortable: false,
                                value: 'start_date_display',
                            },
                            {
                                text: 'End Date',
                                align: 'start',
                                sortable: false,
                                value: 'end_date_display',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                sortable: false,
                                value: 'days',
                            },
                            {
                                text: 'Rejected By',
                                align: 'start',
                                sortable: false,
                                value: 'user_changed_status.name',
                            },
                            {
                                text: 'Rejected At',
                                align: 'start',
                                sortable: false,
                                value: 'status_date',
                            },
                            {
                                text: 'Details',
                                align: 'start',
                                sortable: false,
                                value: 'details',
                            },
                        ],
                        items: [],
                    },
                    unprocessedRequestsTable: {
                        headers: [
                            {
                                text: 'Start Date',
                                align: 'start',
                                sortable: false,
                                value: 'start_date_display',
                            },
                            {
                                text: 'End Date',
                                align: 'start',
                                sortable: false,
                                value: 'end_date_display',
                            },
                            {
                                text: '# Days',
                                align: 'start',
                                sortable: false,
                                value: 'days',
                            },
                            {
                                text: 'Requested At',
                                align: 'start',
                                sortable: false,
                                value: 'status_date',
                            },
                            {
                                text: 'Details',
                                align: 'start',
                                sortable: false,
                                value: 'details',
                            },
                        ],
                        items: [],
                    },
                },
            }
        },
        methods: {
            getWorkFromHomeRequests()
            {
                const query = {
                    user_id: this.getUser.id,
                };
                return this.$axios.api.get('/api/work-from-home/get', { params: query })
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.form.unprocessedRequestsTable.items = response.data.workFromHomeRequests.Unprocessed ?? [];
                            this.form.approvedRequestsTable.items = response.data.workFromHomeRequests.Approved ?? [];
                            this.form.rejectedRequestsTable.items = response.data.workFromHomeRequests.Rejected ?? [];
                        }
                    })
            },
            getPaidLeaves()
            {
                const query = {
                    user_id: this.getUser.id,
                };
                return this.$axios.api.get('/api/paid-leave/get', { params: query })
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.paidLeave.unprocessed = response.data.paidLeaves.Unprocessed ?? [];
                            this.paidLeave.approved = response.data.paidLeaves.Approved ?? [];
                        }
                    })
            },
            getSickLeaves()
            {
                const query = {
                    user_id: this.getUser.id,
                };
                return this.$axios.api.get('/api/sick-leave/get', { params: query })
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.sickLeave.unprocessed = response.data.sickLeaves.Unprocessed ?? [];
                            this.sickLeave.approved = response.data.sickLeaves.Approved ?? [];
                        }
                    })
            },
            getLegalHolidays()
            {
                const query = {
                    country_code: this.apiCountryCode,
                };
                return this.$axios.api.get('/api/legal-holiday/get', { params: query })
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.legalHolidays = response.data.legalHolidays;
                        }
                    })
            },
            resetRequestForm()
            {
                return new Promise( (resolve, reject) => {
                    const now = this.$moment();

                    this.form.startDate = now.format(this.dateMomentFormat);
                    this.form.endDate = now.format(this.dateMomentFormat);
                    this.form.details = '';

                    this.$refs.workFromHomeForm.resetValidation();

                    this.form.reset = true;

                    resolve();
                });
            },
            sendWorkFromHomeRequest()
            {
                this.$swal.fire({
                    title: 'Sending Work From Home Request',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEnterKey: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        this.$swal.showLoading()
                    },
                });

                const payload = {
                    startDate: this.form.startDate,
                    endDate: this.form.endDate,
                    details: this.form.details,
                };

                this.$axios.api.post('/api/work-from-home/create', payload)
                    .then( async (response) => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            await this.getWorkFromHomeRequests();
                            await this.resetRequestForm();

                            await this.$swal.fire({
                                title: 'Work From Home Request Sent!',
                                icon: 'success',
                                timer: 1500,
                                showCancelButton: false,
                                showConfirmButton: false,
                                allowEnterKey: false,
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });
                        }
                    })
            },
        },
        watch: {
            'form.workFromHomeRequestsTab': function (newVal, oldVal) {
                switch (newVal)
                {
                    case this.form.unprocessedRequestsTabHref:
                        this.form.workFromHomeRequestsActiveTabClass = 'warning--text text--lighten-2';
                        break;
                    case this.form.approvedRequestsTabHref:
                        this.form.workFromHomeRequestsActiveTabClass = 'success--text text--lighten-2';
                        break;
                    case this.form.rejectedRequestsTabHref:
                        this.form.workFromHomeRequestsActiveTabClass = 'error--text text--lighten-2';
                        break;
                }
            },
        }
    }
</script>

<style lang="sass">
    @import '@/styles/sass/Swal'
</style>

<style scoped>

</style>