<template>
    <v-app-bar
            app
            clipped-left
            elevate-on-scroll
    >
        <v-app-bar-nav-icon @click.stop="toggleDrawer" />
        <v-spacer></v-spacer>

        <v-menu
                offset-y
                transition="scale-transition"
                origin="top right"
        >
            <template v-slot:activator="{ on }">
                <v-chip
                        class="ma-2"
                        large
                        pill
                        color="transparent"
                        v-on="on"
                >
                    <v-avatar
                            left
                            :color="avatarBackgroundColor"
                    >
                        <template v-if="picture === null">
                            <span class="white--text">{{ userInitials }}</span>
                        </template>
                        <template v-else>
                            <img
                                    :src="picture"
                            >
                        </template>
                    </v-avatar>
                    {{user.name}}
                </v-chip>
            </template>
            <v-card>
                <v-list>
                    <template v-if="checkPagePermission('user_profile')">
                        <v-list-item link @click="goToPage('user_profile')">
                            <v-list-item-action class="mr-4">
                                <v-icon>mdi-account-edit</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>Profile</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </template>
                    <v-list-item link @click="goToPage('logout')">
                        <v-list-item-action class="mr-4">
                            <v-icon>mdi-logout-variant</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Logout</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-menu>
    </v-app-bar>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'

    export default {
        name: "Appbar",
        computed: {
            ...mapGetters({
                user: 'Auth/getUser',
                pagesByUserRole: 'Auth/getUserViewPermissions',
                picture: 'Auth/getUserProfilePicture',
            }),
            userInitials() {
                const name = this.user.name ?? '';
                return this.Helpers.getUserInitials(name);
            },
        },
        data() {
            return {
                avatarBackgroundColor: '',
                avatarTransparentBackgroundColor: 'transparent',
                avatarDefaultBackgroundColor: 'red',
            }
        },
        methods: {
            ...mapActions({
                toggleDrawer: 'App/toggleDrawer'
            }),
            checkPagePermission(page)
            {
                for (let pageByRole of this.pagesByUserRole)
                {
                    if (pageByRole.includes(page))
                    {
                        return true;
                    }
                }

                return false;
            },
            goToPage(routeName)
            {
                this.$root.$refs.Sidebar.activePage = null;
                this.$root.$refs.Sidebar.pageIsLoading();
                this.goTo(routeName, true);
            }
        },
        watch: {
            picture: {
                immediate: true,
                handler: function (newPicture, oldPicture) {
                    if (newPicture === null)
                    {
                        this.avatarBackgroundColor = this.avatarDefaultBackgroundColor;
                    }
                    else
                    {
                        this.avatarBackgroundColor = this.avatarTransparentBackgroundColor;
                    }
                }
            }
        }
    }
</script>

<style lang="sass">
    @import '@/styles/sass/VChip'
</style>

<style scoped>

</style>