<template>
    <v-col
            :cols="colOffset.cols"
            :sm="colOffset.sm"
            :md="colOffset.md"
            :lg="colOffset.lg"
            :xl="colOffset.xl"
            v-if="display >= 1"
    >
        <v-row>
            <clocking-time-picker
                    :col-offset="colOffset"
                    :current-time="clockInTime"
                    :action-took-place="isClockedIn"
                    :dependency-action="true"
                    :component-data="clockInObj"
                    @action-performed="isClockedIn = true"
                    @loaded="display++"
            >
            </clocking-time-picker>

            <clocking-time-picker
                    :col-offset="colOffset"
                    :current-time="clockOutTime"
                    :action-took-place="isClockedOut"
                    :dependency-action="isClockedIn"
                    :component-data="clockOutObj"
                    @action-performed="isClockedOut = true"
                    @loaded="display++"
            >
            </clocking-time-picker>
        </v-row>
    </v-col>
</template>

<script>
    import ClockingTimePicker from "@/components/ClockingTimePicker";
    import {mapGetters} from "vuex";

    export default {
        name: "clocking-time-pickers",
        components: {
            ClockingTimePicker,
        },
        props: {
            colOffset: {
                type: Object,
                default: () => {
                    return {
                        cols: 12,
                        sm: 6,
                        md: 6,
                        lg: 6,
                        xl: 6,
                    }
                }
            },
        },
        async created() {
            await this.checkUserOnHoliday();
            await this.getUserClocking();
            await this.setCurrentTime();

            this.display++;

            this.$emit('loaded');
        },
        computed: {
            ...mapGetters({
                user: 'Auth/getUser',
            }),
        },
        data() {
            return {
                display: 0,

                timePickersLoaded: 0,

                clockInObj: {
                    type: 'clock-in',

                    mainColorClass: 'green lighten-1',
                    buttonColorClass: 'green darken-2',

                    cardTitle: 'Clock In',

                    actionButtonText: 'Clock In',
                    actionDoneButtonText: 'You are already clocked in!',

                    actionApiUrl: '/api/clocking/clock-in',
                },
                clockOutObj: {
                    type: 'clock-out',

                    mainColorClass: 'indigo lighten-2',
                    buttonColorClass: 'indigo darken-2',

                    cardTitle: 'Clock Out',

                    actionButtonText: 'Clock Out',
                    actionDoneButtonText: 'You have already clocked out!',

                    actionApiUrl: '/api/clocking/clock-out',
                },

                setCurrentTimeIntervalId: null,

                dateMomentFormat: 'YYYY-MM-DD',
                timeFormat: '24hr',
                timeMomentFormat: 'HH:mm',

                clockInTime: null,
                isClockedIn: false,
                loadingClockIn: false,

                clockOutTime: null,
                isClockedOut: false,
                loadingClockOut: false,
            }
        },
        methods: {
            checkUserOnHoliday()
            {
                return new Promise( (resolve, reject) => {
                    const query = {
                        date: this.$moment().format(this.dateMomentFormat),
                        status: 'Approved',
                        user_id: this.user.id,
                    };
                    this.$axios.api.get('/api/paid-leave/get', { params: query })
                        .then( response => {
                            if (response.data.paidLeaves.Approved.length > 0)
                            {
                                this.isClockedIn = true;
                                this.isClockedOut = true;
                                this.clockInObj.actionDoneButtonText = "You're on Paid Leave!";
                                this.clockOutObj.actionDoneButtonText = "You're on Paid Leave!";
                                resolve();
                            }
                            else
                            {
                                this.$axios.api.get('/api/sick-leave/get', { params: query })
                                    .then( response => {
                                        if (response.data.sickLeaves.Approved.length > 0)
                                        {
                                            this.isClockedIn = true;
                                            this.isClockedOut = true;
                                            this.clockInObj.actionDoneButtonText = "You're on Sick Leave!";
                                            this.clockOutObj.actionDoneButtonText = "You're on Sick Leave!";
                                            resolve();
                                        }
                                        else
                                        {
                                            this.$axios.api.get('/api/work-from-home/get', { params: query })
                                                .then( response => {
                                                    if (response.data.workFromHomeRequests.Approved.length > 0)
                                                    {
                                                        this.isClockedIn = true;
                                                        this.isClockedOut = true;
                                                        this.clockInObj.actionDoneButtonText = "You're Working From Home!";
                                                        this.clockOutObj.actionDoneButtonText = "You're Working From Home!";
                                                    }
                                                    resolve();
                                                });
                                        }
                                    })
                            }
                        })
                })
            },
            setCurrentTime()
            {
                return new Promise( (resolve, reject) => {
                    if (this.setCurrentTimeIntervalId !== null)
                    {
                        clearInterval(this.setCurrentTimeIntervalId);
                        this.setCurrentTimeIntervalId = null;
                    }

                    let now = this.$moment();

                    let formattedTime = now.format('HH:mm');

                    if (!this.isClockedIn)
                    {
                        this.clockInTime = formattedTime;
                    }
                    if (!this.isClockedOut)
                    {
                        this.clockOutTime = formattedTime;
                    }

                    if (!this.isClockedIn || !this.isClockedOut)
                    {
                        let second = 1000;
                        let minute =  60 * second;

                        let nowSeconds = parseInt(now.format('ss'));
                        let interval = minute - (nowSeconds * second);

                        this.setCurrentTimeIntervalId = setInterval(this.setCurrentTime, interval);
                    }
                    resolve();
                })
            },
            getUserClocking()
            {
                return this.$axios.api.get('/api/clocking/get-current-working-day')
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            if (response.data.clocking !== null)
                            {
                                const clocking = response.data.clocking;

                                this.clockInTime = this.$moment(clocking.clock_in).format(this.timeMomentFormat);
                                this.isClockedIn = true;

                                if (clocking.clock_out !== null)
                                {
                                    this.clockOutTime = this.$moment(clocking.clock_out).format(this.timeMomentFormat);
                                    this.isClockedOut = true;
                                }
                            }
                        }
                    })
            },
        },
        // watch: {
        //     timePickersLoaded: function (newVal, oldVal) {
        //         if (newVal === 2)
        //         {
        //             this.display = true;
        //             this.timePickersLoaded = 0;
        //         }
        //     }
        // }
    }
</script>


<style lang="sass">
    @import '@/styles/sass/VTimePicker'
</style>

<style scoped>

</style>