<template>
    <v-col
            :cols="12"
            :sm="6"
            :md="6"
            :lg="6"
            :xl="6"
            v-if="display"
            class="py-0"
    >
        <v-card
                :loading="actionLoading"
                :elevation="10"
                raised
                :color="mainColorClass"
                class="v-time-picker-card"
        >
            <v-card-title
                    class="headline v-time-picker-card-title"
                    :class="actionTookPlace ? 'v-time-picker-card-title__readonly__disabled' : 'v-time-picker-card-title__readonly__active'"
            >
                {{cardTitle}}
            </v-card-title>
            <v-time-picker
                    v-model="currentTime"
                    format="24hr"
                    full-width
                    :color="mainColorClass"
                    class="v-time-picker-title__center v-time-picker-actions__center v-time-picker__in_card v-time-picker__body_hide"
                    :class="actionTookPlace || !dependencyAction ? 'v-time-picker__readonly__disabled' : 'v-time-picker__readonly__active'"
                    :disabled="true"
                    :readonly="true"
            >
                <template slot="default">
                    <template v-if="actionTookPlace">
                        <v-btn
                                :color="buttonColorClass"
                                text
                                disabled
                                v-bind="vBtnSizeResponsive"
                                style="width: 100%"
                        >
                            {{actionDoneButtonText}}
                            <v-icon
                                    right
                                    v-bind="vIconSizeResponsive"
                            >
                                {{ buttonIcon }}
                            </v-icon>
                        </v-btn>
                    </template>
                    <template v-else>
                        <v-btn
                                :color="buttonColorClass"
                                text
                                @click="performAction"
                                :disabled="actionTookPlace || !dependencyAction"
                                v-bind="vBtnSizeResponsive"
                                style="width: 100%"
                        >
                            {{actionButtonText}}
                            <v-icon
                                    right
                                    v-bind="vIconSizeResponsive"
                            >
                                {{ buttonIcon }}
                            </v-icon>
                        </v-btn>
                    </template>
                </template>
            </v-time-picker>
        </v-card>
    </v-col>
</template>

<script>
    export default {
        name: "clocking-time-picker",
        props: {
            currentTime: {
                required: true,
                validator: prop => typeof prop === 'string' || prop === null
            },
            dependencyAction: {
                type: [Boolean],
                required: true,
            },
            actionTookPlace: {
                type: [Boolean],
                required: true,
            },
            componentData: {
                type: [Object],
                required: true,
            },
            colOffset: {
                type: Object,
                default: () => {
                    return {
                        md: 2,
                    }
                }
            },
        },
        async created() {
            await this.init();
            this.display = true;
            this.$emit('loaded');
        },
        data() {
            return {
                display: false,

                mainColorClass: '',
                buttonColorClass: '',

                cardTitle: '',

                actionButtonText: '',
                actionDoneButtonText: '',

                actionApiUrl: '',

                actionLoading: false,

                buttonIcon: '',
            }
        },
        computed: {
            vIconSizeResponsive() {
                const size = {
                    xs: 'small',
                    sm: 'small',
                    md: 'small',
                    lg: 'default',
                    xl: 'default',
                }[this.$vuetify.breakpoint.name];
                return size ? { [size]: true } : {};
            },
            vBtnSizeResponsive() {
                const size = {
                    xs: 'small',
                    sm: 'small',
                    md: 'small',
                    lg: 'small',
                    xl: 'default',
                }[this.$vuetify.breakpoint.name];
                return size ? { [size]: true } : {};
            }
        },
        methods: {
            init()
            {
                return new Promise ( (resolve, reject) => {

                    this.mainColorClass = this.componentData.mainColorClass;
                    this.buttonColorClass = this.componentData.buttonColorClass;

                    this.cardTitle = this.componentData.cardTitle;

                    this.actionButtonText = this.componentData.actionButtonText;
                    this.actionDoneButtonText = this.componentData.actionDoneButtonText;

                    this.actionApiUrl = this.componentData.actionApiUrl;

                    switch (this.componentData.type)
                    {
                        case 'clock-in':
                            this.buttonIcon = 'mdi-clock-check-outline';
                            break;
                        case 'clock-out':
                            this.buttonIcon = 'mdi-clock-fast';
                            break;
                    }

                    resolve();
                });
            },
            performAction()
            {
                const actionTimeClone = this.currentTime;

                this.actionLoading = true;

                let now = this.$moment()
                    .format('YYYY-MM-DD');

                const payload = {
                    time: actionTimeClone,
                    date: now,
                }

                return this.$axios.api.post(this.actionApiUrl, payload)
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            let self = this;
                            setTimeout(
                                () => {
                                    self.$emit('action-performed');
                                    self.actionLoading = false;
                                },
                                1000
                            )
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>