<template>
    <v-dialog
            :ref="rootRef"
            v-model="date.modal.state"
            :return-value.sync="date.value"
    >
        <template v-slot:activator="{ on }">
            <v-text-field
                    v-model="date.value"
                    :label="fieldLabel"
                    readonly
                    outlined
                    v-on="on"
            ></v-text-field>
        </template>
        <v-row>
            <v-col
                    :cols="12"
                    :sm="12"
                    :md="12"
                    :lg="6"
                    :xl="6"
            >
                <v-date-picker
                        v-model="date.value"
                        :picker-date.sync="date.modal.syncedMonthYearDate"
                        :landscape="datePickerLandscape"
                        :allowed-dates="allowedDates"
                        full-width
                        show-current
                        scrollable
                        :first-day-of-week="1"
                        :min="minDate"
                        :events="getEvents"
                >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="date.modal.state = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs[rootRef].save(date.value)">OK</v-btn>
                </v-date-picker>
            </v-col>
            <v-col
                    :cols="12"
                    :sm="12"
                    :md="12"
                    :lg="6"
                    :xl="6"
            >
                <v-card>
                    <v-tabs
                            v-model="date.modal.eventsTab"
                            background-color="transparent"
                            grow
                    >
                        <v-tab
                                :href="`#${dayEventsTabHref}`"
                        >
                            Day Events
                        </v-tab>
                        <v-tab
                                :href="`#${monthEventsTabHref}`"
                        >
                            Month Events
                        </v-tab>
                    </v-tabs>
                    <v-tabs-items v-model="date.modal.eventsTab">
                        <v-tab-item
                                :value="`${dayEventsTabHref}`"
                        >
                            <v-card-title>
                                Events {{date.modal.tabDisplayDay}}
                            </v-card-title>
                            <v-card-subtitle>
                                <v-row>
                                    <v-col
                                            :cols="12"
                                            :sm="12"
                                            :md="12"
                                            :lg="12"
                                            :xl="12"
                                    >
                                        <template v-if="date.modal.eventsByDay.value.length > 0">
                                            Legend
                                        </template>
                                        <template v-else>
                                            No events scheduled for today!
                                        </template>
                                        <template
                                                v-for="(eventColor, eventType) of date.modal.eventsByDay.types"
                                        >
                                            <v-chip
                                                    class="ma-1"
                                                    small
                                                    pill
                                                    style="pointer-events: none"
                                                    :key="eventType"
                                            >
                                                <v-avatar
                                                        left
                                                        :color="eventColor"
                                                ></v-avatar>
                                                {{eventType}}
                                            </v-chip>
                                        </template>
                                    </v-col>
                                </v-row>
                            </v-card-subtitle>
                            <v-card-text>
                                <v-row>
                                    <v-col
                                            :cols="12"
                                            :sm="12"
                                            :md="12"
                                            :lg="12"
                                            :xl="12"
                                    >
                                        <v-list>
                                            <template
                                                    v-for="event of date.modal.eventsByDay.value"
                                            >
                                                <v-list-item
                                                        :key="event.id"
                                                >
                                                    <v-chip
                                                            class="ma-1"
                                                            medium
                                                            outlined
                                                            pill
                                                    >
                                                        <v-avatar
                                                                left
                                                                :color="date.modal.eventsByDay.types[event.type]"
                                                        ></v-avatar>
                                                        <template v-if="event.local_name === 'Unknown'">
                                                            {{event.fallback_name}}
                                                        </template>
                                                        <template v-else>
                                                            {{event.local_name}}
                                                        </template>
                                                    </v-chip>
                                                </v-list-item>
                                            </template>
                                        </v-list>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-tab-item>
                        <v-tab-item
                                :value="`${monthEventsTabHref}`"
                        >
                            <v-card-title>
                                Events {{date.modal.tabDisplayMonth}}
                            </v-card-title>
                            <v-card-subtitle>
                                <v-row>
                                    <v-col
                                            :cols="12"
                                            :sm="12"
                                            :md="12"
                                            :lg="12"
                                            :xl="12"
                                    >
                                        <template v-if="date.modal.eventsByMonth.value.length > 0">
                                            Legend
                                        </template>
                                        <template v-else>
                                            No events scheduled for this month!
                                        </template>
                                        <template
                                                v-for="(eventColor, eventType) of date.modal.eventsByMonth.types"
                                        >
                                            <v-chip
                                                    class="ma-1"
                                                    small
                                                    pill
                                                    style="pointer-events: none"
                                                    :key="eventType"
                                            >
                                                <v-avatar
                                                        left
                                                        :color="eventColor"
                                                ></v-avatar>
                                                {{eventType}}
                                            </v-chip>
                                        </template>
                                    </v-col>
                                </v-row>
                            </v-card-subtitle>
                            <v-card-text>
                                <v-row>
                                    <v-col
                                            :cols="12"
                                            :sm="12"
                                            :md="12"
                                            :lg="12"
                                            :xl="12"
                                    >
                                        <v-list>
                                            <template
                                                    v-for="event of date.modal.eventsByMonth.value"
                                            >
                                                <v-list-item
                                                        :key="event.id"
                                                >
                                                    <v-chip
                                                            class="ma-1"
                                                            medium
                                                            outlined
                                                            pill
                                                    >
                                                        <v-avatar
                                                                left
                                                                :color="date.modal.eventsByMonth.types[event.type]"
                                                        ></v-avatar>
                                                        {{$moment(event.date).format(date.modal.tabDisplayDayFormat)}} |
                                                        <template v-if="event.local_name === 'Unknown'">
                                                            {{event.fallback_name}}
                                                        </template>
                                                        <template v-else>
                                                            {{event.local_name}}
                                                        </template>
                                                    </v-chip>
                                                </v-list-item>
                                            </template>
                                        </v-list>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-tab-item>
                    </v-tabs-items>
                </v-card>
            </v-col>
        </v-row>

    </v-dialog>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "date-picker-with-events",
        props: {
            tab: {
                type: [String],
                required: true,
            },
            type: {
                type: [String],
                required: true,
            },
            minDate: {
                validator: prop => typeof prop === 'string' || prop === null
            },
            reset: {
                type: [Boolean],
                required: true,
            },
            legalHolidays: {
                type: [Object],
            },
            registeredDates: {
                type: [Array],
            },
        },
        async mounted() {
            await this.init();

            if (this.legalHolidays === undefined)
            {
                await this.getLegalHolidays();
            }
            else
            {
                this.events.legalHolidays.value = this.legalHolidays;
                this.events.legalHolidays.types = Object.keys(this.events.legalHolidays.value);
            }

            this.display = true;
        },
        data() {
            return {
                display: false,

                now: null,

                timeFormat: '24hr',
                timeMomentFormat: 'HH:mm',
                dateMomentFormat: 'YYYY-MM-DD',
                fullMonthMomentFormat: 'MMMM',
                dayThMomentFormat: 'Do',

                fieldLabel: null,

                rootRef: null,

                tabBaseHref: null,
                dayEventsTabHref: null,
                monthEventsTabHref: null,

                computedMinDate: null,

                events: {
                    legalHolidays: {
                        value: [],
                        types: [],
                        colors: {
                            'Public': 'green',
                            'Observance': 'yellow',
                        },
                    },
                },

                date: {
                    value: null,
                    modal: {
                        state: null,

                        eventsTab: '',

                        syncedMonthYearDate: null,

                        tabDisplayMonthFormat: 'MMMM, YYYY',
                        tabDisplayMonth: null,
                        eventsByMonth: {
                            value: [],
                            types: {},
                        },

                        tabDisplayDayFormat: 'MMMM Do, YYYY',
                        tabDisplayDay: null,
                        eventsByDay: {
                            value: [],
                            types: {},
                        },
                    }
                },
            }
        },
        computed: {
            datePickerLandscape () {
                switch (this.$vuetify.breakpoint.name) {
                    case 'xs':
                    case 'sm':
                        return false;
                    case 'md':
                    case 'lg':
                    case 'xl':
                        return true;
                    default:
                        return false;
                }
            },
            ...mapGetters({
                apiCountryCode: 'Auth/getApiCountryCode',
                apiCountry: 'Auth/getApiCountry',
            }),
        },
        methods: {
            init() {
                return new Promise( (resolve, reject) => {
                    this.fieldLabel = this.getFieldLabel();

                    this.tabBaseHref = this.tab + '_' + this.type + '_';
                    this.dayEventsTabHref = this.tabBaseHref + 'modal_dayEventsTab';
                    this.monthEventsTabHref = this.tabBaseHref = 'modal_monthEventsTab';

                    this.rootRef = this.tab + this.Helpers.firstLetterUpperCase(this.type) + 'ModalDialog';

                    const now = this.$moment();

                    this.now = now.format(this.dateMomentFormat);

                    this.date.modal.tabDisplayDay = now.format(this.date.modal.tabDisplayDayFormat);
                    this.date.modal.tabDisplayMonth = now.format(this.date.modal.tabDisplayMonthFormat);

                    resolve();
                });
            },
            allowedDates(date)
            {
                if (this.registeredDates !== undefined)
                {
                    return !this.registeredDates.includes(date);
                }

                return true;
            },
            getFieldLabel()
            {
                let label = '';
                switch (this.type)
                {
                    case 'startDate':
                        label = 'Start Date';
                        break;
                    case 'endDate':
                        label = 'End Date';
                        break;
                }

                return label;
            },
            getLegalHolidaysForDate(date, granularity = 'day')
            {
                let response = {
                    colors: [],
                    events: [],
                    types: {},
                };

                for (let holidayType in this.events.legalHolidays.value)
                {
                    const eventsColor = this.events.legalHolidays.colors[holidayType];

                    let eventsByDay = this.events.legalHolidays.value[holidayType]
                        .filter(e => this.$moment(e.date).isSame(date, granularity))
                    ;

                    if (eventsByDay.length > 0)
                    {
                        response.colors.push(eventsColor);
                        response.events = response.events.concat(eventsByDay);
                        response.types[holidayType] = eventsColor;
                    }
                }

                return response;
            },
            getEvents(date, externalCall = false, granularity = 'day')
            {
                let response = {
                    colors: [],
                    events: [],
                    types: {},
                };

                const legalHolidaysForDate = this.getLegalHolidaysForDate(date, granularity);
                response.colors = response.colors.concat(legalHolidaysForDate.colors);
                response.events = response.events.concat(legalHolidaysForDate.events);
                response.types = legalHolidaysForDate.types;

                if (externalCall)
                {
                    return response;
                }

                return response.colors;
            },
            getLegalHolidays()
            {
                const query = {
                    country_code: this.apiCountryCode,
                };
                return this.$axios.api.get('/api/legal-holiday/get', { params: query })
                    .then( response => {
                        if (response.status === this.CT.HTTP_OK)
                        {
                            this.events.legalHolidays.value = response.data.legalHolidays;
                            this.events.legalHolidays.types = Object.keys(this.events.legalHolidays.value);
                        }
                    })
            },
            getEventsByMonth(date)
            {
                let eventsData = this.getEvents(date, true, 'month');
                let eventsAfterNow = [];

                const now = this.$moment();
                for (let event of eventsData.events)
                {
                    if (!this.Helpers.isDateBefore(event.date, now))
                    {
                        eventsAfterNow.push(event);
                    }
                }
                eventsData.events = eventsAfterNow.slice();

                const eventsTypes = eventsData.events
                    .map(e => e.type)
                    .filter((v, i, o) => o.indexOf(v) === i);
                eventsData.types = this.Helpers.filterObject(eventsData.types, ([k, v]) => eventsTypes.includes(k));

                return eventsData;
            },
        },
        watch: {
            minDate: {
                immediate: true,
                handler(date, oldDate) {
                    if (date === null)
                    {
                        this.date.value = this.$moment().format(this.dateMomentFormat);
                        return this.now;
                    }

                    this.date.value = date;
                    return date;
                },
            },
            reset: {
                immediate: true,
                handler(newVal, oldVal) {
                    if (newVal === true)
                    {
                        this.date.value = this.minDate;
                        this.$emit('reset-date-picker');
                    }

                    return newVal;
                },
            },
            'date.value' (date) {
                const selectedDate = this.$moment(date);
                this.date.modal.tabDisplayDay = selectedDate.format(this.date.modal.tabDisplayDayFormat);

                const eventsData = this.getEvents(date, true, 'day');
                this.date.modal.eventsByDay.value = eventsData.events.slice();
                this.date.modal.eventsByDay.types = eventsData.types;

                this.$emit('date-selected', date);
            },
            'date.modal.syncedMonthYearDate' (date) {
                const selectedDate = this.$moment(date);
                this.date.modal.tabDisplayMonth = selectedDate.format(this.date.modal.tabDisplayMonthFormat);

                const eventsData = this.getEventsByMonth(date);

                this.date.modal.eventsByMonth.value = eventsData.events.slice();
                this.date.modal.eventsByMonth.types = eventsData.types;
            },
        },
    }
</script>

<style scoped>

</style>