<template>
    <v-row justify="center" align="center">
        <div class="text-center custom-loading-spinner">
            <v-progress-circular
                    indeterminate
                    :size="50"
                    :width="10"
                    color="light-blue"
            ></v-progress-circular>
        </div>
    </v-row>
</template>

<script>
    export default {
        name: "loading-spinner",
    }
</script>

<style lang="sass">
    @import '@/styles/sass/Spinner'
</style>

<style scoped>

</style>