<template>
    <div>
        <Sidebar></Sidebar>
        <Appbar></Appbar>
    </div>
</template>

<script>
    import Sidebar from '@/components/Sidebar'
    import Appbar from '@/components/Appbar'

    export default {
        name: "Navigation",
        components: {
            Sidebar,
            Appbar,
        },
    }
</script>

<style scoped>

</style>