<template>
    <v-navigation-drawer
            v-model="drawer"
            app
            clipped
    >
        <v-list dense shaped>
            <v-list-item-group v-model="activePage" color="primary">
                <template v-for="(route, key) of getSidebarRoutes()">
                    <template v-if="checkPagePermission(route.name)">
                        <template v-if="route.hasOwnProperty('children')">
                            <template v-if="route.divider === true">
                                <v-divider :key="key + '_divider_1'"></v-divider>
                                <v-list-item :key="key" class="pointer-events-none">
                                    <v-list-item-content>
                                        <v-list-item-title class="title">
                                            {{route.title}}
                                        </v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                                <template v-for="(childRoute, childKey) of route.children">
                                    <template v-if="checkPagePermission(childRoute.name)">
                                        <v-list-item
                                                link
                                                @click="goToPage(childRoute.name)"
                                                :class="{ 'pointer-events-none': (getCurrentRouteName() === route.name || !pageLoaded) }"
                                                :key="key + '_' + childKey"
                                        >
                                            <v-list-item-action>
                                                <v-icon>{{childRoute.icon}}</v-icon>
                                            </v-list-item-action>
                                            <v-list-item-content>
                                                <v-list-item-title>{{childRoute.title}}</v-list-item-title>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </template>
                                </template>
                            </template>
                        </template>
                        <template v-else>
                            <v-list-item
                                    link
                                    @click="goToPage(route.name)"
                                    :class="{ 'pointer-events-none': (getCurrentRouteName() === route.name || !pageLoaded) }"
                                    :key="key"
                            >
                                <v-list-item-action>
                                    <v-icon>{{route.icon}}</v-icon>
                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-title>{{route.title}}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </template>
                    </template>
                </template>
            </v-list-item-group>
        </v-list>
    </v-navigation-drawer>
</template>

<script>

    export default {
        name: "Sidebar",
        async created() {
            this.$root.$refs.Sidebar = this;

            await this.init();

            this.display = true;
        },
        computed: {
            drawer: {
                get() {
                    return this.$store.getters['App/getDrawer']
                },
                set: (value) => {},
            },
        },
        data() {
            return {
                display: false,

                pagesByUserRole: [],
                activePage: null,
                menuPages: [],

                pageLoaded: true,
            }
        },
        methods: {
            async init()
            {
                this.pagesByUserRole = this.$store.getters['Auth/getUserViewPermissions'];
                await this.setMenuPages();
                await this.setActivePage();

                return new Promise( (resolve, reject) => {
                    resolve();
                });
            },
            setMenuPages()
            {
                return new Promise( (resolve, reject) => {
                    let currentIndex = 0;
                    for (let page of this.getSidebarRoutesNames())
                    {
                        if (this.pagesByUserRole.includes('view.' + page))
                        {
                            this.menuPages.push(page);
                            currentIndex++;
                        }
                    }
                    resolve();
                });
            },
            setActivePage()
            {
                return new Promise( (resolve, reject) => {
                    let wait = setInterval(
                        () => {
                            let currentRouteName = this.getCurrentRouteName();
                            if (currentRouteName !== '/')
                            {
                                this.activePage = this.menuPages.indexOf(currentRouteName);
                                if (this.activePage === -1)
                                {
                                    this.activePage = null;
                                }
                                clearInterval(wait);
                                resolve();
                            }
                        },
                        1
                    );
                });
            },
            checkPagePermission(page)
            {
                for (let pageByRole of this.pagesByUserRole)
                {
                    if (pageByRole.includes(page))
                    {
                        return true;
                    }
                }

                return false;
            },
            setDrawer()
            {
                const currentDrawerState = this.$store.getters['App/getDrawer'];
                if (currentDrawerState === true)
                {
                    const payload = {
                        drawer: false,
                    };
                    this.$store.dispatch('App/toggleDrawer', payload);
                }
            },
            goToPage(routeName)
            {
                this.pageLoaded = false;
                this.goTo(routeName);
            },
            pageIsLoading()
            {
                this.pageLoaded = false;
            },
            pageHasLoaded()
            {
                this.pageLoaded = true;
            },
        },
        watch: {
            activePage: function (newVal, oldVal) {
                if (newVal === undefined)
                {
                    this.activePage = oldVal;
                }
            },
        }
    }
</script>

<style scoped>
    .pointer-events-none {
        pointer-events: none;
    }
</style>