<template>
    <div id="app">
        <v-app>
            <component :is="layout"></component>
        </v-app>
    </div>
</template>

<script>

    import { mapGetters } from 'vuex'

    import UnauthenticatedLayout from "@/views/layouts/UnauthenticatedLayout";
    import AppLayout from "@/views/layouts/AppLayout";
    import InitializeApiLayout from "@/views/layouts/InitializeApiLayout";

    export default {
        name: 'App',
        computed: {
            ...mapGetters({
                userAuthenticated: 'Auth/canDisplayAppLayout',
                isApiInitialized: 'Auth/isApiInitialized',
                isSuperAdmin: 'Auth/isSuperAdmin',
            }),
            layout() {
                if (this.userAuthenticated)
                {
                    if (!this.isApiInitialized && this.isSuperAdmin)
                    {
                        return InitializeApiLayout;
                    }
                    else
                    {
                        return AppLayout;
                    }
                }
                else
                {
                    return UnauthenticatedLayout;
                }
            },
        },
    }
</script>

<style>
</style>
