<template>
    <router-view></router-view>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "App",
        async created()
        {
            await this.setTimezone();
        },
        computed: {
            ...mapGetters({
                countryCode: 'Auth/getApiCountryCode',
            }),
        },
        methods: {
            setTimezone()
            {
                return new Promise( (resolve, reject) => {
                    this.Timezone.setTimezoneByCountryCode(this.countryCode);
                    resolve();
                });
            }
        }
    }
</script>

<style scoped>

</style>