<template>
    <div>
        <Navigation></Navigation>

        <v-content>
            <v-container fluid>
                <v-slide-x-transition mode="out-in" hide-on-leave>
                    <router-view></router-view>
                </v-slide-x-transition>
            </v-container>
        </v-content>
    </div>
</template>

<script>
    import Navigation from "@/components/Navigation";

    export default {
        name: "MainLayout",
        components: {
            Navigation,
        },
        mounted() {
            this.$swal.close();
        }
    }
</script>

<style scoped>

</style>