<template>
    <v-content>
        <v-container
                fluid
                class="fill-height"
        >
            <v-slide-x-transition mode="in-out" appear>
                <router-view name="Login"></router-view>
            </v-slide-x-transition>
        </v-container>
    </v-content>
</template>

<script>
    export default {
        name: "UnauthenticatedLayout",
    }
</script>

<style scoped>

</style>